<section class="store pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Arrive Prepared, And In Style.</h2>
			<p>As a chef goes, their knives go, and you can now take Prepdeck as you go, thanks to this functional, versatile and sleek custom designed canvas carry bag.</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/2_4x_705cd094-9201-4df1-8c20-bd7ebec5e3d3.png?9962808922119213923">
			</div>
		</div>
	</div>
</section>

<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Crafted from Canvas and high-quality PU-leather (a vegan alternative to Real Lether), this bad is durable and practical.</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/measurements_4x_copy_1838d903-50ea-4fdd-946f-1d244acdf44a.png?4788977758678183008" alt="">
			</div>
		</div>
	</div>
</section>
