<section class="no-mom pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Maximize Your Space</h2>
				<p>With this complete set of high quality, versatile and durable containers and lids, you'll never again run out of prepping space or storage again!</p>
				<p>Featuring nine containers in four versatile sizes, and a set of five water-tight lids, each container includes convenient measurement markings in ounces cups and milliliters so you can ditch the measuring cups, spoons, and jugs in one swoop!</p>
			</div>
		</div>
		<div class="thumb">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/2.png?8580053450502840018">
		</div>
	</div>
</section>

<section class="store pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Store Anything, Anytime</h2>
			<p>Thanks to their ultra streamlined designed and stackable lid system, you'll not only save time, space and stress when prepping meals, but keep your fridge tidy and organized when storing leftovers or pre-prepared meals.</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/3.png?15670999313095272713">
			</div>
		</div>
	</div>
</section>
<section class="food_container"> 
  {% section 'logo-bar' %}
</section>


<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality and Details</h2>
				<p>Our Containers are made from high-quality Tritan, a resilient and durable material with clear glass-like properties! Tritan is a BPA-free, antibacterial material that lasts longer and performs better than cheaper alternatives.</p>
				<p>Among other benefits, our containers are dishwasher safe, freezer safe, microwavable, odor resistant and won't scratch, stain or fade easily over time!</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/5.jpg?12791380228694358994" alt="">
			</div>
		</div>
	</div>
</section>