<section class="store pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Store Anything, Anytime</h2>
			<p>Thanks to their ultra streamlined designed and stackable lid system, you'll not only save time, space and stress when prepping meals, but keep your fridge tidy and organized when storing leftovers or pre-prepared meals.</p>
			<p>With this set of high quality, versatile and durable containers and lids, you'll add ample prepping and storage capacity to your Prepdeck!</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/3.png?15670999313095272713">
			</div>
		</div>
	</div>
</section>

<section class="store v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Endless Possibilities</h2>
			<p>Featuring two 24oz (700mil) containers with matching water-tight lids, there isn't much these containers can't do. Easily attach any of Prepdeck's clip-on accessories, or for added versatility, insert the small or medium containers at any time.</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/3_7d110ef2-5e7c-417b-a062-fc3d731fbd83.png?9459800278682589092">
			</div>
		</div>
	</div>
</section>

<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Our containers are made from high-quality Tritan, a resilient durable material with clear Glad-like properties! Tritan is a BPA-free, antibacterial material that lasts longer and performs better than cheaper alternatives.</p>
				<p>Among other benefits, our containers are dishwasher safe, freezer safe, microwavable, odor resistant and won't scratch, stain or fade easily over time!</p>
				<p>Each Large Container features 24oz/700ml of capacity.</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/measurment_3fffb212-c10d-48ca-aefa-76e2ecccc34d.jpg?14256775422862014046" alt="">
			</div>
		</div>
	</div>
</section>
