<section class="style pdm dark">
	<div class="container">
		<div class="the-content">
			<h2>Style To Suit You</h2>
			<p>With the detachable cutting board you can easily change the asthetic of your Prepdeck at any time.</p>
			<p>System Color</p>
			<ul class="colors">
				<li class="selected"><a href="javascript:;" data-color="dark">Dark</a></li>
				<li><a href="javascript:;" data-color="light">Light</a></li>
			</ul>
		</div>
	</div>
	<div class="thumbs">
		<div class="light">
			<img class="active" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/marvel.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/green.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/pinneaple.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/pink.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/stone.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/darkwood.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/wood1.jpg?12622448496240595678" alt="">
		</div>
		<div class="dark">
			<img class="active" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/black-unit.png?13454400766768848706" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/black-open.png?13454400766768848706" alt="">
		</div>
	</div>
</section>


<section class="no-mom v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Sometimes You Just Need To Detach</h2>
				<p>Whether it's time to clean up, or you simply need additional space to prep today's delicious recipe, Prepdeck's cutting boards are magnetic, so it's simple to disconnect and reconnect a cutting board at any time!</p>
			</div>
		</div>
		<div class="thumbs">
			<div class="track">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/greyer.png?2193553244593252529">
			</div>
		</div>
	</div>
</section>


<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Our cutting boards are made from durable, high-quality polypropylene, a BPA free, antibacterial, food safe material.</p>
				<p>Featuring a range of colors and finish options, our cutting boards include a finger tab for easy use with your Prepdeck and they're magnetic, which makes for easy detaching for cleaning or use of multiple boards when prepping.</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/measurements_4x.png?15393398957740808847" alt="">
			</div>
		</div>
	</div>
</section>