{% if type == 'block' %}
  {% assign contact_heading = block.settings.contact_heading %}
  {% assign contact_subheading = block.settings.contact_subheading %}
  {% assign contact_content = block.settings.contact_content %}
  {% assign contact_text_position = block.settings.contact_text_position %}
  {% assign contact_text_alignment = block.settings.contact_text_alignment %}
{% else %}
  {% assign contact_heading = section.settings.contact_heading %}
  {% assign contact_subheading = section.settings.contact_subheading %}
  {% assign contact_content = section.settings.contact_content %}
  {% assign contact_text_position = section.settings.contact_text_position %}
  {% assign contact_text_alignment = section.settings.contact_text_alignment %}
{% endif %}


<div class="container">
  {% assign textposition = contact_text_position %}
  {% if contact_heading != blank %}
    <h2 class="title center">{{ contact_heading }}</h2>
    <div class="feature_divider"></div>
  {% endif %}

    <div class="contact-form_position--{{ textposition }}">
      <div class="{% unless textposition == 'center' %}seven{% else %}ten offset-by-three{% endunless %} columns {% if contact_text_alignment == "center" %}center{% elsif contact_text_alignment == "right" %}align_right{% endif %}">
        {% if contact_subheading != blank %}
          <h3>{{ contact_subheading }}</h3>
        {% endif %}
        {% if contact_content != blank %}
          {{ contact_content }}
        {% endif %}
      </div>
    </div>
    <div class="{% unless textposition == 'center' %}eight {% if textposition == 'left' %}offset-by-one{% endif %}{% else %}ten offset-by-three{% endunless %} columns omega">
      {% form 'contact' %}
        {% if form.posted_successfully? %}
          <p class="quote">{{ 'contact.form.post_success' | t }}</p>
        {% endif %}

        {% if form.errors %}
          <p class="quote">{{ 'general.forms.post_error' | t }}</p>

         {% assign message = 'contact.form.message' | t %}
          <ul class="center">
            {% for field in form.errors %}
              {% if field == 'form' %}
                <li>
                  {{ form.errors.messages[field] }}
                </li>
              {% else %}
                <li>
                  {% assign field_name = field | replace: 'body', message %}
                  {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
                </li>
              {% endif %}
            {% endfor %}
           </ul>
        {% endif %}

         <div class="{% if textposition == 'center' %}five{% else %}four{% endif %} columns alpha">
          {% assign name_attr = 'contact.form.name' | handle %}
          <label for="contactFormName">{{ 'contact.form.name' | t }} <span class="red">*</span></label>
          <input type="text" id="contactFormName" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required">
         </div>
         <div class="{% if textposition == 'center' %}five{% else %}four{% endif %} columns omega">
          <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label>
          <input type="email" id="contactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" required="required">
         </div>
         {% comment %}
          {% assign name_attr = 'contact.form.phone' | t | handle %}
          <label for="contactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
          <input type="tel" id="contactFormPhone" name="contact[{{ name_attr }}]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
          {% endcomment %}

        <label for="contactFormMessage">{{ 'contact.form.message' | t }} <span class="red">*</span></label>
        <textarea rows="5" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>

        <input type="submit" class="submit action_button" value="{{ 'contact.form.send' | t }}" />
      {% endform %}
    </div>
</div>