{% if type == 'block' %}
  {% assign newsletter_title = block.settings.newsletter_title %}
  {% assign newsletter_text = block.settings.newsletter_text %}
  {% assign display_first_name = block.settings.display_first_name %}
  {% assign display_last_name = block.settings.display_last_name %}
  {% assign newsletter_section_text_align = block.settings.newsletter_section_text_align %}
  {% assign image = block.settings.image %}
{% else %}
  {% assign newsletter_title = section.settings.newsletter_title %}
  {% assign newsletter_text = section.settings.newsletter_text %}
  {% assign display_first_name = section.settings.display_first_name %}
  {% assign display_last_name = section.settings.display_last_name %}
  {% assign newsletter_section_text_align = section.settings.newsletter_section_text_align %}
  {% assign image = section.settings.image %}
{% endif %}

<div class="newsletter_section
            {% if display_first_name and display_last_name %}newsletter-both-names--true {% else %}newsletter-both-names--false {% endif %}
            {% if image != nil %}newsletter-bgr-true{% endif %}
            text-align--{{newsletter_section_text_align}}
            lazyload
            {{ settings.image_loading_style }}"
      {% if image != nil %}style="background-image: url(https:{{ image | img_url: '1600x'}})"{% endif %}>
  <div class="container">
<!--     <div class="{% if newsletter_section_text_align == "center" %}offset-by-three{% elsif newsletter_section_text_align == "right" %} offset-by-six{% endif %} ten columns section_form"> -->
     <div class="col-md-12 section_form"> 
    {% if newsletter_title != blank %}
        <h2 class="title">{{ newsletter_title }}</h2>
      {% endif %}
      {% if newsletter_text != blank %}
        <div class="newsletter-text">{{ newsletter_text }}</div>
      {% endif %}
    <div class="newsletter">
      <span class="message"></span>
      {% if settings.mailchimp_link != blank %}
        <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" id="contact_form" target="_blank">
          <div class="input-row">
            {% if display_first_name %}
              <input type="text" value="" class="firstName" name="FNAME" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}">
            {% endif %}
            {% if display_last_name %}
              <input type="text" value="" name="LNAME" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}">
            {% endif %}
          </div>

          <div class="input-row">
            <input type="email" value="" name="EMAIL" class="contact_email" placeholder="{{ 'general.newsletter_form.placeholder' | t }}">
            <input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="action_button sign_up" name="subscribe" onClick="ga('send', 'event', 'emailcapture', 'submission', 'form');" />
          </div>
        </form>
      {% else %}
        {% form 'customer' %}
          {% if form.posted_successfully? %}
            <p><em>{{ 'general.newsletter_form.success_text' | t }}</em></p>
          {% elsif form.errors %}
            {% for field in form.errors %}
              <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
            {% endfor %}
          {% endif %}

          <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
          <div class="input-row">
            {% if display_first_name %}
              <input type="text" class="firstName" name="contact[first_name]" placeholder="{{ 'general.newsletter_form.subscriber_first_name' | t }}" />
            {% endif %}
            {% if display_last_name %}
              <input type="text" name="contact[last_name]" placeholder="{{ 'general.newsletter_form.subscriber_last_name' | t }}" />
            {% endif %}
          </div>

          <div class="input-row">
            <input type="hidden" name="challenge" value="false" />
            <input type="email" class="contact_email" name="contact[email]" required placeholder="{{ 'general.newsletter_form.placeholder' | t }}" />
            <input type='submit' class="action_button sign_up" value="{{ 'general.newsletter_form.submit' | t }}" />
          </div>
        {% endform %}
      {% endif %}
     </div>
    </div>
  </div>
</div>