<section class="no-mom v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Clear Counter Clear Mind</h2>
				<p>Your knives are an integral part of cooking, but when they're not being used, they take up valuable space on the counter or disappear into the abyss of the utensil drawer. We designed our knife block to integrate seamlessly inside Prepdeck, so your knives are ready and waiting when you need them, and our of the way when you don't.</p>
			</div>
		</div>
		<div class="thumbs">
			<div class="track">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/knife-2nd.png?7547811460616505252">
			</div>
		</div>
	</div>
</section>


<section class="features pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Smarter <br/> Knife Storage</h2>
			<p>Beautifully hand finished, the Prepdeck Knife Block is as sleek as it is functional. Fit up to five 8" chef knives, the handle carveout makes for easy removal when it's time to get to work.</p>
		</div>
		<div class="thumb">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/storage.png?14186339667513568825" alt="">
		</div>
	</div>
</section>


<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Capacity for up to five 8" chef knives.</p>
				<p>Made from hand finished, sustainable bamboo.</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/quality_7f6a8552-6220-41d8-ab57-3f96066c164d.jpg?13286749873437868348" alt="">
			</div>
		</div>
	</div>
</section>