{% assign image = 'image' %}
{% assign title = 'title' %}
{% assign desc = 'desc' %}
{% assign bg = 'bg' %}

	<div data-slide="{{ title }}" class="container {% if bg == true %}bg{% endif %}" {% if bg == true %}style="background-image:url('{{ image | img_url : 'x1400' }}')"{% endif %}>
		<div class="dleft">
			<div class="the-content">
				<h3>{{ title }}</h3>
				{{ desc }}
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img class="lazyload" src="{{ image | img_url : 'x100' }}" 
				data-src="{{image | img_url}}"
				data-srcset="{{ image | img_url : 'x700' }} 700w,
				{{ image | img_url : 'x600' }} 600w,
				{{ image | img_url : 'x500' }} 500w,
				{{ image | img_url : 'x400' }} 400w,
				{{ image | img_url : 'x300' }} 300w"
				data-sizes="auto"

				alt="">
			</div>
		</div>
	</div>