{% assign image = 'image' %}
{% assign title = 'title' %}
{% assign desc = 'desc' %}

<article>
	<div class="thumb">
		<img class="lazyload" src="{{ image | img_url: 'x100' }}" alt=""
				data-src="{{image | img_url}}"
				data-srcset="{{ image | img_url : 'x800' }} 800w,
				{{ image | img_url : 'x700' }} 700w,
				{{ image | img_url : 'x600' }} 600w,
				{{ image | img_url : 'x500' }} 500w,
				{{ image | img_url : 'x400' }} 400w,
				{{ image | img_url : 'x300' }} 300w"
				data-sizes="auto"
		>
	</div>
	<div class="the-content">
		<h3>{{ title }}</h3>
		<p>{{ desc }}</p>
	</div>
</article>