<div class="remodal prepdeck-upsell-popup" data-remodal-id="prepdeck-upsell-popup" data-remodal-options="hashTracking: false">
  <a data-remodal-action="close" class="remodal-close"></a>
  
  <div class="popup-header">
    <img src="{{ 'check-green.svg' | asset_url }}">'Prepdeck' <b>added to cart!</b>
  </div>
  
  <div class="product-info">
    <img src="">
    <div class="product-attribute">
      <div class="product-option">Color:</div>
      <div class="price"></div>
      <a href="\cart">View Cart</a>
    </div>
  </div>
  
  <div class="suggest-product">
    <div class="sgp-info">
      <div class="today-only">TODAY ONLY!</div>
      <div class="sgp-title">Upgrate to Prepdeck+</div>
      <p>with The New York Times Cooking</p>
    </div>
    <img src="{{ 'prepdeck-plus.png' | asset_url }}">
  </div>
  
  {% assign upsell_product = all_products['prepdeck-upgrade'] %}
  <div class="upsell-dropdown" data-variantid="{{upsell_product.first_available_variant.id}}">
    <label>Cutting Board Color: <span>{{ upsell_product.first_available_variant.option1 }}</span></label>
    <ul>
    {% for variant in upsell_product.variants %}
      {% if variant.available %}
      	<li data-variantid="{{variant.id}}">{{ variant.option1 }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  
  <a class="upgrade" href="#">Upgrade for only $40</a>
  
  <div class="upgraded-people">73 people recently upgraded!</div>
  
  <div class="package-info">
  	<h2>Complete your package <br>to <b>$300+</b> total value</h2>
    <h3>When you upgrade, you'll get:</h3>
    
    <div class="package-content">
      <div class="package-item">
        <img src="{{ 'package1.png' | asset_url }}">
        <p>2 x Additional Large <br>Container with Lids</p>
      </div>
      
      <div class="package-item">
        <img src="{{ 'package2.png' | asset_url }}">
        <p>1 x XL Container Set <br>with Divider & Lid</p>
      </div>
      
      <div class="package-item">
        <img src="{{ 'package3.png' | asset_url }}">
        <p>1 x Additional <br>Cutting Board</p>
      </div>
      
      <div class="package-item">
        <img src="{{ 'package4.png' | asset_url }}">
        <p>1 x Phone / <br>Tablet Stand</p>
      </div>
    </div>
    
    <div class="nyt-content">
      <img src="{{ 'NYT-Cooking.png' | asset_url }}">
      <p class="nyt-info">6-Month Subscription to NYT Cooking</p>
    </div>
    <p style="line-height: 24px; margin: 30px auto;">The Prepdeck+ bundle includes our fully-loaded Prepdeck, plus essential extras to facilitate meal prep and mise en place at its finest.</p>
  </div>
  
  <div class="feedback">
    <div class="feedback-content">“I got the Prepdeck Plus.  It’s been a joy prepping for every meal I make! The value I got out it so far is simply amazing!”</div>
    <div class="feedback-author">Michele Limtiaco <span>9/5/2019</span></div>
  </div>
  
  
  <div class="additional-info">
    <ul>
      <li><img src="{{'addinfo1.png' | asset_url}}"> Free Shipping in USA</li>
      <li><img src="{{'addinfo2.png' | asset_url}}"> 30-Day Money-Back Guarantee</li>
      <li><img src="{{'addinfo3.png' | asset_url}}"> Blazing-Fast Customer Service</li>
    </ul>

    <div class="secure-info">
      <img src="{{'shopify_secure.png' | asset_url}}">
      <img src="{{'mcafee_secure.png' | asset_url}}">
    </div>
  </div>
  
  <div class="upsell-dropdown" data-variantid="{{upsell_product.first_available_variant.id}}">
    <label>Cutting Board Color: <span>{{ upsell_product.first_available_variant.option1 }}</span></label>
    <ul>
    {% for variant in upsell_product.variants %}
      {% if variant.available %}
      	<li data-variantid="{{variant.id}}">{{ variant.option1 }}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
  <a class="upgrade" href="#">Upgrade for only $40</a>
  
  <div><a data-remodal-action="close" class="no-thanks" href="#">No, Thanks</a></div>
</div>