

{% if template contains 'cart' %}
  {% if cart.total_price >= 10000 %}
  <div class="prepdeck-sticky-header">
    <div class="cart-sticky">
      <div>
        {% assign var_taxRate = 0.095 %}
        {% capture var_taxAmount %}{{ cart.total_price | times: var_taxRate }}{% endcapture %}
        {% capture var_totalPlusTax %}{{ cart.total_price | plus: var_taxAmount }}{% endcapture %}
        <div class="price">{{ cart.total_price | money }}</div>
        <div class="shipping-info"><img src="{{'check-green.svg' | asset_url}}">Free Shipping!</div>
      </div>
      <a href="#" class="secure_checkout">Secure Checkout</a>
    </div>
  </div>
  {% endif %}
{% elsif template contains 'product' %}
<div class="prepdeck-sticky-header">
  <div class="modal_price">
    <div class="money">{{ product.selected_or_first_available_variant.price | money }}</div>
    <div style="overflow: hidden;">
      <p class="affirm-as-low-as money_addinfo" data-page-type="product" data-amount="{{product.selected_or_first_available_variant.price}}"></p>
    </div>
    {% comment %}
    <div class="money_addinfo">
      <b>$29/m</b>
      <div>with</div>
      <div><img src="{{'affirm.png' | asset_url}}"></div>
    </div>
    {% endcomment %}
  </div>


  <button class="add_tocart_sticky">
    <span class="text">Add To Cart</span>
    <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
      <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
    </svg>
  </button>
  <a href="#looxReviews">
    <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    <div class="loox-rating-info">{{ product.metafields.loox.avg_rating }} </div>
  </a>
</div>
{% endif %}