
{% if product.handle == 'prepdeck-pro'%}
<style>
.thumbnail-trigger{
  display:none !important;
}
</style>
{%endif%}

{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}


<div class="gallery-wrap js-product-page-gallery clearfix
            gallery-arrows--{{section.settings.gallery_arrows}}
            {% if section.settings.product_thumbs %} {{ section.settings.thumbnail_position }} {% endif %}
            slideshow_animation--{{ section.settings.slideshow_animation }}
            ">
  
  <div class="product_gallery product-{{ product.id }}-gallery
              {% if product.images.size > 1 %} multi-image {% endif %}
              {% if product.images.size <= 1 %} single-image {% endif %}
              {% if settings.slideshow_button_style != true %}light-button{% endif %}
              "
      data-zoom="{{ section.settings.activate_zoom }}"
      data-autoplay="{{ section.settings.activate_autoplay }}">

   
        {% if product.handle == 'prepdeck' or product.handle == 'prepdeck-plus' or product.handle == 'prepdeck-2-pack'%}

          {% for variant in product.variants %}
          
             {% assign images = variant.metafields.images.product | split: ',' %}
                {% for image in images %}
                <div class="gallery-cell">
                  
                <img class="lazyload"  data-variant-id="{{ variant.id }}"
                data-index="{{ forloop.index }}" 
                data-src="https://{{image | lstrip }}"
                data-srcset="https://{{image | lstrip}}x900 900w,
                https://{{image | lstrip}}x800 800w,
                https://{{image | lstrip}}x700 700w,
                https://{{image | lstrip}}x600 600w,
                https://{{image | lstrip}}x400 400w,
                https://{{image | lstrip}}x300 300w"
                data-sizes="auto"
                     />
                </div>
                {%endfor%}
           {%endfor%}

           {%else%}
            
                {% for image in product.images %}
                <div class="gallery-cell">
                <img class="lazyload" src="{{image | img_url: '100x'}}"  data-variant-id="{{ variant.id }}" data-index="{{ forloop.index }}"
                data-src="{{image |img_url}}"
                data-srcset="{{image | img_url: '900x'}} 900w,
                {{image | img_url: '700x'}} 700w,
                {{image | img_url: '500x'}} 500w,
                {{image | img_url: '300x'}} 300w"
                data-sizes="auto"
                 />
                </div>
                {%endfor%}
         
    {%endif%}

   
  </div>
  {% if section.settings.product_thumbs %}
    {% if product.images.size > 1 and image_width != 'full' %}
   <div class="product_gallery_nav product-{{ product.id }}-gallery-nav thumbnail-gallery">

          {% for variant in product.variants %}
             {% assign images = variant.metafields.images.product | split: ',' %}
                {% for image in images %}

            <div class="gallery-cell"  data-loop-index="{{forloop.index0}}" data-variant-id="{{variant.id}}" data-title="{{ image_alt | escape }}">
                <img class="lazyload" style="height:50px !important;" src="https://{{ image | lstrip}}x100"
                      alt="{{ image.alt | escape }}"
                      data-index="{{ forloop.index0 }}"
                      data-image-id="{{ image.id }}"
                      data-featured-image="{{featured_image.id}}"
                      />
            </div>

        {%endfor%}


          {% endfor %}
    </div>
          <div class="thumbnail-trigger"> <a class="thumbnail-reveal" href="javascript:void(0);"> SEE MORE IMAGES</a> </div>

    {% endif %}
  {% endif %}
  
  <a href="#" class="btn-zoom"><img src="{{ 'zoom.svg' | asset_url }}"> Zoom</a>
  <a href="#" class="close-zoom"></a>
  
</div>


