{% if product.available %}

  {% if section.settings.show_payment_button %}
    {% assign show_payment_button = true %}
  {% elsif show_payment_button_quickshop %}
    {% assign show_payment_button = true %}
  {% else %}
    {% assign show_payment_button = false %}
  {% endif %}

  {% assign variant = product.selected_or_first_available_variant %}

  <div class="clearfix product_form init smart-payment-button--{{ show_payment_button }} {% if product.variants.size > 1 or product.options.size > 1 %}product_form_options{% endif %} product_form--{{ settings.product_form_style }}"
        id="product-form-{{ product.id }}"
        data-money-format="{{ shop.money_format }}"
        data-shop-currency="{{ shop.currency }}"
        data-select-id="product-select-{{ product.id }}{{ product-form }}{{ section.id }}{{ block.id }}"
        data-enable-state="{% if template contains 'product' %}true{% else %}false{% endif %}"
        data-product="{{ product | json | escape }}"
        {% if settings.limit_quantity or settings.display_inventory_left %}
          data-variant-inventory='[{%- for v in product.variants -%}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{%- endfor -%}]'
        {% endif %}
        data-product-id="{{ product.id }}"
        >
    {% form 'product', product %}
    
    {% if product.id != 2107970453615 %}

		<select name="id" id="ProductSelect">
			{% for variant in product.variants %}
				<option data-o1="{{variant.option1}}" data-o2="{{variant.option2}}" data-o3="{{variant.option3}}" value="{{ variant.id }}"
                        data-imageurl="{% if variant.image != blank %}{{variant.image | img_url: '150x'}}{% else %}{{product.featured_image | img_url: '150x'}}{% endif %}"
                        data-price="{{ variant.price | money }}">{{ variant.title }} ({{ variant.id }})</option>
			{% endfor %}
		</select>
   
   {% endif %}
    
	{% if product.id == 2107970453615 %}
		{% comment %}
			https://freakdesign.myshopify.com/admin/blogs/4018421/articles/105830151
		{% endcomment %}
		{% assign productVariants = product.variants %}
		{% assign productOptionNames = product.options | json %}
    
		{% assign productList = 'prepdeck-pro-glacier-white,prepdeck-pro-licorice,prepdeck-pro-black-marble,prepdeck-pro-mint,prepdeck-pro-pineapple-punch,prepdeck-pro-rose,prepdeck-pro-speckled-grey,prepdeck-pro-walnut,prepdeck-pro-birch' | replace:' ' | split:',' %}
    
		{% for productListHandle in productList %}
    
			{% assign productListItem = all_products[productListHandle] %}
    		{% if productListItem.available %}
              {% assign productListOption = productListItem.options | json %}
              {% unless productListOption == productOptionNames %}{% continue %}{% endunless %}
              {% assign productVariants = productVariants | concat:productListItem.variants %}
    		{% endif %}
    
		{% endfor %}
    
		<select name="id" id="ProductSelect">
			{% for variant in productVariants %}
				<option data-o1="{{variant.option1}}" data-o2="{{variant.option2}}" data-o3="{{variant.option3}}" value="{{ variant.id }}">{{ variant.title }} ({{ variant.id }})</option>
			{% endfor %}
		</select>
    
	{% endif %} 
    

    {% if settings.product_form_style == "swatches" and product.variants.size > 1 or settings.product_form_style == "swatches" and product.options[0] != "Title" %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch-prepdeck' with option %}
        {% endfor %}
      </div>
    {% endif %}

   
   
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}
          {% if variant.inventory_quantity <= settings.inventory_threshold %}
            {{ variant.inventory_quantity }} {{ items_left_text }}
          {% endif %}
        {% endif %}
      </div>
    {% endif %}

    <h4>Choose Quantity</h4>
    <div class="purchase-details">
      
      {% if settings.display_product_quantity %}
        <div class="purchase-details__quantity product-quantity-box">
          <div class="product-quantity-control">
            <span class="ss-icon product-minus js-change-quantity" data-func="minus">-</span>
            <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if settings.limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
            <span class="ss-icon product-plus js-change-quantity" data-func="plus">+</span>
          </div>
          
          <div>$30 off for 2 or more</div>
        </div>
      {% endif %}
     
      
        <div class="items_left"{% if variant.inventory_quantity <= 0 %} style="display: none;"{% endif %}>
          {% assign low_stock_limit = settings.low_stock_limit | plus: 0 %}
          <label>In Stock</label><div style="margin: 0 10px;">|</div>
          <div data-limit="{{low_stock_limit}}" class="inventory_warning"{% if low_stock_limit < variant.inventory_quantity %} style="display: none;"{% endif %}>Only <span class="inventory">{{variant.inventory_quantity}}</span> Left!</div>
          <a href="#" class="add_to_reserve">Add to cart to reserve</a>
        </div>
      
        <div class="items_backorder"{% if variant.inventory_quantity > 0 %} style="display: none;"{% endif %}>
          <label>BackOrdered</label><div style="margin: 0 10px;">|</div>
          <div class="backordertext">Shipping <span class="backorderdate">{{variant.next_incoming_date | date: '%B %e, %Y'}}</span></div>
          <a href="#" class="add_to_reserve">Add to cart to reserve</a>
        </div>
      

      
      <div class="modal_price">
        <div class="money">{{ variant.price | money }}</div>
        <p class="affirm-as-low-as money_addinfo" data-page-type="product" data-amount="{{variant.price}}"></p>
      {% comment %}
        <div class="money_addinfo">
          <b>$29/m</b>
          <div>with 0%APR</div>
          <div><img src="{{'affirm.png' | asset_url}}"></div>
        </div>
      {% endcomment %}
      </div>

      {% include 'product-notify-me' %}


        <div class="purchase-details__buttons">
          
          {% comment %}
        {% if settings.cart_action == 'reload_page' %}
          <input type="hidden" name="return_to" value="back" />
        {% elsif settings.cart_action == 'redirect_checkout' %}
          <input type="hidden" name="return_to" value="/checkout" />
        {% endif %}
          {% endcomment %}
        
        <button id="add-prepdeck-cart" {% comment %}type="submit" {% endcomment %} name="add" class="action_button add_to_cart {% if show_payment_button %} action_button--secondary {% endif %}" data-label={{ add_to_cart_label | json }}>
          <span class="text">Add To Cart</span>
          <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
            <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
          </svg>
        </button>

        {% if show_payment_button %}
          {{ form | payment_button }}
        {% endif %}
          
          <div style="margin-top: 20px;"><img src="{{'paypal.png' | asset_url}}"> Available</div>
          
      </div>
    </div>
   
    
  {% endform %}
</div>
{% endif %}