{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = product-swatch-prepdeck %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'cutting board'%}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}


{% assign productVariants = product.variants %}
   


  {% assign availablePrepdeckColors = '' %}
  {% for prepdeckVariant in all_products['prepdeck']['variants'] %}
	{% if prepdeckVariant.available %}
		{% assign availablePrepdeckColors = availablePrepdeckColors | join: ',' %}
        {% assign availablePrepdeckColors = availablePrepdeckColors | append: ',' | append: prepdeckVariant.title %}
        {% assign availablePrepdeckColors = availablePrepdeckColors | split: ',' %}
	{% endif %}
  {% endfor %}


  <div class="swatch clearfix id{{ product.id }}" data-option-index="{{ option_index }}">
    <div class="option_title">Choose {{ swatch }}: <span class="option_value">{% if productVariants[0].available %}{{ productVariants[0].options[option_index] | escape }}{% endif %}</span></div>
    {% assign values = '' %}
    {% for variant in productVariants %}

      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}
        
        <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" data-variant-id="{{variant.id}}" {% if variant.id == product.selected_or_first_available_variant.id %} checked="checked"{% endif %}/>

        <div data-value="{{ value | escape }}" }
             	class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% unless product.title contains 'Prepdeck Pro' %} {% if variant.available %}available{% else %}soldout{% endif %} {% endunless %}"
	            style="{%if variant.available%}{%else%}display:none;{%endif%}"
             data-variant-id="{{variant.id}}" 
             data-inventory="{{variant.inventory_quantity}}"
             data-backdate="{{variant.next_incoming_date | date: '%B %e, %Y'}}"
             data-loop-index="{{forloop.index0}}">

          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}

          {% if is_color %}

            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" 
                   style="{%if value == 'White Marble'%}background-image: url(https://cdn.shopify.com/s/files/1/0062/8467/3135/t/21/assets/glacier-white_50x.png?2490);{%else%}background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }} {%endif%}); background-color: {{ value | split: ' ' | last | handle }};">
              <span class="crossed-out"></span>
            </label>

          {% else %}

            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
              {{ value }}
              <span class="crossed-out"></span>
            </label>

          {% endif %}

        </div>
    
      {% endunless %}
    {% endfor %}
  </div>


