{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% assign swatch = product-swatch2 %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' or downcased_option contains 'cutting board'%}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}


{% if product.id == 2107970453615 %}

	{% comment %}
		https://freakdesign.myshopify.com/admin/blogs/4018421/articles/105830151
	{% endcomment %}

	{% assign productVariants = product.variants %}

	{% assign productOptionNames = product.options | json %}

	{% assign productList = 'prepdeck-pro-licorice,prepdeck-pro-black-marble,prepdeck-pro-mint,prepdeck-pro-pineapple-punch,prepdeck-pro-rose,prepdeck-pro-speckled-grey,prepdeck-pro-walnut,prepdeck-pro-birch' | replace:' ' | split:',' %}
	
	{% for productListHandle in productList %}

		{% assign productListItem = all_products[productListHandle] %}
    		{% if productListItem.available %}
              {% assign productListOption = productListItem.options | json %}
              {% unless productListOption == productOptionNames %}{% continue %}{% endunless %}
              {% assign productVariants = productVariants | concat:productListItem.variants %}
		{% endif %}

	{% endfor %}


{% else %}

   {% assign productVariants = product.variants %}
   
{% endif %} 





{% if product.id == 2107970453615 %}

  {% if swatch == 'Additional Cutting Board #1 Color' or swatch == 'Additional Cutting Board #2 Color' %}

    <div class="swatch clearfix id{{ product.id }}" data-option-index="{{ option_index }}">
		<div class="option_title">{{ swatch }}</div>

          {% assign values = '' %}
            {% for variant in productVariants %}
              {% assign value = variant.options[option_index] %}
              {% unless values contains value %}
                {% assign values = values | join: ',' %}
                {% assign values = values | append: ',' | append: value %}
                {% assign values = values | split: ',' %}

                {% assign boardAvailable = 'false' %}
                {% assign cuttingBoards = all_products['cutting-boards'] %}
                {% assign board = value %}

                {% for variant in cuttingBoards.variants %}
                  {% if variant.title == board %}
                    {% if variant.available %}
                      {% assign boardAvailable = 'true' %}
                    {% endif %}
                  {% endif %}
                {% endfor %}

                {% unless boardAvailable == 'false' %}
                  <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" />
                {% endunless %}

                     <div data-value="{{ value | escape }}" style="{%if variant.available%}{%else%}display:none;{%endif%}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if boardAvailable == 'false' %}soldout{% endif %} ">

                        <div class="tooltip">{{ value }}</div>

                        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="{%if value == 'White Marble'%}
                       background-image: url(https://cdn.shopify.com/s/files/1/0062/8467/3135/t/21/assets/glacier-white_50x.png?2490);
                        {%else%}background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }} {%endif%}); background-color: {{ value | split: ' ' | last | handle }};">
                          <span class="crossed-out"></span>
                        </label>

                  </div>
      
            {% endunless %}
          {% endfor %}

    </div>

  {% else %}

    <div class="swatch clearfix id{{ product.id }}" data-option-index="{{ option_index }}">
      <div class="option_title">{{ swatch }}</div>
      {% assign values = '' %}
      {% for variant in productVariants %}
        {% assign value = variant.options[option_index] %}

        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %}
          {% assign values = values | split: ',' %}

          <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" data-variant-id="{{variant.id}}" value="{{ value | escape }}" />

          <div data-value="{{ value | escape }}" data-variant-id="{{variant.id}}" style="{%if variant.available%}{%else%}display:none;{%endif%}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% unless product.title contains 'Prepdeck Pro' %} {% if variant.available %}available{% else %}soldout{% endif %} {% endunless %}">

            {% if is_color %}
              <div class="tooltip">{{ value }}</div>
            {% endif %}

            {% if is_color %}

              <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
                <span class="crossed-out"></span>
              </label>

            {% else %}

              <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
                {{ value }}
                <span class="crossed-out"></span>
              </label>

            {% endif %}

          </div>
        {% endunless %}

      {% endfor %}
    </div>

  {% endif %}

{% else %}

  {% assign availablePrepdeckColors = '' %}
  {% for prepdeckVariant in all_products['prepdeck']['variants'] %}
	{% if prepdeckVariant.available %}
		{% assign availablePrepdeckColors = availablePrepdeckColors | join: ',' %}
        {% assign availablePrepdeckColors = availablePrepdeckColors | append: ',' | append: prepdeckVariant.title %}
        {% assign availablePrepdeckColors = availablePrepdeckColors | split: ',' %}
	{% endif %}
  {% endfor %}


  <div class="swatch clearfix id{{ product.id }}" data-option-index="{{ option_index }}">
    <div class="option_title">{{ swatch }}</div>
    {% assign values = '' %}
    {% for variant in productVariants %}

      {% assign value = variant.options[option_index] %}
      {% unless values contains value %}
        {% assign values = values | join: ',' %}
        {% assign values = values | append: ',' | append: value %}
        {% assign values = values | split: ',' %}
        
        <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}" data-variant-id="{{variant.id}}" />

        <div data-value="{{ value | escape }}" 
             {% if product.id == 2104967659631 and swatch == 'Color' %}
             	class="swatch-element color {{ value | handle }}-swatch 2104967659631 {% if availablePrepdeckColors contains value %}available{% else %}soldout{% endif %}" 
             	{% if availablePrepdeckColors contains value %}{% else %}style="display:none;"{% endif %}
             {% else %}
             	class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% unless product.title contains 'Prepdeck Pro' %} {% if variant.available %}available{% else %}soldout{% endif %} {% endunless %}"
	            style="{%if variant.available%}{%else%}display:none;{%endif%}"
             {% endif %}
             data-variant-id="{{variant.id}}" 
             data-loop-index="{{forloop.index0}}">

          {% if is_color %}
            <div class="tooltip">{{ value }}</div>
          {% endif %}

          {% if is_color %}

            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" 
                   style="{%if value == 'White Marble'%}background-image: url(https://cdn.shopify.com/s/files/1/0062/8467/3135/t/21/assets/glacier-white_50x.png?2490);{%else%}background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }} {%endif%}); background-color: {{ value | split: ' ' | last | handle }};">
              <span class="crossed-out"></span>
            </label>

          {% else %}

            <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
              {{ value }}
              <span class="crossed-out"></span>
            </label>

          {% endif %}

        </div>
    
      {% endunless %}
    {% endfor %}
  </div>

{% endif %} 

