{% assign productID = 1851535982703 %}


<input id="swatch-{{ productID }}-{{ varient.id }}" name="option3" type="radio" value="{{ varient.title }}"{% if forloop.first %} checked{% endif %} />

<div data-value="{{ varient.title }}" data-varient="{{ varient.id }}" style="{%if variant.available%}{%else%}display:none;{%endif%}" class="swatch-element board {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">

<label for="swatch-{{ productID }}-{{ varient.id }}">
	{{ varient.title }}
	<span class="crossed-out"></span>
</label>

</div>
