<script>
    var SCTParams = {
        "id" : "8f398a5ed1603903386d4684b5fce183",
        "appFolder" : "sales-countdown-timer",
        "apiScript" : "{{ 'api.jquery.js' | shopify_asset_url }}",
        "product" : {{ product | json }},
        "collection": {{ collection.id | json }},
        "template": {{ template.name | json }},
      	"page": {{ page.handle | json }}
    }
    if (SCTParams.product !== null) {
        var collectionsArr = {{ product.collections | json }};
        var collectionsObj = {};
        collectionsArr.forEach(function (col) {
            collectionsObj[col.id] = col;
        });
        SCTParams.product.collections = collectionsObj;
    }
</script>
