<section class="quality highlights pdm p-{{ product.handle }}">
	<div class="items">
		<div class="track">
			<div data-slide="Device Stand" class="container bg" style="background-image:url('//cdn.shopify.com/s/files/1/0062/8467/3135/files/1_4x_x1400.png?v=1549242676')">
				<div class="dleft">
					<div class="the-content">
						<h3>A World of Flavor At Your Fingertips</h3>
						<p>The Prepdeck Mobile Device stand brings the world of digital recipes and educational content right to your prepping station. The Device Stand connects directly to Prepdeck keeping your phone or table directly in fron of youm but our of the way as you prep.</p>
					</div>
				</div>
				<div class="dright">
					<div class="thumb">
						<img src="//cdn.shopify.com/s/files/1/0062/8467/3135/files/1_4x_x700.png?v=1549242676" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="no-mom v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Streamlined And Flexible</h2>
				<p>Whether you're using your smartphone or a tablet with a 12" screen, this sleek, functional add-on will help take your cooking enjoyment to new heights.</p>
			</div>
		</div>
		<div class="thumbs">
			<div class="track">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/device1.png?5699972692887115505">
			</div>
		</div>
	</div>
</section>


<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Accommodates most smartphones and tablets up to 12".</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/measurements_4x_1aa62fe0-6f31-4cba-a320-145d08ab8cc8.png?10949508094994721068" alt="">
			</div>
		</div>
	</div>
</section>