<section class="no-mom v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Expand Your Prepping Options</h2>
				<p>The XL Container takes your Prepdeck experience to an entirely new level. With over 51oz (1.5L) of capacity, the XL Container can be positioned anywhere inside your Prepdeck or used as the ultimate leftover container.</p>
			</div>
		</div>
		<div class="thumbs">
			<div class="track">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/xl2.png?16657424599443962937">
			</div>
		</div>
	</div>
</section>


<section class="store pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Store And Stack</h2>
			<p>Thanks to their ultra streamlined designed and stackable lid system, you'll not only save time, space, and stress when prepping meals, but keep your fridge tidy and organized when storing leftovers or pre-prepared meals.</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/xl3.png?16657424599443962937">
			</div>
		</div>
	</div>
</section>

<section class="store v2 pdm p-{{ product.handle }}">
	<div class="container">
		<div class="the-content">
			<h2>Divide And Conquer</h2>
			<p>Mix and match, sliced or dices. Whatever you need, the handy divider lets you split the XL Container into two flexible sections so you can adapt to your recipe or storage needs at any time.</p>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/xl4_4x_a4738562-708e-47be-aaeb-76bffc998235.png?16657424599443962937">
			</div>
		</div>
	</div>
</section>



<section class="quality pdm p-{{ product.handle }}">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality And Details</h2>
				<p>Our containers are made from high-quality Tritan, a resilient and durable material with clear glass-like properties! Tritan is a BPA-free, antibacterial material that lasts longer and performs better than cheaper alternatives.</p>
				<p>Among other benefits, our containers are dishwasher safe, freezer safe, microwaveable, odor resistant, and won't scratch, stain, or fade easily over time!</p>
				<p>XL Container features 51oz / 1.5L of capacity.</p>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/xl-measurements_4x.png?5096302252287537475" alt="">
			</div>
		</div>
	</div>
</section>