{% paginate customer.orders by 20 %}
  <a name="pagecontent" id="pagecontent"></a>

  <header class="account-header clearfix">
    <div class="eight columns account-header-title">
      <h1>{{ 'customer.account.details' | t }}</h1>
    </div>

  </header>
  <div class="feature_divider"></div>

<div class="container">
  <div class="row section clearfix">
    <aside class="col-md-4 account-sidebar">
      <h4 class="name"><a href="/account" title="{{ 'layout.customer.my_account' | t }}">{{ customer.name }}</a></h4>
      <p class="email note">{{ customer.email }}</p>
      <h4>{{ 'customer.addresses.primary' | t }}</h4>
      <div class="address note">
        {% if customer.default_address != nil %}
          <p>{{ customer.default_address.address1 }}</p>
          {% if customer.default_address.address2 != "" %}
            <p>{{ customer.default_address.address2 }}</p>
          {% endif %}
          <p>{{ customer.default_address.city}}{% if customer.default_address.province_code %}, {{customer.default_address.province_code}}{% endif %} {{ customer.default_address.zip}}</p>
          <p>{{customer.default_address.country}}</p>
          <p>{{ customer.default_address.phone }}</p>
        {% else %}
          <p>{{ 'customer.addresses.no_addresses' | t }}</p>
        {% endif %}
          <p><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a></p>
      </div>
          <div class="account-header-logout">
      <span>{{ 'layout.customer.log_out' | t | customer_logout_link }}</span>
    </div>
    </aside>
    <main class="col-md-8 account-main">
      <div id="customer_orders">
        <h4>{{ 'customer.orders.title' | t }}</h4>

        {% if customer.orders.size != 0 %}
        <table width="100%">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
                  <td>{{ order.name | link_to: order.customer_url }}</td>
                  <td>{{ order.created_at | date: format: "month_day_year" }}</td>
                  <td>{{ order.financial_status_label }}</td>
                  <td>{{ order.fulfillment_status_label }}</td>
                  <td>
                    <span class="money">{{ order.total_price | money }}</span>
                  </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <p>{{ 'customer.orders.none' | t }}</p>
        {% endif %}

        {% include 'pagination' with true %}
      </div>
    </main>
  </div>
</div>
{% endpaginate %}
<style>
  div.section {
    margin: 0;
}
  a#customer_logout_link {
    box-shadow: 0 20px 30px rgba(6, 26, 21, 0.14);
    border-radius: 43px;
    color: #ffffff !important;
    font-size: 20px;
    padding: 18px 40px;
    background-color: #25b1a1;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-top: 30px;
    min-width: 200px;
    text-align: center;
}
  a#customer_logout_link:hover, .buy_btn:focus {
    text-decoration: none;
    color: #fd8251 !important;
}
  th ,td{
    border: 1px solid #e8e9eb;
    padding: 10px 14px;
}
</style>
