{% capture content %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    <!--Lazy Loading -->
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
})(window,document.documentElement,'async-hide','dataLayer',4000,
{'GTM-W6WS9L2':true});</script>
    
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W6WS9L2');</script>
<!-- End Google Tag Manager -->

<script src="{{ "lazysizes.min.js" | asset_url}}" async></script>
<style>.lazyload,.lazyloading{opacity:0}.lazyloaded{opacity:1;transition:opacity.3s}</style>


    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
	<meta name="p:domain_verify" content="83cfd97b1d179e4489655f1b672882d6"/>
   	<meta name="google-site-verification" content="7-h6GMPNsymPYC7H_onakEHHYSLLkte07LnuAGbaQJc" />
   
   

	<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
	<link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
	<link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}">
	
	<meta name="msapplication-TileColor" content="#fd8251">
	<meta name="msapplication-config" content="{{ 'browserconfig.xml' | asset_url }}">
	<meta name="theme-color" content="#fd8251">
	
   
<style>

.go {
  display:none !important;
}
</style>
   



   
    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.slideshow_subtitle_font contains 'Google' or settings.slideshow_headline_font contains 'Google' or settings.regular_font contains 'Google' %}
      <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.slideshow_headline_font contains 'Google' %}{{ settings.slideshow_headline_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.slideshow_subtitle_font contains 'Google' %}{{ settings.slideshow_subtitle_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', '' | replace: "'", "" }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}
	
    
    {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
    <!-- Stylesheets for Turbo 3.2.0 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    
    <!-- old lazy sizes spot -->

    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
    {% endif %}

    {% include 'social-meta-info' %}
    {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
    {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.shop_bg_color }}">

    {% if settings.favicon != nil %}
      <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '32x32' }}">
      <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
      {{ "customer_area.js" | shopify_asset_url | script_tag }}
    {% endif %}
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    
    <!-- Pinterest Tag -->
    <script>
    !function(e){if(!window.pintrk){window.pintrk = function () {
    window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
          n=window.pintrk;n.queue=[],n.version="3.0";var
          t=document.createElement("script");t.async=!0,t.src=e;var
          r=document.getElementsByTagName("script")[0];
          r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
    pintrk('load', '2614221686250', {em: '<user_email_address>'});
    pintrk('page');
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt=""
          src="https://ct.pinterest.com/v3/?tid=2614221686250&pd[em]=<hashed_email_address>&noscript=1" />
    </noscript>
    <!-- end Pinterest Tag -->
    <!-- Global site tag (gtag.js) - Google Ads: 792661591 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-792661591"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-792661591'); </script>
    <script> gtag('event', 'page_view', { 'send_to': 'AW-792661591', 'user_id': 'replace with value' }); </script>
    {{ content_for_header }}

  {% include 'bold-common' %}

    
    <script type='text/javascript'>
    window.__lo_site_id = 141281;

        (function() {
            var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
            wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
          })();
	</script>
    

    <meta name="google-site-verification" content="_D9xhXMY2wB3QN3pqCM1194gF_St0S0169z1g0vqbes" />
    <!-- Start VWO Smartcode (SPA) -->
    <script type='text/javascript'>
    var _vwo_code=(function(){
    var account_id=420331,
    settings_tolerance=2000,
    library_tolerance=2500,
    use_existing_jquery=false,
    is_spa=1,
    /* DO NOT EDIT BELOW THIS LINE */
    f=false,d=document;return{use_existing_jquery:function(){return use_existing_jquery;},library_tolerance:function(){return library_tolerance;},finish:function(){if(!f){f=true;var a=d.getElementById('_vis_opt_path_hides');if(a)a.parentNode.removeChild(a);}},finished:function(){return f;},load:function(a){var b=d.createElement('script');b.src=a;b.type='text/javascript';b.innerText;b.onerror=function(){_vwo_code.finish();};d.getElementsByTagName('head')[0].appendChild(b);},init:function(){settings_timer=setTimeout('_vwo_code.finish()',settings_tolerance);var a=d.createElement('style'),b='body{opacity:0 !important;filter:alpha(opacity=0) !important;background:none !important;}',h=d.getElementsByTagName('head')[0];a.setAttribute('id','_vis_opt_path_hides');a.setAttribute('type','text/css');if(a.styleSheet)a.styleSheet.cssText=b;else a.appendChild(d.createTextNode(b));h.appendChild(a);this.load('//dev.visualwebsiteoptimizer.com/j.php?a='+account_id+'&u='+encodeURIComponent(d.URL)+'&f='+(+is_spa)+'&r='+Math.random());return settings_timer;}};}());_vwo_settings_timer=_vwo_code.init();
    </script>
    <!-- End VWO Smartcode (SPA) -->
    
    <!-- Deadline Funnel --><script type="text/javascript" data-cfasync="false">function SendUrlToDeadlineFunnel(e){var r,t,c,a,h,n,o,A,i = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=",d=0,l=0,s="",u=[];if(!e)return e;do r=e.charCodeAt(d++),t=e.charCodeAt(d++),c=e.charCodeAt(d++),A=r<<16|t<<8|c,a=A>>18&63,h=A>>12&63,n=A>>6&63,o=63&A,u[l++]=i.charAt(a)+i.charAt(h)+i.charAt(n)+i.charAt(o);while(d<e.length);s=u.join("");var C=e.length%3;var decoded = (C?s.slice(0,C-3):s)+"===".slice(C||3);decoded = decoded.replace("+", "-");decoded = decoded.replace("/", "_");return decoded;} var url = SendUrlToDeadlineFunnel(location.href); var parentUrlValue;try {parentUrlValue = window.parent.location.href;} catch(err) {if(err.name === "SecurityError") {parentUrlValue = document.referrer;}}var parentUrl = (parent !== window) ? ("/" + SendUrlToDeadlineFunnel(parentUrlValue)) : "";(function() {var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.setAttribute("data-scriptid", "dfunifiedcode");s.src ="https://a.deadlinefunnel.com/unified/reactunified.bundle.js?userIdHash=eyJpdiI6IkEybTU1MWtDa3JmRitpTGJtZ3lsXC93PT0iLCJ2YWx1ZSI6IkNIb001YitUOWtiV0R2dEdlV1RJOEE9PSIsIm1hYyI6ImFhMDNhYjcxOTM5NWNiNzVhY2UzNjUxMjdiMzQzMjJjNTg5ZTBmN2NmZmM3MzY3YjQzOWU5ZDAwNGE1ZTU3ZTAifQ==&pageFromUrl="+url+"&parentPageFromUrl="+parentUrl;var s2 = document.getElementsByTagName("script")[0];s2.parentNode.insertBefore(s, s2);})();</script><!-- End Deadline Funnel -->
    <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0091/4075.js" async="async"></script>
    
  
	{{ shop.metafields.loox["global_html_head"] }}
 {% include 'talkable-partial' %}
<!--Gem_Page_Header_Script-->
{% include 'gem-app-header-scripts' %}
<!--End_Gem_Page_Header_Script-->
    
    <!-- Affirm -->
<script>
 _affirm_config = {
   public_api_key:  "P0I6HDKGNC5Y2NA0",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
 };
 (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->
    
    {% if template contains 'cart' %}
    	<script type="text/javascript" src="https://id.radinfluencer.com/uid.php?SITEID=1019&LICENSE=0A3A46CF9E3F2F0EBCE5B851210F9A1278557D4BC58010704C7DC26CD172FA47"></script>
    {% endif %}
</head>
  {% if template contains "index" %}
    {% assign feature_image = true %}
  {% elsif template contains "collection" %}
    {% assign feature_image = true %}
  {% elsif template contains "blog" %}
    {% assign feature_image = true %}
  {% elsif template contains "article" %}
    {% assign feature_image = true %}
  {% elsif template contains "contact" %}
    {% assign feature_image = true %}
  {% elsif template contains "product" %}
    {% assign feature_image = true %}
  {% elsif template contains "gallery" %}
    {% assign feature_image = true %}
  {% elsif template contains "banner" %}
    {% assign feature_image = true %}
  {% elsif template contains "details" %}
    {% assign feature_image = true %}
  {% elsif template contains "faq" %}
    {% assign feature_image = true %}
  {% elsif template contains "search" %}
    {% assign feature_image = true %}
  {% else %}
    {% assign feature_image = false %}
  {% endif %}

  <noscript>
    <style>
      .product_section .product_form {
        opacity: 1;
      }

      .multi_select,
      form .select {
        display: block !important;
      }
    </style>
  </noscript>

  <body class="{% if template == '404' %}error-404{% else %}{{ template | replace: '.', '-' | handle }}{% endif %}"
    data-money-format="{{ shop.money_format }}" data-shop-url="{{ shop.url }}">
    
    <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9VF43D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    {% section 'header_new' %}

    <div class="mega-menu-container">
      {% if settings.mega_menu_1 %}
        {% section 'mega-menu-1' %}
      {% endif %}

      {% if settings.mega_menu_2 %}
        {% section 'mega-menu-2' %}
      {% endif %}

      {% if settings.mega_menu_3 %}
        {% section 'mega-menu-3' %}
      {% endif %}

      {% if settings.mega_menu_4 %}
        {% section 'mega-menu-4' %}
      {% endif %}

      {% if settings.mega_menu_5 %}
        {% section 'mega-menu-5' %}
      {% endif %}

    </div>

    {% if page.handle == 'discover' %}
      {% unless feature_image %}
        <div class="main">
      {% endunless %}
   
          
   {% comment %} 
           {% elsif page.handle == 'discover'%}
        <div class="container main">
          {% elsif page.handle == 'about-us'%}
        <div class="container-fluid main content"> {% endcomment %}
          
    {% else %}
      {% unless feature_image %}
        <div class="container main content">
      {% endunless %}
    {% endif %}
    
   

      {{ content_for_layout }}

    </div>



    {% section 'footer' %}
    
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
              <script src="{{ 'app.js' | asset_url }}"></script>
              <script src="{{ 'theme.js' | asset_url }}"></script>
    
    {% if settings.size_chart != blank %}
      {% include 'popup-size-chart' %}
    {% endif %}
    {% if settings.newsletter_popup %}
      {% include 'popup-newsletter' %}
    {% endif %}
    {% if settings.quick_shop_enabled %}
      {% include 'popup-quick-shop' %}
    {% endif %}
          
          
    {% if settings.disqus_enabled %}
      {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
      {% endif %}
    {% endif %}
          

    {% if settings.show_multiple_currencies %}
      {% include 'currencies' %}
    {% endif %}
    {% if settings.show_shipping_calculator and template contains "cart" %}
      {% include 'cart-shipping-scripts' %}
    {% endif %}

    {% unless settings.performance == "sport" or template contains "customer" %}
      <script src="{{ 'instantclick.min.js' | asset_url }}" data-no-instant></script>

      <script data-no-instant>

      function inIframe() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      if (!inIframe()){
        InstantClick.on('change', function() {

          $('head script[src*="shopify"]').each(function() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = $(this).attr('src');

            $('body').append( script );
          });

          $('html').removeClass('remodal-is-locked');

        });
        InstantClick.init();
      }
      </script>
    {% endunless %}

         
    <script>
      {{ settings.custom_scripts }}
    </script>
    
  	{% include 'mw_PO_objects' %}
          
    <!--Script for video injection on product.details-->
<script>
$(function(){
	$(".button.watch").on("click", function(){
	
    $("#video-pd").append('<source id="video-src" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Prepdeck.mp4?914882059710308272" type="video/mp4"><p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video.</p>');
	});
});

</script>
{%if product.handle == 'prepdeck-pro'%}
<script>
  //on initial load set variant select swatch
  $("input[value='Glacier White']").prop('checked', true);
</script>
{%endif%}
{% if product.handle == 'prepdeck' or product.handle == 'prepdeck-plus' or template =='index' or product.handle == "prepdeck-2-pack"%}
<script>
  {% if product.handle == 'prepdeck-plus' %}
  $(function () {
    var $colorVariant=null;
    $('.swatch input[name="option-0"]').each(function(){
      var $next = $(this).next();
      if(!$colorVariant&&$next.is(':visible')){
        $(this).prop('checked',true);
        $colorVariant=$(this).val();
      }
    });
    var $cuttingBoardVariant=null;
    $('.swatch input[name="option-1"]').each(function(){
      var $next = $(this).next();
      if(!$cuttingBoardVariant&&$next.is(':visible')){
        $(this).prop('checked',true);
        /*$next.find('label').trigger('click');*/
        $cuttingBoardVariant=$(this).val();
      }
    });
    if($colorVariant&&$cuttingBoardVariant) selectOption($colorVariant, $cuttingBoardVariant, "");
  });
  {% endif; %}
//on initial load set variant select swatch
//$("input[value='Glacier White']").prop('checked', true);

  {% if product.handle == 'prepdeck' %}
   $(function () {
    var $colorVariant=null;
    $('.swatch input[name="option-0"]').each(function(){
      var $next = $(this).next();
      if(!$colorVariant&&$next.is(':visible')){
        $(this).prop('checked',true);
        $colorVariant=$(this).val();
        console.log('selected color---', $colorVariant);
      }
    });
     var value = $('option'+'[data-o1="' + $colorVariant + '"]').val();
     $("#ProductSelect").val(value);
   });
  {% endif %}
//on initial load set thumbnails

$(function () {
  var peep = {{product.selected_or_first_available_variant.title | json}};
  $('.thumbnail-gallery .gallery-cell').each(function(){
    $(this).css("display","none");
    if ($(this).data('variant-id')== {{product.selected_or_first_available_variant.id | json}}){
          $(this).toggle();

    }
    else {
    }
      });
  
  $('.swatch_options').click();
});




//product page swatch/carousel
  $(".swatch_options").on("click", function(){
    $(".product_gallery .gallery-cell").each(function(){
      if ($(this).hasClass("stay")){
        $(this).removeClass("go");
      }
      else{
        $(this).addClass("stay");
        $(this).removeClass("go");
      }
    });

    $(".swatch").find("input").each(function(){
      if ($(this).is(":checked")) {
        if ($(this).parent().data("option-index") ==0){
          variant_id = $(this).data("variant-id");
        }
        else{}
      }
    });

    console.log('variant id ---', variant_id);
    
    $(".product_gallery .gallery-cell").children().each(function(){
      if ($(this).data("variant-id") == variant_id){}
      else{
        $(this).parent().removeClass("stay").addClass("go");
      }
    });

    $(".product_gallery").flickity('destroy');
    $('.product_gallery').flickity({
      cellSelector: '.gallery-cell.stay',
      wrapAround: 'true',
      pageDots: 'true'
    });
    var nexturl = "{{'arrow-right.svg' | asset_url}}";
    var prevurl = "{{'arrow-left.svg' | asset_url}}";
    $(".product_gallery").find('.previous').load(prevurl);
    $(".product_gallery").find('.next').load(nexturl);
    
    //change thumbnails on swatch click        
    $('.thumbnail-gallery .gallery-cell').each(function(){
      $(this).css("display","none");
      if ($(this).data('variant-id')== variant_id) {
        $(this).toggle();

      }
      else {
      }
    });
  });

//on thumbnail click, change carousel image

$(".thumbnail-gallery .gallery-cell").on("click", function() {
    var loopIndex = $(this).data("loop-index");
    $(".product_gallery").flickity( "select", loopIndex);
});

</script>
{%endif%}

<!--Buy now on pdp -->
{% if template contains "test"%}
<script>
//buy now button implementation
  $(function(){
    var variant_id = {{product.selected_or_first_available_variant.id | json}}
    console.log(variant_id);
    $('.test-addcart').on("click", function(e){
      e.preventDefault;
      $(".swatch").find("input").each(function(){
              if ($(this).is(":checked")) {
                variant_id = $(this).data("variant-id");
              }
            });

        var quantity = $("#quantity").val();
      
         $.ajax({
        type: "POST",
        url: '/cart/add.js',
        data: {
          quantity: quantity,
          id: variant_id,
        
        },
          success: function() {
              window.location.href = "https://prepdeck.com/checkout";
          
          }
    	  });   
    });
 });
</script>
{%endif%}
<!-- spurit_sct-added -->
{% include 'spurit_sct-theme-snippet' %}
<!-- /spurit_sct-added -->

	{{ shop.metafields.loox["global_html_body"] }}
<!--Gem_Page_Footer_Script-->
{% include 'gem-app-footer-scripts' %}
<!--End_Gem_Page_Footer_Script-->
          
                 
          <script text="text/javascript">
            var _learnq = _learnq || [];

            var item = {
              Name: {{ product.title|json }},
              ProductID: {{ product.id|json }},
              Categories: {{ product.collections|map:'title'|json }},
              ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
              URL: "{{ shop.secure_url }}{{ product.url }}",
              Brand: {{ product.vendor|json }},
              Price: {{ product.price|money|json }},
              CompareAtPrice: {{ product.compare_at_price_max|money|json }}
            };

            _learnq.push(['track', 'Viewed Product', item]);
            _learnq.push(['trackViewedItem', {
              Title: item.Name,
              ItemId: item.ProductID,
              Categories: item.Categories,
              ImageUrl: item.ImageURL,
              Url: item.URL,
              Metadata: {
                Brand: item.Brand,
                Price: item.Price,
                CompareAtPrice: item.CompareAtPrice
              }
            }]);
          </script>
</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!DOCTYPE', '!DOCTYPE' | split: ' <' %}
{% for html in content %}{% assign htmlblock = html | strip | prepend: ' <' %}{{htmlblock | replace: ' </', '</'}}{% endfor %}
