  {% assign left_image = section.settings.left_image %}
  {% assign right_title = section.settings.right_title %}
  {% assign right_sub_title = section.settings.right_sub_title %}

  {% assign right_image = section.settings.right_image %}
  {% assign left_title = section.settings.left_title %}
  {% assign left_sub_title = section.settings.left_sub_title %}


<!-- Start banner -->
<section class="about_section1">
  <div class="container-fluid" style="padding: 0px;">
		<div class="row">
			<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
              
               <img src="{{ left_image.src | img_url: 'master' }}"> 
                  <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6">
                       <div class="believe_sec">
                             <h2>{{ right_title }}</h2>
                             <p>{{ right_sub_title }}</p>
                       </div>
                   </div>
           </div>
        </div>
     </div>
</section>

<!-- End banner -->
<section class="about_section2">
<div class="container-fluid" style="padding: 0px;">
    <div class="row">
        <div class="str_left_right col-md-12">
         <div class="str_left" >
            <div class="started_sec">
				   <h2>{{ left_title }}</h2>
                   <hr class="star_hr">
				   <p>{{ left_sub_title }}</p>
		     </div>
         </div>
           <img src="{{ right_image.src | img_url: 'master' }}"> 
     </div>
  </div>
</div>
</section>

<style>
  section.about_section2 .container {
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}
section.about_section2 img {
    width: 100%;
}
  section.about_section1 img {
    width: 100%;
}
 div.content {
    padding: 0px 15px 0px 15px;
}
.container.main {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

</style>
{% schema %}
  {
    "name": "About Section",
    "settings": [

     {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
     },
     {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading"
     },
     {
        "type": "html",
        "id": "right_sub_title",
        "label": "Right Sub-Heading"
     },
     {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
     },
     {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading"
     },
     {
        "type": "html",
        "id": "left_sub_title",
        "label": "Left Sub-Heading"
     }
      
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
