{% assign image = section.settings.image %}
{% assign title = section.settings.title %}
{% assign sub_title = section.settings.sub_title%}

{% assign trash_image = section.settings.trash_image %}
{% assign trash_title = section.settings.trash_title %}
{% assign trash_sub_title = section.settings.trash_sub_title%}
 
{% assign btn_text = section.settings.btn_text%}
{% assign btn_link = section.settings.btn_link%}
{% assign trash_btn_text = section.settings.trash_btn_text%}
{% assign trash_btn_link = section.settings.trash_btn_link%}

<section class="accessorize_section"> 
  <div class="container-fluid" style="padding-right: 0px;padding-left: 0px;padding-top: 20px;"> 
    <div class="row"> 
        <div class="access_section">
          <div class="col-md-3 col-xs-12 col-sm-3"> 
             <div class="access-content">
              <h2>{{title}}</h2>
               <p> {{ sub_title }}</p>
               <a href="{{ btn_link }}" class="button" style="margin-top: 15px;">
                    {{ btn_text }}</a>
             </div>
          </div>
          <div class="col-md-9 col-xs-12 col-sm-9 access_img" style="padding: 0;">
             <img src="{{ image.src | img_url: 'master' }}">
          </div>
        </div> 
    </div>
   </div>
</section> 
  
<section class="trash_section" style="margin-left: -16px;margin-right: -15px;"> 
  <div class="container"> 
   <div class="row">
     
     <div class="col-md-offset-6 col-sm-offset-6 col-md-6 col-sm-6 col-xs-12"> 
          <div class="trash-content">
          <h2>{{trash_title}}</h2>
             {{ trash_sub_title }}
            <a href="{{ trash_btn_link }}" class="button" style="margin-top: 15px;">
                    {{ trash_btn_text }}</a>
         </div>
     </div>
         
   </div>
   </div>
  <div class="visible-xs col-xs-12">
       <img src="{{ trash_image.src | img_url: 'master' }}" style="width: 100%;">
     
     </div>
  <div class="trash_right_img" style="background-image:url({{ trash_image.src | img_url: 'master' }})"></div>
</section>      
     
    


{% schema %}
  {
    "name": "Discover Break Content",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Access Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Access Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "html",
        "id": "sub_title",
        "label": "Access Sub-Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "header",
        "content": "The Trash Content"
      },
     {
        "type": "image_picker",
        "id": "trash_image",
        "label": "trash Image"
    },
    {
        "type": "text",
        "id": "trash_title",
        "label": "trash Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "html",
        "id": "trash_sub_title",
        "label": "Trash Sub-Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Buy Now"
     },
     {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
     },
     {
        "type": "text",
        "id": "trash_btn_text",
        "label": "Trash Button Text",
        "default": "Buy Now"
     },
     {
        "type": "url",
        "id": "trash_btn_link",
        "label": "Trash Button Link"
     }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
