{%- for block in section.blocks -%}

	{%- assign continue = 'false' -%}
	
	{%- assign fProduct = block.settings.fproduct -%}
	
	{% if fProduct == product.handle  %}
		{%- assign continue = 'true' -%}
	{% endif %}
	
	{% if continue == 'true' %}
		<section class="add-ons pdm">
			<div class="container">
				<h2>{{ section.settings.heading }}</h2>
				<div class="the-products">

				   {%- assign fProduct = block.settings.product -%}
				   {%- assign productInfo = all_products[fProduct] -%}
				  <article class="product list-view">
					  <div class="thumb">
						<a href="{{ productInfo.url }}">
							<img class="lazyload" src="{{ productInfo.featured_image | product_img_url: 'x100' }}" alt="{{ productInfo.title | escape  }}" 
								data-src="{{ productInfo.featured_image | product_img_url }}"
								data-srcset="{{ productInfo.featured_image | product_img_url: 'x500' }} 500w,
								{{ productInfo.featured_image | product_img_url: 'x400' }} 400w,
								{{ productInfo.featured_image | product_img_url: 'x300' }} 300w,
								{{ productInfo.featured_image | product_img_url: 'x200' }} 200w"
								data-sizes="auto"
							/>
						</a>
					  </div>    
					  <div class="the-content">
						<div class="top">
							<h3><a href="{{ productInfo.url }}">{{ productInfo.title | escape  }}</a></h3>
							<p class="price">{{ productInfo.price | money }} <span class="reg">{{ productInfo.compare_at_price | money }}</span></p>
						</div>
						<div class="bottom">
						</div>
					  </div>
				  </article>
				  
				   {%- assign fProduct = block.settings.product2 -%}
				   {%- assign productInfo = all_products[fProduct] -%}
				  <article class="product list-view">
					  <div class="thumb">
						<a href="{{ productInfo.url }}">
							<img class="lazyload" src="{{ productInfo.featured_image | product_img_url: 'x100' }}" alt="{{ productInfo.title | escape  }}" 
							data-src="{{ productInfo.featured_image | product_img_url }}"
							data-srcset="{{ productInfo.featured_image | product_img_url: 'x500' }} 500w,
								{{ productInfo.featured_image | product_img_url: 'x400' }} 400w,
								{{ productInfo.featured_image | product_img_url: 'x300' }} 300w,
								{{ productInfo.featured_image | product_img_url: 'x200' }} 200w"
								data-sizes="auto"
							
							
							/>
						</a>
					  </div>    
					  <div class="the-content">
						<div class="top">
							<h3><a href="{{ productInfo.url }}">{{ productInfo.title | escape  }}</a></h3>
							<p class="price">{{ productInfo.price | money }} <span class="reg">{{ productInfo.compare_at_price | money }}</span></p>
						</div>
						<div class="bottom">
						</div>
					  </div>
				  </article>
				  
				   {%- assign fProduct = block.settings.product3 -%}
				   {%- assign productInfo = all_products[fProduct] -%}
				  <article class="product list-view">
					  <div class="thumb">
						<a href="{{ productInfo.url }}">
							<img class="lazyload" src="{{ productInfo.featured_image | product_img_url: 'x100' }}" alt="{{ productInfo.title | escape  }}"
								data-src="{{ productInfo.featured_image | product_img_url }}"
							data-srcset="{{ productInfo.featured_image | product_img_url: 'x500' }} 500w,
								{{ productInfo.featured_image | product_img_url: 'x400' }} 400w,
								{{ productInfo.featured_image | product_img_url: 'x300' }} 300w,
								{{ productInfo.featured_image | product_img_url: 'x200' }} 200w"
							data-sizes="auto"
							
							 />
						</a>
					  </div>    
					  <div class="the-content">
						<div class="top">
							<h3><a href="{{ productInfo.url }}">{{ productInfo.title | escape  }}</a></h3>
							<p class="price">{{ productInfo.price | money }} <span class="reg">{{ productInfo.compare_at_price | money }}</span></p>
						</div>
						<div class="bottom">
						</div>
					  </div>
				  </article>


				</div>
			</div>
		</section>
	{% endif %}
	
{%- endfor -%}


{% schema %}
{
    "name": "Favorite Add-ons",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Title"
      }
    ],
    "blocks": [
      {
        "name": "Favorite Products",
        "type": "products",
        "settings": [
          {
            "type": "product",
            "id": "fproduct",
            "label": "What product is this for?"
          },
          {
            "type": "product",
            "id": "product",
            "label": "Product 1"
          },
          {
            "type": "product",
            "id": "product2",
            "label": "Product 2"
          },
          {
            "type": "product",
            "id": "product3",
            "label": "Product 3"
          }
        ]
      }
    ]
}
{% endschema %}