{% comment %}
** Cart page - default view **
- Template section
{% endcomment %}
<style>
  
.footer {
  display:none;
}
  .stayup {
    display: none;
  }

.container.main.content {

}
body.cart .container.main.content #nudge-offer {
  display:none !important;
}

</style>

<a name="pagecontent" id="pagecontent"></a>

<div class="container ">
{% if cart.item_count == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <h1>{{ 'cart.general.title' | t }} <span>({{cart.item_count}})</span></h1>

      <div class="six columns offset-by-five">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>

<!--        <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>-->
      </div>
      <br class="clear" />
    </div>
  </div>
{% else %}

  <form action="/cart" method="post" id="cart_form">
      <div class="cart-left">
        <h1>{{ 'cart.general.title' | t }} <span>({{cart.item_count}})</span> <img src="{{ 'mcafee_secure.png' | asset_url }}"></h1>

        {% assign total_saving = 0 %}
        
        {% assign showTPD = false %}
        {% assign tpdInCart = false %}
        
        {% for item in cart.items %}
          {% if item.product.handle == 'prepdeck' and tpdInCart == false %}
        	{% assign showTPD = true %}
          {% endif %}
          {% if item.product.handle == 'new-bamboo-knife-block' %}
        	{% assign tpdInCart = true %}
          {% endif %}
        
        
          {% if item.variant.compare_at_price > item.variant.price %}
            {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
            {% assign total_saving = saving | plus: total_saving %}
          {% endif %}

        <div class="cart-item">
          {% assign productList = 'prepdeck-pro-licorice,prepdeck-pro-black-marble,prepdeck-pro-mint,prepdeck-pro-pineapple-punch,prepdeck-pro-rose,prepdeck-pro-speckled-grey,prepdeck-pro-walnut,prepdeck-pro-birch' | replace:' ' | split:',' %}
          {% assign itemURL = item.url %}
          {% for productListHandle in productList %}
          {% if productListHandle == item.product.handle %}
          {% assign itemURL = '/products/prepdeck-pro' %}
          {% endif %}
          {% endfor %}

          <a href="{{ itemURL }}" title="{{ item.title | escape }}" class="cart_page_image">
            <img  src="{{ item | img_url: '100x' }}"
                 alt="{{ item.title | escape }}"
                 class="lazyload {{ settings.image_loading_style }}"
                 style="max-width: {{- item.image.width -}}px"
                 data-sizes="auto"
                 data-src="{{ item | img_url: '900x' }}"
                 data-srcset=" {{ item | img_url: '300x' }} 300w,
                              {{ item | img_url: '600x' }} 600w,
                              {{ item | img_url: '900x' }} 900w"
                 />
          </a>

          <div class="cart-product">
            <div class="product-info-left">
              <h3><a href="{{ itemURL }}">{{ item.product.title }}</a></h3>

              <div class="options">
              	{% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                  {% for option in item.product.options %}
                  <div>{{ option }}: {{ item.variant.options[forloop.index0] }}</div>
                  {% endfor %}
              	{% endunless %}
                
                {% if item.properties %}
                  {% for p in item.properties %}
                  {% unless p.last == blank %}
                  {% if p.last contains '/uploads/' %}
                  <div>
                    {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                  </div>
                  {% else %}
                  <div>
                    {{ p.first }}: {{ p.last }}
                  </div>
                  {% endif %}
                  {% endunless %}
                  {% endfor %}
                {% endif %}
              </div>
              <div class="in-stock"> 
                {% if item.variant.inventory_quantity > 0 %}
                	<label>In Stock</label>{% if item.variant.inventory_quantity <= settings.inventory_threshold  %}<div style="margin: 0 5px;">|</div><div class="inventory_warning">Only <span class="inventory">{{ item.variant.inventory_quantity }}</span> Left!</div>{% endif %}
                {% else %}
                	<div class="inventory_warning"><label>Backordered</label> | Shipping {{item.variant.next_incoming_date | date: '%B %e, %Y'}}</div>
                {% endif %}
              </div>
            </div>

            <div class="product-info-right">
              <div class="product-quantity">
                <div class="product-quantity-control">
                  <span class="ss-icon product-minus js-change-quantity" data-func="minus">-</span>
                  <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                  <span class="ss-icon product-plus js-change-quantity" data-func="plus">+</span>
                </div>
                {% if item.product.handle == 'prepdeck' %}<div class="">$30 off for 2 or more</div>{% endif %}
              </div>
              <div class="product-price">
                {% if item.price > 0 %}
                <span class="money">{{ item.price | money }}</span>
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}

                {% if item.price < item.variant.compare_at_price %}
                <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        
        {% endfor %}
        
        {% if showTPD == true %}
        {% assign together_product = all_products['new-bamboo-knife-block'] %}
        <div class="together-label">Frequently bought together <img src="{{'arrow-bottom.svg' | asset_url}}"></div>
        <div class="together-product">
          
          <a href="{{ together_product.url }}" title="{{ together_product.title | escape }}" class="cart_page_image">
            <img  src="{{ together_product | img_url: '100x' }}"
                 alt="{{ together_product.title | escape }}"
                 class="lazyload {{ settings.image_loading_style }}"
                 data-sizes="auto"
                 data-src="{{ together_product | img_url: '900x' }}"
                 data-srcset=" {{ together_product | img_url: '300x' }} 300w,
                              {{ together_product | img_url: '600x' }} 600w,
                              {{ together_product | img_url: '900x' }} 900w"
                 />
          </a>
          <div class="tpd-info">
            <div class="tpd-left">
              <div class="tpd-title">Add a Knife Block</div>
              <div class="tpd-description">Store 5 Knives within the Prepdeck system</div>
            </div>
            <div class="tpd-right">
              <div class="tpd-price">
                {% if together_product.price > 0 %}
                <span class="money">{{ together_product.price | money }}</span>
                {% else %}
                {{ settings.free_price_text }}
                {% endif %}

                {% if together_product.price < together_product.compare_at_price %}
                <span class="money was_price">{{ together_product.compare_at_price | money }}</span>
                {% endif %}
              </div>
              <a href="#" class="add-tpd" data-variantid="{{together_product.first_available_variant.id}}">Add To Cart</a>
            </div>
          </div>
        </div>
        
        {% assign showTPD = false %}
        {% endif %}
        
        
        <div class="logolist">
          <img src="{{ 'cart-logolist.png' | asset_url }}">
        </div>
        
        <div class="cart-review">
          <div class="loox-rating">
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
          </div>
          <div class="cart-review-text">{{ section.settings.review_text }}</div>
          <div class="cart-review-author">{{ section.settings.review_author }}</div>
        </div>
      </div>

      <div class="cart-right">
        <div class="section clearfix">
          
          <div class="secure-info">
            <img src="{{'shopify_secure.png' | asset_url}}">
            <img src="{{'mcafee_secure.png' | asset_url}}">
          </div>
          
          <div class="subtotal">
            
            <div class="cart-black">
            <p class="cart_subtotal js-cart_subtotal">
              <span>{{ 'cart.general.subtotal' | t }}</span>
              <span class="money">{{ cart.total_price | money }}</span>
            </p>

            {% if section.settings.display_savings %}
              <p class="cart_savings sale">
                {% if total_saving > 0 %}
                  <span class="right">
                    <span class="money">{{ total_saving | money }}</span>
                  </span>
                  <span>{{ 'layout.general.savings' | t }}</span>
                {% endif %}
              </p>
            {% endif %}

              {% assign var_taxRate = 0.095 %}
              {% capture var_taxAmount %}{{ cart.total_price | times: var_taxRate }}{% endcapture %}
              {% capture var_totalPlusTax %}{{ cart.total_price | plus: var_taxAmount }}{% endcapture %}

              <p>
                <span>Est. Tax</span><span>See checkout{% comment %}{{ var_taxAmount | money }}{% endcomment %}</span>
              </p>
              <p class="bold">
                <span>Total</span><span>{{ cart.total_price | money }}</span>
              </p>
              <div class="shipping-info"><img src="{{'check-green.svg' | asset_url}}">Orders over $100 Ship Free!</div>
            </div>
              
            <p class="affirm-as-low-as money_addinfo" data-page-type="cart" data-amount="{{cart.total_price}}"></p>
            {% comment %}
            <div class="money_addinfo">
              <b>$29/m</b>
              <div>with 0%APR</div>
              <div><img src="{{'affirm.png' | asset_url}}"></div>
              <a href="#" class="learn-more">Learn more</a>
            </div>
            {% endcomment %}
            
            <input type="submit" class="action_button add_to_cart" id="checkout" name="checkout" value="Secure Checkout" />
            
            
            {% if content_for_additional_checkout_buttons %}
              <div class="additional-checkout-buttons">
                <div class="or-line"><span>or</span></div>
                {{ content_for_additional_checkout_buttons }}
              </div>
            {% endif %}

            {% if cart.item_count > 0 %}
              <div class="featured-links">
<!--                <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}" class="secondary_button">{{ 'cart.general.continue_shopping_link_html' | t }}</a>-->
              </div>
            {% endif %}
          </div>
        </div>
        
        <ul>
          <li><img src="{{'addinfo2.png' | asset_url}}"> 30-Day Money-Back Guarantee</li>
          <li><img src="{{'addinfo3.png' | asset_url}}"> Blazing-Fast Customer Service</li>
        </ul>
        
        <div class="cart-review">
          <div class="loox-rating">
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
            <i class="loox-icon loox-star"></i>
          </div>
          <div class="cart-review-text">{{ section.settings.review_text }}</div>
          <div class="cart-review-author">{{ section.settings.review_author }}</div>
        </div>
      </div>
    
    {% comment %}
    <div class="cart-bottom">
      <div class="accessorized">
        <div class="heading">Get Accessorized</div>
        <div class="apd-products">
          {% assign accessorized_products = 'tablet-phone-stand,prepdeckgo-travel-bag,cutting-boards' | split: ',' %}
          {% for apd in accessorized_products %}
          	{% assign apd_product = all_products[apd] %}
            <div class="apd">
              <img src="{{ apd_product.featured_image | img_url: '500x' }}">
              <div class="apd-info">
                <div class="apd-title">{{ apd_product.title }}</div>
                <div class="apd-price">
                {% if apd_product.price > 0 %}
                  <span class="money">{{ apd_product.price | money }}</span>
                  {% else %}
                  {{ settings.free_price_text }}
                  {% endif %}

                  {% if apd_product.price < apd_product.compare_at_price %}
                  <span class="money was_price">{{ apd_product.compare_at_price | money }}</span>
                  {% endif %}
                </div>
                <a href="#" class="add-apd" data-variantid="{{ apd_product.first_available_variant.id }}">Add To Cart</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="help-content">
        <div class="help-text"><img src="{{ 'helpicon.png' | asset_url }}">Got questions or<br>Need Help?</div>
        <div>
          <div class="phone-number">+1.800.606.6969<span>/</span></div>
          <a href="#" class="livechat">Livechat</a>
        </div>
      </div>
      
    </div>
    {% endcomment %}
  </form>

  {% include 'cart-shipping-calculator' %}
{% endif %}
  
  <div class="mobile-logolist">
    <img src="{{ 'logolist-mobile.png' | asset_url }}">
  </div>
  
  <div class="cart-footer">
    <div class="copyright">© 2020 Prepdeck, LLC. All rights reserved.</div>
    <img src="{{ 'cart-payments.png' | asset_url }}">
  </div>
</div>

{% schema %}

{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
      {
        "type": "checkbox",
        "id": "display_special_instructions",
        "label": "Show \"note\" text box"
      },
      {
        "type": "checkbox",
        "id": "display_tos_checkbox",
        "label": "Show \"agree to terms\" checkbox"
      },
      {
        "type": "checkbox",
        "id": "display_savings",
        "label": "Show total savings",
        "default": true
      },
      {
        "type": "textarea",
        "id": "review_text",
        "label": "Review Text"
      },
      {
        "type": "text",
        "id": "review_author",
        "label": "Review Author"
      }
    ]
}

{% endschema %}
