
  {% assign image = section.settings.image %}
  {% assign title = section.settings.title %}
  {% assign button_heading = section.settings.button_heading %}
  {% assign button_link = section.settings.button_link %}


<!-- Start cooking prep -->
<section class="cooking_prep" style="background: url({{ image.src | img_url: 'master' }});background-repeat: no-repeat; background-position: center;background-size: cover;">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2>{{ title }}</h2>
                  <a href="{{ button_link }}" class="buy_btn">{{ button_heading }}</a>
			</div>
		</div>
	</div>
</section>
<!-- End cooking prep -->

{% schema %}
  {
    "name": "Cooking name",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "button_heading",
        "label": "Button Heading",
        "default": "BUY NOW"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button Link",
        "default": "/"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
