  {% assign image = section.settings.image %}
  {% assign title_1 = section.settings.title_1 %}
  {% assign subtitle_1 = section.settings.subtitle_1 %}
  {% assign title_2 = section.settings.title_2 %}
  {% assign subtitle_2 = section.settings.subtitle_2 %}
  {% assign title_3 = section.settings.title_3 %}
  {% assign subtitle_3 = section.settings.subtitle_3 %}
  {% assign tooltip1 = section.settings.tooltip1 %}
  {% assign tooltip2 = section.settings.tooltip2 %}
  {% assign tooltip3 = section.settings.tooltip3 %}
  {% assign tooltip4 = section.settings.tooltip4 %}
  {% assign tooltip5 = section.settings.tooltip5 %}
  {% assign tooltip6 = section.settings.tooltip6 %}


<!-- Start vegitable section -->
<section class="discover">
    <div class="container-fluid dis_cover" style="padding: 0px;max-width: 1320px;">
		<div class="row" style="margin-bottom: 0px;">
			<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;">
				<div class="vegible_img">
                    <div class="discover-title">
                     <h2 style="margin-bottom: 0px;text-align: center;">{{ title_1 }}</h2>
                    </div>
					<img src="{{ image.src | img_url: 'master' }}">
				
                       <div class="tool_tip">
                          <div class="tooltip one" >
                              <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip1 }}</span>
                          </div>
                         <div class="tooltip two">
                              <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip2 }}</span>
                          </div>
                         <div class="tooltip three">
                              <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip3 }}</span>
                          </div>
                         <div class="tooltip four">
                               <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip4 }}</span>
                          </div>
                         <div class="tooltip five">
                            <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip5 }}</span>
                          </div>
                         <div class="tooltip six">
                              <span class="pulse"></span>
                            <span class="tooltiptext">{{ tooltip6 }}</span>
                          </div>
                       </div>
                  
                  <div class="discover_content">
                        <h3>{{ title_2 }}</h3>
					   <p style="font-size:12px;position: relative;">{{ subtitle_2 }}</p>
                  </div>
                </div>
              
			    <h3 class="discover_below">{{ title_3 }}</h3>
					
			</div>
		</div>
      </div>
</section>
<!-- End vegitable section -->

<style>
/*   #shopify-section-discover_template {
    height: calc(100vh - 71px);
    background: #f2f2f2;
}
  #shopify-section-discover_template .discover .container-fluid .row .col-md-12 .vegible_img,
  #shopify-section-discover_template .discover .container-fluid .row .col-md-12,
  #shopify-section-discover_template .discover .container-fluid .row,
  #shopify-section-discover_template .discover .container-fluid,
  #shopify-section-discover_template .discover{
    height: 100%;
	}
  #shopify-section-discover_template .discover .container-fluid .row .col-md-12 .vegible_img{
    display:flex;
    flex-direction:column;
  }
  #shopify-section-discover_template .discover .container-fluid .row .col-md-12 .vegible_img .discover-title{
    height:100%;
    display:flex;
    align-items: center;
	justify-content: center;
  }
  .tool_tip{
 	width: 100%;
    height: 78%;
    top: auto;
    bottom: 0;
  } */
/* .container.main {
    width: 100%;
    max-width: 1320px;
    padding: 0px;
} */
.tooltip.one {
    position: relative;
    top: 260px;
    left: 280px;
}
.tooltip.two {
    position: relative;
    top: 175px;
    left: 430px;
}
.tooltip.three {
    position: relative;
    top: 180px;
    left: 610px;
}
.tooltip.four {
    position: relative;
    top: 165px;
    left: 800px;
}
.tooltip.five {
    position: relative;
    top: 280px;
    left: 935px;
}
.tooltip.six {
    position: relative;
    top: 540px;
    left: 535px;
}  
  /* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1400px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .dis_cover {
    width: 100%;
    max-width: 1420px;
    padding: 0px;
}
    .tooltip.one {
    position: relative;
    top: 270px;
    left: 300px;
}
.tooltip.two {
    position: relative;
    top: 185px;
    left: 450px;
}
.tooltip.three {
    position: relative;
    top: 185px;
    left: 650px;
}
.tooltip.four {
    position: relative;
    top: 170px;
    left: 850px;
}
.tooltip.five {
    position: relative;
    top: 290px;
    left: 1010px;
}
.tooltip.six {
    position: relative;
    top: 580px;
    left: 585px;
}
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .dis_cover{
    width: 100%;
    max-width: 1420px;
    padding: 0px;
}
}
</style>
{% schema %}
  {
    "name": "Discover Kitchen Section",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title_1",
        "label": "Heading 1",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "title_2",
        "label": "Heading 2",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "subtitle_2",
        "label": "Sub Heading 2",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "title_3",
        "label": "Heading 3",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "tooltip1",
        "label": "Tooltip Text 1",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip2",
        "label": "Tooltip Text 2",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip3",
        "label": "Tooltip Text 3",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip4",
        "label": "Tooltip Text 4",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip5",
        "label": "Tooltip Text 5",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip6",
        "label": "Tooltip Text 6",
        "default": "Tooltip Text"
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

