{% assign section_title = section.settings.section_title %}
{% assign image = section.settings.image %}
{% assign title = section.settings.title %}
{% assign sub_title = section.settings.sub_title%}

{% assign board_image = section.settings.board_image %}
{% assign board_title = section.settings.board_title %}
{% assign board_sub_title = section.settings.board_sub_title%}

{% assign food_image = section.settings.food_image %}
{% assign food_title = section.settings.food_title %}
{% assign food_sub_title = section.settings.food_sub_title%}


{% assign btn_text = section.settings.btn_text%}
{% assign btn_link = section.settings.btn_link%}
{% assign board_btn_text = section.settings.board_btn_text%}
{% assign board_btn_link = section.settings.board_btn_link%}
{% assign food_btn_text = section.settings.food_btn_text%}
{% assign food_btn_link = section.settings.food_btn_link%}

<section class="break_section"> 
  <div class="container-fluid"> 
    <div class="row"> 
<!--        <div class="col-md-12"> 
        <div class="section_head text-center">
			<h2>{{ section_title }}</h2>
		</div>
       </div> -->
      
     
        <div class="unit_section">
          <div class="col-md-4 col-sm-6 col-xs-12"> 
             <div class="unit-content">
              <h2>{{title}}</h2>
               <p> {{ sub_title }}</p>
               <a href="{{ btn_link }}" class="button" style="margin-top: 15px;">
                    {{ btn_text }}</a>
             </div>
          </div>
          <div class="col-md-12">
             <img src="{{ image.src | img_url: 'master' }}">
          </div>
        </div> 
    </div>
    
   <div class="row"> 
      <div class="unit_section brand_se">
       <div class="col-md-4 col-sm-6 "> 
          <div class="brand-content">
          <h2>{{board_title}}</h2>
            <p> {{ board_sub_title }} </p>
            <a href="{{ board_btn_link }}" class="button" style="margin-top: 15px;">
                    {{ board_btn_text }}</a>
         </div>
       </div>
         <div class="col-md-10 col-md-offset-2"> 
          <img src="{{ board_image.src | img_url: 'master' }}">
       </div>
     </div>
   </div>

  </div>
</section>

<section class="food_container"> 
  <div class="container-fluid">     
     <div class="row"> 
      <div class="food_containers">
       <div class="col-md-3 col-sm-3 col-md-offset-3 col-sm-offset-3 col-xs-12"> 
          <div class="foodcon-content">
          <h2>{{food_title}}</h2>
            <hr class="star_hr" style="margin-top: 0px; width: 30%;">
            <p>{{ food_sub_title }}</p>
            <a href="{{ food_btn_link }}" class="button" style="margin-top: 15px;">
                    {{ food_btn_text }}</a>
         </div>
       </div>
         <div class="col-md-6 col-sm-6 col-xs-12">
          <img src="{{ food_image.src | img_url: 'master' }}">
       </div>
     </div>
   </div>
</div>
</section>
{% schema %}
  {
    "name": "Discover Break Content",
    "settings": [
   {
        "type": "text",
        "id": "section_title",
        "label": "Section Heading"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "html",
        "id": "sub_title",
        "label": "Sub-Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "header",
        "content": "The Board Content"
      },
     {
        "type": "image_picker",
        "id": "board_image",
        "label": "Board Image"
    },
    {
        "type": "text",
        "id": "board_title",
        "label": "Board Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "html",
        "id": "board_sub_title",
        "label": "Board Sub-Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "header",
        "content": "Food Containers Content"
      },
     {
        "type": "image_picker",
        "id": "food_image",
        "label": "Food Containers Image"
    },
    {
        "type": "text",
        "id": "food_title",
        "label": "Food Containers Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "html",
        "id": "food_sub_title",
        "label": "Food Containers Sub-Heading",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "Buy Now"
     },
     {
        "type": "url",
        "id": "btn_link",
        "label": "Button Link"
     },
     {
        "type": "text",
        "id": "board_btn_text",
        "label": "Board Button Text",
        "default": "Buy Now"
     },
     {
        "type": "url",
        "id": "board_btn_link",
        "label": "Board Button Link"
     },
     {
        "type": "text",
        "id": "food_btn_text",
        "label": "Food Button Text",
        "default": "Buy Now"
     },
     {
        "type": "url",
        "id": "food_btn_link",
        "label": "Food Button Link"
     }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
