     
<!-- Start header -->
{% if section.settings.message %}
    {% if section.settings.promo_text != blank %}
      <div class="promo_banner">
        <div class="promo_banner__content">
          {{ section.settings.promo_text }}
        </div>
        <div class="promo_banner-close"></div>
      </div>
    {% endif %}
{% endif %}

<!-- Start header -->
<header id="header">
	<nav class="navbar navbar-inverse">
		<div class="main_logo hidden-sm hidden-xs">
			<div class="navbar-header">
                  
              <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="navbar-brand">
                {% if section.settings.logo_mobile != nil %}
                  <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
                {% elsif section.settings.logo != nil %}
                  <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
              
		    </div>
		</div>
		<div class="navbar-header hidden-md visible-sm visible-xs">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		    </button>
      	  
			<li class="search_icon">
				<a href="/cart" class="{% if section.settings.cart_icon == 'cart' %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant><span class="cart_count">{{ cart.item_count }}</span></a>
			</li>
	      	  
           <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="navbar-brand">
                {% if section.settings.logo_mobile != nil %}
                  <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
                {% elsif section.settings.logo != nil %}
                  <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
                {% else %}
                  {{ shop.name }}
                {% endif %}
              </a>
              
	    </div>
	  	<div class="main_navigation">
		    <div class="collapse navbar-collapse" id="myNavbar">

		      <ul class="nav navbar-nav navbar-right">
                  {% if section.settings.search_enabled %}
                    <li class="search_icon">
                     <form action="/search" class="search_form"> <input type="hidden" name="type" value="product"> <span class="icon-search search-submit"></span> <input type="text" name="q" placeholder="Search" value="" autocapitalize="off" autocomplete="off" autocorrect="off"><div class="search__results-wrapper" style=""><ul class="search__results"></ul></div></form>
                    </li>
                 {% endif %}
                {% if section.settings.show_cart %}
                  <li class="search_icon">
                    <a href="/cart" class="{% if section.settings.cart_icon == 'cart' %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant><span class="cart_count">{{ cart.item_count }}</span></a>
                  </li>
                {% endif %}
                <li data-no-instant="" class="purchaserbtn cart_icon"> <a href="/collections/prepdeck" style="color: inherit;">Order Now!</a></li>
                 {% if shop.customer_accounts_enabled %}
                    {% if customer %}
<!--                       <li class="cart_icon">
                        <a href="/account" data-no-instant>{{ customer.name }}</a>
                      </li>
                      <li data-no-instant class="cart_icon">
                        {{ 'layout.customer.log_out' | t | customer_logout_link }}
                      </li> -->
                    {% else %}
<!--                       <li data-no-instant class="cart_icon">
                        {{ 'layout.customer.log_in' | t | customer_login_link }}
                      </li> -->
                    {% endif %}
                  {% endif %}
		      </ul>

		      <ul class="menu nav navbar-nav navbar-right">
                <div class="vertical-menu">
                   {% for link in linklists.main-menu.links %}
                            {% assign child_list_handle = link.title | handleize %}
               
                            {% if linklists[child_list_handle].links != blank %}
                               <li class="{% if link.active %}active{% endif %} sublink">
                                  <a data-no-instant=""  href="{{ link.url }}" title="" itemprop="url"  class="parent-link--true dropdown_link--vertical" data-dropdown-rel="shop" data-click-count="0">{{ link.title }}<span class="right icon-down-arrow"></span></a> 
                                  <ul class="vertical-menu_submenu">
                                     {% for childlink in linklists[child_list_handle].links %}
                                      <li class="{% if childlink.active %}active{% endif %} sublink"><a href="{{ childlink.url }}" title="" itemprop="url">{{ childlink.title | escape }}</a></li>
                                     {% endfor %}
                                  </ul>
                              </li>
                            {% else %}
                           
                  
                               <li class="{% if link.active %}active{% endif %}"><a href="{{ link.url }}">{{ link.title }}</a></li>
                           {%endif %}
                       {% endfor %}
                  </div>
                <div class="mob_menu">
                {% for link in linklists.main-menu.links %}
                    {% if linklists[link.handle] == empty %}
                      <li data-mobile-dropdown-rel="{{ link.handle }}">
                        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                            {{ link.title }}
                          </a>
                        {% else %}
                          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                            {{ link.title }}
                          </a>
                        {% endif %}
                      </li>
                    {% else %}
                      <li data-mobile-dropdown-rel="{{ link.handle }}" class="sublink">
                        {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                          <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                            {{ link.title }} <span class="right icon-down-arrow active"></span>
                          </a>
                        {% else %}
                          <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                            {{ link.title }} <span class="right icon-down-arrow active"></span>
                          </a>
                        {% endif %}
                        <ul>
                          {% for link in linklists[link.handle].links %}
                            {% if linklists[link.handle] == empty %}
                              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% else %}
                              <li class="sublink">
                                {% if link.url == 'http://' or link.url == '' or link.url == '/' or link.url == 'https://' or link.url == '#' %}
                                  <a data-no-instant href="{{ link.url }}" class="parent-link--false">
                                    {{ link.title }} <span class="right icon-down-arrow active"></span>
                                  </a>
                                {% else %}
                                  <a data-no-instant href="{{ link.url }}" class="parent-link--true">
                                    {{ link.title }} <span class="right icon-down-arrow active"></span>
                                  </a>
                                {% endif %}
                                <ul>
                                  {% for link in linklists[link.handle].links %}
                                    <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                  {% endfor %}
                                </ul>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>
                      </li>
                    {% endif %}
                  {% endfor %}
                </div>
		      </ul>
              
              

		    </div>
	  	</div>
	</nav>
	
	
	  <section class="prepdeck-menu">
		<div class="container">
			<div class="part">
				<a href="/products/prepdeck"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Webp.net-resizeimage_3_1.jpg?1349" class="lazyload" alt="">Prepdeck <span>Fully Loaded! Only $119</span></a>
			</div>
			<div class="part">
				<a href="/products/prepdeck-plus" data-after="Our Most Popular Option"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/prepdeck-menu-nyt-v3-min.png?v=1581367525" class="lazyload" alt="">Prepdeck+ Bundle<span>With NYT Cooking. Only $159</span></a>
			</div>
			<div class="part">
				<a href="/collections/accessories"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Webp.net-resizeimage_6_1.jpg?1354" class="lazyload" alt="">Accessories <span>Everything you need!</span></a>
			</div>
		</div>
	  </section>
	
	
</header>



<!-- End header --> 

{% schema %}
 {
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "pt-BR": "Exibir anúncio"
      },
      "default": false
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logotipo personalizado",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタムする",
        "pt-BR": "Largura do logotipo personalizado"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": {
        "de": "px",
        "en": "px",
        "es": "px",
        "fr": "px",
        "it": "px",
        "ja": "px",
        "pt-BR": "px"
      },
      "default": 100
    },
    {
     "type": "header",
     "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
