<!-- Start header -->
{% if section.settings.message %}
    {% if section.settings.promo_text != blank %}
      <div class="promo_banner">
        <div class="promo_banner__content">
          {{ section.settings.promo_text }}
        </div>
        <div class="promo_banner-close"></div>
      </div>
    {% endif %}
{% endif %}
<header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">

  <div class="top_bar clearfix">
    <a class="mobile_nav dropdown_link" data-dropdown-rel="menu" data-no-instant="true">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
<!--       <span class="menu_title">{{ 'layout.general.menu' | t }}</span> -->
    </a>
    
     <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
      {% if section.settings.logo_mobile != nil %}
        <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% elsif section.settings.logo != nil %}
        <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    
    <div class="top_bar--right">
      {% if section.settings.search_enabled %}
        <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
      {% endif %}
      {% if section.settings.show_cart %}
        <div class="cart_container">
          <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
        </div>
      {% endif %}
    </div>

  </div>
  {% if section.settings.search_enabled %}
    <div class="dropdown_container center" data-dropdown="search">
      <div class="dropdown">
        <form action="/search" class="header_search_form">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <span class="icon-search search-submit"></span>
          <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
        </form>
      </div>
    </div>
  {% endif %}
  <div class="dropdown_container" data-dropdown="menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% include 'mobile-menu' with section.settings.main_linklist %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="/account" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li data-no-instant>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</header>

<header id="header1">
	<nav class="navbar navbar-inverse">
		<div class="main_logo">
			<div class="navbar-header">
              
               {% if section.settings.logo %}
                  <a href="/" class="navbar-brand">
                    {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
                    <img class="lazyload js"
                         src="{{ section.settings.logo | img_url: '300x300' }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
                         data-sizes="auto"
                         alt="{{ logo_alt | escape }}"
                         style="max-width: {{ section.settings.logo_max_width }}px">
                   
                  </a>
                {% else %}
                  <a title="Logo" itemprop="url" href="/">{{ shop.name }}</a>
                {% endif %}
		    </div>
		</div>

	  	<div class="main_navigation">
		    <div class="collapse navbar-collapse" id="myNavbar">

		      <ul class="nav navbar-nav navbar-right">
                {% if section.settings.search_enabled %}
		        <li class="search_icon"><a href="/search"><img src="{{ 'search-icon.png' | asset_url  }}"></a></li>
                {% endif %}
                
                {%comment%}
                 {% if section.settings.show_cart %}
		           <li class="cart_icon"><a href="/cart"><img src="{{ 'cart-icon.png' | asset_url  }}"><span class="cart_count">({{ cart.item_count }})</span></a></li>
                {% endif %}
                {%endcomment%}
                
                
                  {% if section.settings.show_cart %}
                    <div class="cart_container">
                      <a href="/cart" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
                        <span class="cart_count">{{ cart.item_count }}</span>
                      </a>
                      {% unless settings.cart_action == 'ajax' and template contains 'cart' %}
                        <div class="cart_content animated fadeIn">
                          <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
                            <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
                          </div>
                          <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cart.item_count == 0 %}hidden{% endif %}">
                            <a class="cart_content__continue-shopping secondary_button">
                              {{ 'cart.general.continue_shopping_link_html' | t }}
                            </a>
                            <ul class="cart_items js-cart_items clearfix">
                              {% assign total_saving = 0 %}
                              {% for item in cart.items %}
                                {% if item.variant.compare_at_price > item.variant.price %}
                                  {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                                  {% assign total_saving = saving | plus: total_saving %}
                                {% endif %}

                                <li class="cart_item clearfix">
                                  <a href="{{ item.url }}">
                                    {% if item.image %}
                                      <div class="cart_image">
                                        <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                                      </div>
                                    {% endif %}

                                    <div class="cart_item__title">
                                      <div class="item_title">
                                        {{ item.product.title }}
                                        {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                                          -
                                          {% for option in item.product.options %}
                                            {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                          {% endfor %}
                                        {% endunless %}
                                        {% if item.properties %}
                                          {% for p in item.properties %}
                                            {% if p.last != blank %}
                                              <div class="line-item">
                                                {{ p.first }}: {{ p.last }}
                                              </div>
                                            {% endif %}
                                          {% endfor %}
                                        {% endif %}
                                      </div>
                                    </a>
                                    <div class="left product-quantity-box">
                                      <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                                      <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                                      <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                                    </div>
                                  </div>

                                  <strong class="right price">
                                    {% if item.price < item.variant.compare_at_price %}
                                      <span class="money was_price">{{ item.variant.compare_at_price | money }}</span>
                                    {% endif %}

                                    <span class="money">{{ item.price | money }}</span>
                                  </strong>
                                </li>
                              {% endfor %}
                            </ul>
                            <hr />
                            <ul>
                              <li class="cart_subtotal js-cart_subtotal">
                                <span class="right">
                                  <span class="money">{{ cart.total_price | money }}</span>
                                </span>
                                <span>{{ 'layout.general.subtotal' | t }}</span>
                              </li>
                              {% if settings.display_savings %}
                                <li class="cart_savings sale js-cart_savings">
                                  {% if total_saving > 0 %}
                                    <span class="right">
                                      <span class="money">{{ total_saving | money }}</span>
                                    </span>
                                    <span>{{ 'layout.general.savings' | t }}</span>
                                  {% endif %}
                                </li>
                              {% endif %}
                              <li>
                                {% if settings.display_special_instructions and settings.go_to_checkout %}
                                  <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                                {% endif %}

                                {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                                  <p class="tos">
                                    <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                                      <label class="tos_label">
                                        {{ 'cart.general.agree_to_terms_html' | t }}
                                      </label>
                                      {% if settings.tos_page != blank %}
                                        <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                                      {% endif %}
                                  </p>
                                {% endif %}

                                {% if settings.cart_message != blank %}
                                  <div class="cart_text">
                                    {{ settings.cart_message }}
                                  </div>
                                {% endif %}

                                <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                              </li>
                            </ul>
                          </form>
                        </div>
                      {% endunless %}
                    </div>
                  {% endif %}
		      </ul>

           
		      <div class="nav">
                 <ul class="menu center clearfix">
                    <div class="vertical-menu">
                      {% for link in linklists.main-menu.links %}
                            {% assign child_list_handle = link.title | handleize %}
                            {% if linklists[child_list_handle].links != blank %}
                               <li class="sublink">
                                  <a data-no-instant=""  href="{{ link.url }}" title="" itemprop="url"  class="dropdown_link--vertical" data-dropdown-rel="shop" data-click-count="0">{{ link.title }}<span class="icon-down-arrow"></span></a> 
                                  <ul class="vertical-menu_submenu">
                                     {% for childlink in linklists[child_list_handle].links %}
                                      <li><a href="{{ childlink.url }}" title="" itemprop="url">{{ childlink.title | escape }}</a></li>
                                     {% endfor %}
                                  </ul>
                              </li>
                            {% else %}
                               <li><a href="{{ link.url }}" class="top_link " data-dropdown-rel="how-its-used">{{ link.title }}</a></li>
                            {% endif %}
                          {% endfor %}
                            {% if shop.customer_accounts_enabled %}
                            {% if customer %}
<!--                                 <li><a href="/account">ACCOUNT</a></li> -->
                            {% else %}
<!--                                 <li><a href="/account/login">LOGIN</a></li> -->
                            {% endif %}
                       {% endif %}
                      
                    </div>
                 </ul>
              </div>

		    </div>
	  	</div>
	</nav>
</header>
<!-- End header --> 

{% schema %}
 {
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "pt-BR": "Exibir anúncio"
      },
      "default": false
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "de": "Logo-Foto",
        "en": "Logo image",
        "es": "Logotipo",
        "fr": "Image du logo",
        "it": "Immagine del logo",
        "ja": "ロゴ画像",
        "pt-BR": "Imagem do logotipo"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logotipo personalizado",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタムする",
        "pt-BR": "Largura do logotipo personalizado"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": {
        "de": "px",
        "en": "px",
        "es": "px",
        "fr": "px",
        "it": "px",
        "ja": "px",
        "pt-BR": "px"
      },
      "default": 100
    },
    {
     "type": "header",
     "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
