  {% assign banner_image = section.settings.banner_image %}
  {% assign banner_image_mob = section.settings.banner_image_mob %}
  {% assign banner_title = section.settings.banner_title %}
  {% assign banner_sub_title = section.settings.banner_sub_title %}
  {% assign banner_button_text = section.settings.banner_button_text %}
  {% assign banner_link_btn = section.settings.banner_link_btn %}


  {% assign image = section.settings.image %}
  {% assign title = section.settings.title %}
  {% assign content = section.settings.content %}
  {% assign left_title = section.settings.left_title %}
  {% assign left_content = section.settings.left_content %}
  {% assign right_title = section.settings.right_title %}
  {% assign right_content = section.settings.right_content %}
  {% assign button_heading = section.settings.button_heading %}
  {% assign button_link = section.settings.button_link %}
<!-- Start banner -->
<!-- <section class="hero_banner">
	 <img src="{{ banner_image.src | img_url: 'master' }}"> 
</section> -->


<!-- Start banner -->
<section class="hero_banner pdm">
	 <img src="{{ banner_image.src | img_url: 'master' }}"> 
	 <div class="container">
	    <div class="row">
		   <div class="col-md-5">
		     <div class="cook_prep">
				   <h2>{{ banner_title }}</h2>
				   <p>{{ banner_sub_title }}</p>
				   <a href="{{ banner_link_btn }}" class="buy_btn hub_btn">{{ banner_button_text }}</a>
		     </div>
		   </div>
		    <div class="col-md-7">
		   </div>
		</div>
	 </div>

</section>
<section class="hero_banner_mob">
	 
	 <div class="container">
	    <div class="row">
		   <div class="col-md-12">
		     <div class="cook_prep">
				   <h2>{{ banner_title }}</h2>
				   <p>{{ banner_sub_title }}</p>
				   <a href="{{ banner_link_btn }}" class="buy_btn hub_btn">{{ banner_button_text }}</a>
		     </div>
		   </div>
		</div>
	 </div>
	 <img src="{{ banner_image_mob.src | img_url: 'master' }}"> 

</section>
<!-- End banner -->
<!-- Start cooking back section -->
<section class="cooking_back">
	<div class="cooking_back_img">	
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="section_head text-center">
						{{ title }}
						<p>{{ content }}</p>
					</div>
					<img src="{{ image.src | img_url: 'master' }}">
				</div>
			</div>
		</div>
	</div>

	<div class="cooking_back_txt">	
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="cooking_txt_main">
						<div class="cooking_txt_inner">
							<h3>{{ left_title }}</h3>
							<p>{{ left_content }}</p>
						</div>
						<div class="cooking_txt_inner">
							<h3>{{ right_title }}</h3>
						    <p>{{ right_content }}</p>
                      </div>
					</div>

					<div class="text-center">
						<a href="{{ button_link }}" class="buy_btn">{{ button_heading }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End cooking back section -->

{% schema %}
  {
    "name": "Home Joy Section",
    "settings": [

     {
        "type": "image_picker",
        "id": "banner_image",
        "label": "Banner Image"
     },
     {
        "type": "image_picker",
        "id": "banner_image_mob",
        "label": "Banner Image For Mobile"
     },
     {
        "type": "text",
        "id": "banner_title",
        "label": "Banner Heading"
     },
     {
        "type": "text",
        "id": "banner_sub_title",
        "label": "Banner Sub-Heading"
     },
     {
        "type": "text",
        "id": "banner_button_text",
        "label": "Banner Button Text"
     },
     {
        "type": "text",
        "id": "banner_link_btn",
        "label": "Banner Button Link"
     },
     {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
       {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "left_content",
        "label": "Left Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "right_content",
        "label": "Right Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button_heading",
        "label": "Button Heading",
        "default": "BUY NOW"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button Link",
        "default": "/"
      }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
