{% comment %}
** Slideshow - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

{% if section.blocks.size > 0 %}

   	<style>
		{% for block in section.blocks %}
      		@media only screen and (orientation: portrait) {
				.home-slider article#s-{{block.id}}{	
					background-image:url('{{ block.settings.portrait_image | img_url:'master' }}') !important;
				}
			}
		{% endfor %}
	</style>

  <section class="home-slider">
   
    {% for block in section.blocks %}
		<article id="s-{{block.id}}" style="background-image: url('{{ block.settings.image | img_url:'master' }}');min-height: calc( 100vh - 71px );background-size: cover; background-position: 50% 50%; display: flex; align-items: center; width:100%;">
		  <div class="container" style="margin-top: -15%;">
			<div class="content cook_prep">
			  <h2>{{ block.settings.banner_title }}</h2>
			   <p>{{ block.settings.banner_sub_title }}</p>
			<a href="{{ block.settings.btn_link }}" class="button" style="margin-bottom: 15px;">
						{{ block.settings.banner_btn }}</a>
			</div>
		  </div>
		</article>
    {% endfor %}
    
  </section>
{% endif %}
{% schema %}

{
  "name": "Home Slideshow",
  "class": "slideshow-section under-menu",
  "settings": [
    {
      "type": "select",
      "id": "slideshow_text_animation",
      "label": "Text animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeInDown",
          "label": "Fade Down"
        }
      ],
      "default": "fadeInDown"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Change slides every",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"
    },
    {
      "type": "checkbox",
      "id": "activate_adaptiveHeight",
      "label": "Enable adaptive height",
      "info": "Slideshow will adjust based on height of individual slides"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1600 x 1000px recommended"
        },
        {
          "type": "image_picker",
          "id": "portrait_image",
          "label": "Portrait Image"
        },
	 	{
            "type": "text",
            "id": "banner_title",
            "label": "Banner Heading"
         },
         {
            "type": "html",
            "id": "banner_sub_title",
            "label": "Banner Sub-Heading"
         },
         {
            "type": "text",
            "id": "banner_btn",
            "label": "Button Text"
         },
        {
            "type": "text",
            "id": "btn_link",
            "label": "Button Link"
        },
        {
          "type": "checkbox",
          "id": "caption_background",
          "label": "Display text background"
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable text background transparency"
        }
      ]
    }
  ],
  "presets": [
	{
	  "name": "Home Hero",
	  "category": "Image"
	}
  ]
}

{% endschema %}

