  {% assign title = section.settings.title %}
  {% assign left_image = section.settings.left_image %}
  {% assign right_image = section.settings.right_image %}
  {% assign left_title = section.settings.left_title %}
  {% assign left_content = section.settings.left_content %}
  {% assign right_title = section.settings.right_title %}
  {% assign right_content = section.settings.right_content %}

<section class="cooking_back pdm">
   <div class="container-fluid">
     <div class="row">
	 <div class="col-md-12">
	    <div class="section_head text-center">
			<h2>{{ title }}</h2>
		</div>
	 </div>
	 <div class="cooking_txt_main">
		<div class="col-md-6">
		  <div class="cooking_txt_inner" align="center">
		   <h3>{{ left_title }}</h3>
			<img class="lazyload" data-src="{{ left_image.src | img_url: 'master' }}" style="max-width:600px;"> 
			{{ left_content }}
	      </div>
		</div>
		<div class="col-md-6">
		 <div class="cooking_txt_inner" align="center">
		  <h3>{{ right_title }}</h3>
			<img class="lazyload" data-src="{{ right_image.src | img_url: 'master' }}" style="max-width:600px;"> 
			{{ right_content }}
          </div>
		</div>
    </div>

	 </div>
   </div>
</section>
{% schema %}
  {
    "name": "Home Section 2",
    "settings": [
     {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "The Situation"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image"
      },
       {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "left_content",
        "label": "Left Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "right_content",
        "label": "Right Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      }
  ],
  "presets": [
	{
	  "name": "The Difference",
	  "category": "Content"
	}
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
