{% comment %}
** Logos - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

  {% assign left_title = section.settings.left_title %}
  {% assign left_content = section.settings.left_content %}
  {% assign right_title = section.settings.right_title %}
  {% assign right_content = section.settings.right_content %}
<!-- Start featured services -->
<section class="featured_services">
	<div class="container" style="padding: 0px !important;">
		<div class="row">
			<div class="col-md-12">
              
              {% if section.blocks.size > 0 %}
				<ul class="s_uline clearfix home_logos">
                  {% for block in section.blocks %}
					<li>
                        {% if block.settings.image != blank %}
						  <img src="{{ block.settings.image | img_url: 'master' }}">
                        {% endif %}
						<p>{{ block.settings.logo_title }}</p>
					</li>
                   {% endfor %}
				</ul>

                {% endif %}
<!--               
				<div class="row">
					<div class="col-md-6">
						<div class="service_grid">
							<h2>{{ left_title }}</h2>
							{{ left_content }}
						</div>
					</div>
					<div class="col-md-6">
						<div class="service_grid">
							<h2>{{ right_title }}</h2>
							{{ right_content }}
                      </div>
					</div>
				</div>
 -->
			</div>
		</div>
	</div>
</section>
<!-- End featured services -->
<style>
.logo-list-section {
    background-color: #f7f7f7 !important;
}
</style>


{% schema %}
  {
    "name": "Home Logo list",
    "class": "logo-list-section",
    "max_blocks":4,
    "settings": [
       {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading"
      },
      {
        "type": "html",
        "id": "left_content",
        "label": "Left Text" },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading"
      },
      {
        "type": "html",
        "id": "right_content",
        "label": "Right Text"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          },
          {
            "type": "text",
            "id": "logo_title",
            "label": "Logo Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Logo list",
        "category": "Image",
        "blocks": [
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          },
          {
            "type": "logo_image"
          }
        ]
      }
    ]
  }
{% endschema %}
