{% comment %}
** Logos - Prepdek Product **
- Draggable section
- Uses blocks
{% endcomment %}

<!-- Start featured services -->
<div class="container-fluid">

  <h2>{{section.settings.title}}</h2>

  {% if section.blocks.size > 0 %}
  <div class="logolist">
    <img class="logolist-desktop" src="{{ 'logolist-desktop.png' | asset_url }}">
    <img class="logolist-mobile" src="{{ 'logolist-mobile.png' | asset_url }}">
  </div>

  {% endif %}
</div>
<!-- End featured services -->



{% schema %}
  {
    "name": "Prepdeck Logolist",
    "class": "logo-list-section",
    "max_blocks": 20,
    "settings": [
       {
        "type": "text",
        "id": "title",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "400 x 300px recommended"
          }
        ]
      }
    ]
  }
{% endschema %}
