{% comment %}
** Discover - Prepdek Product **
- Uses blocks
{% endcomment %}

<section class="discover">
  <div class="dicover-text">
    <div class="title">{{ section.settings.title }}</div>
    <a href="#" class="btn-discover"><img src="{{'arrow-right.svg' | asset_url}}"></a>
    <div class="text">{{ section.settings.text }}</div>
  </div>
  
  {% if section.blocks.size > 0 %}
  <div class="discover-carousel">
    {% for block in section.blocks %}
    <div class="carousel-block slide-{{ forloop.index }}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
      <div class="carousel-block-content">
        {% if block.settings.image != nil %}
        	<img  src="{{ block.settings.image | img_url: 'master' }}"/>
        {% endif %}
        <div class="discover-block">
          <div class="title">{{block.settings.title}}</div>
          <div class="text">{{block.settings.text}}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  
</section>

{% assign blockcount = section.blocks | size %}
<div style="padding: 0 30px;"><div class="bottom-progress"><div class="thumb" style="width: {{ 100.0 | divided_by: blockcount }}%;"></div></div></div>

{% schema %}

{
  "name": "Prepdeck Discover",
  "class": "discover-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
           "type": "text",
           "id": "title",
           "label": "Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}

{% endschema %}
