{% comment %}
** Carousel - Prepdek Product **
- Uses blocks
{% endcomment %}

<section class="featured-link--section featured-link--image">
  <div class="featured-link--half">
    <div class="info text-align--center">
      
      <div class="title">{{section.settings.title}}</div>

      {% if section.blocks.size > 0 %}
      <div class="prepdeck-carousel">
          {% for block in section.blocks %}
            <div class="carousel-block slide-{{ forloop.index }}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
              <div style="width: 100%; max-width: 335px; margin: 0 auto;">
                {% if block.settings.image != nil %}
                	<img  src="{{ block.settings.image | img_url: 'master' }}"/>
                {% endif %}
                <div class="sub-title">{{block.settings.sub_title}}</div>
                <div class="text">{{block.settings.text}}</div>
              </div>
            </div>
          {% endfor %}
      </div>
      {% endif %}
      
    </div>
  </div>
  <div class="featured-link--half featured-link--image featured-link--margin">
    <div class="featured-link--wrap">
        
        {% if section.blocks.size > 0 %}
        <div class="prepdeck-left-carousel">
          {% for block in section.blocks %}

          {% if block.settings.big_image %}
          <img  alt="{% if block.settings.big_image.alt != blank %}{{ block.settings.big_image.alt | escape }}{% endif %}"
               class="lazyload full-width-image {{ block.image_loading_style }}"
               data-sizes="auto"
               data-src="{{ block.settings.big_image | img_url: '1600x' }}"
               data-srcset=" {{ block.settings.big_image | img_url: '400x' }} 400w,
                            {{ block.settings.big_image | img_url: '500x' }} 500w,
                            {{ block.settings.big_image | img_url: '600x' }} 600w,
                            {{ block.settings.big_image | img_url: '700x' }} 700w,
                            {{ block.settings.big_image | img_url: '800x' }} 800w,
                            {{ block.settings.big_image | img_url: '900x' }} 900w,
                            {{ block.settings.big_image | img_url: '1200x' }} 1200w,
                            {{ block.settings.big_image | img_url: '1600x' }} 1600w"
               />
          {% else %}
          {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
          {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
          {% endif %}

          {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>
</section>

{% schema %}

{
  "name": "Prepdeck Carousel",
  "class": "carousel-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
           "type": "text",
           "id": "sub_title",
           "label": "Sub Title"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "big_image",
          "label": "Left Side Big Image"
        }
      ]
    }
  ]
}

{% endschema %}
