{% comment %}
** Quality - Prepdek Product **
- Uses blocks
{% endcomment %}

<section class="featured-link--section featured-link--image">
  <div class="featured-link--half featured-link--image featured-link--margin">
    <div class="featured-link--wrap">
        {% if section.settings.image %}
        <img  alt="{% if section.settings.image.alt != blank %}{{ section.settings.image.alt | escape }}{% endif %}"
             class="lazyload full-width-image {{ settings.image_loading_style }}"
             data-sizes="auto"
             data-src="{{ section.settings.image | img_url: '1600x' }}"
             data-srcset=" {{ section.settings.image | img_url: '400x' }} 400w,
                          {{ section.settings.image | img_url: '500x' }} 500w,
                          {{ section.settings.image | img_url: '600x' }} 600w,
                          {{ section.settings.image | img_url: '700x' }} 700w,
                          {{ section.settings.image | img_url: '800x' }} 800w,
                          {{ section.settings.image | img_url: '900x' }} 900w,
                          {{ section.settings.image | img_url: '1200x' }} 1200w,
                          {{ section.settings.image | img_url: '1600x' }} 1600w"
             />
        {% else %}
        {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
        {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
        {% endif %}
      <a href="#">Show in Licorice Ice</a>
    </div>
  </div>
  <div class="featured-link--half">
    <div class="info text-align--left">
      <div class="title">{{ section.settings.title }}</div>
      <div class="text">{{ section.settings.text }}</div>
      
      {% if section.blocks.size > 0 %}
      <ul>
        {% for block in section.blocks %}
        <li><img src="{{'check.svg' | asset_url}}"> {{block.settings.title}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </div>
  </div>
</section>

{% schema %}

{
  "name": "Prepdeck Quality",
  "class": "quality-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "Title"
        }
      ]
    }
  ]
}

{% endschema %}
