<div class="container">
  {% if section.settings.title != blank %}
  	<h2>{{ section.settings.title }}</h2>
  {% endif %}

  <div class="element-container">
  {% for block in section.blocks %}
  
    <div class=" text-align--{{ block.settings.align_text }} element-block">

      {% if block.settings.image != blank %}
      <p>
        <img  src="{{ block.settings.image.src | img_url: '300x' }}"
             class="lazyload {{ settings.image_loading_style }}"
             alt="{{ block.settings.image.alt }}"
             data-sizes="auto"
             data-src="{{ block.settings.image | img_url }}"
             data-srcset=" {{ block.settings.image | img_url: '2048x' }} 2048w,
                          {{ block.settings.image | img_url: '1200x' }} 1200w,
                          {{ block.settings.image | img_url: '1000x' }} 1000w,
                          {{ block.settings.image | img_url: '800x' }} 800w,
                          {{ block.settings.image | img_url: '600x' }} 600w,
                          {{ block.settings.image | img_url: '400x' }} 400w"
             />
      </p>
      <noscript>
        <p>
          {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt }}
        </p>
      </noscript>
      {% else %}
      <p>
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      </p>
      {% endif %}

      {% if block.settings.title != blank %}
      <h3>{{ block.settings.title | escape }}</h3>
      {% endif %}
      {% if block.settings.text != blank %}
      <div class="text samerow-{{forloop.index | plus: 1 | divided_by: 2}}">{{ block.settings.text }}</div>
      {% endif %}

    </div>
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Prepdeck BoxElement",
    "class": "boxelement-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "What's In the Box"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "Column",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Add a title or tagline"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      }
    ]
  }
{% endschema %}
