{% comment %}
** Dimension - Prepdek Product **
{% endcomment %}

<div class="dimension-header">
  <div class="notify">Prepdeck+ now includes a 6-month subscription to <b>New York Times Cooking!</b></div>
  {% assign upgradepdt = all_products['prepdeck-upgrade'] %}
  {% assign variantid = upgradepdt.first_available_variant.id %}
  <a href="#" class="nyt-upgrade" data-variantid="{{variantid}}">Upgrade Now</a>
</div>

<div class="dimension-image">
  <div class="title">{{ section.settings.title }}</div>
  {% if section.settings.image %}
  <img  alt="{% if section.settings.image.alt != blank %}{{ section.settings.image.alt | escape }}{% endif %}"
       class="lazyload full-width-image {{ settings.image_loading_style }}"
       data-sizes="auto"
       data-src="{{ section.settings.image | img_url: '1600x' }}"
       data-srcset=" {{ section.settings.image | img_url: '400x' }} 400w,
                    {{ section.settings.image | img_url: '500x' }} 500w,
                    {{ section.settings.image | img_url: '600x' }} 600w,
                    {{ section.settings.image | img_url: '700x' }} 700w,
                    {{ section.settings.image | img_url: '800x' }} 800w,
                    {{ section.settings.image | img_url: '900x' }} 900w,
                    {{ section.settings.image | img_url: '1200x' }} 1200w,
                    {{ section.settings.image | img_url: '1600x' }} 1600w"
       />
  {% else %}
  {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
  {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
  {% endif %}
</div>

{% schema %}

{
  "name": "Prepdeck Dimension",
  "class": "dimension-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}

{% endschema %}
