{% comment %}
** Logos - Prepdek Product **
- Draggable section
- Uses blocks
{% endcomment %}

<!-- Start featured services -->

<div class="heading-title">{{section.settings.title}}</div>
  <div class="sub-title">{{ section.settings.sub_title }} <a href="{{section.settings.button_url}}">{{section.settings.button_title}}</a></div>
  
  {% if section.blocks.size > 0 %}
  <div class="images">
    {% for block in section.blocks %}
    <div class="single-image">
      <div class="ratio-11">
    	<img src="{{block.settings.image | img_url: 'master'}}">
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}
<!-- End featured services -->



{% schema %}
  {
    "name": "Prepdeck Social",
    "class": "social-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title"
      },
      {
        "type": "text",
        "id": "button_title",
        "label": "Button Title"
      },
      {
        "type": "text",
        "id": "button_url",
        "label": "Button URL"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
