<section class="pdm">
	<style>
      #shopify-section-product-nyt {background-color: #f7f7f7 !important;}
#shopify-section-product-nyt h2 {line-height:1.2em;color:#000;font-size:33px;font-family:'HarrietDisplay';}
#shopify-section-product-nyt .col-md-5 {padding-top:2em;}
@media (min-width: 1300px) {
#shopify-section-1580492723221 .container {
    width: 1270px;
}
}
@media only screen and (max-width: 768px) {
  #shopify-section-product-nyt p.logos-container {margin-left:-15px;margin-right:-15px;}
#shopify-section-product-nyt .col-md-5 {padding-top:0em;}
#shopify-section-product-nyt img {margin-top:2em;}
}
</style>
<div class="container"><div class="row">
<div class="col-sm-12 col-md-5">
  <p class="text-left logos-container"><a href="/NYTCooking"><img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/prepdeck-with-nyt-v2-min.png?v=1580766153" alt="Prepdeck with New York Times"></a></p>
<h2 class="text-left" style="margin-top:.5em;">Get a 6-month subscription to New York Times Cooking with any Prepdeck+</h2>
<p class="text-left" style="margin-top:1.5em;font-size:16px;font-family:Lato;line-height:22px;">Access thousands of recipes, watch easy-to-follow videos and build the only recipe box you’ll ever need.</p>
<p class="text-left hidden-xs hidden-sm" style="margin-top:1.5em;"><a class="button" href="/NYTCooking">Learn More</a></p>
</div>
<div class="col-sm-12 col-md-7 text-center"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/nyt-recipe-access-home-min.png?v=1580494142" class="lazyload" alt="NYT Predeck+"><p class="text-center hidden-md hidden-lg" style="margin-top:2em;"><a class="button" href="/NYTCooking">Learn More</a></p></div>
</div></div>
</section>