{% comment %}
** Cooking - Prepdek Product **
- Uses blocks
{% endcomment %}

<div class="cooking-header">
  <div class="title">{{ section.settings.title }}</div>
  <img src="{{ section.settings.image | img_url: 'master' }}">
</div>

<section class="featured-link--section featured-link--image">
  <div class="featured-link--half featured-link--image featured-link--margin">
    <div class="featured-link--wrap">
        {% if section.settings.left_image %}
        <img  alt="{% if section.settings.left_image.alt != blank %}{{ section.settings.left_image.alt | escape }}{% endif %}"
             class="lazyload full-width-image {{ settings.image_loading_style }}"
             data-sizes="auto"
             data-src="{{ section.settings.left_image | img_url: '1600x' }}"
             data-srcset=" {{ section.settings.left_image | img_url: '400x' }} 400w,
                          {{ section.settings.left_image | img_url: '500x' }} 500w,
                          {{ section.settings.left_image | img_url: '600x' }} 600w,
                          {{ section.settings.left_image | img_url: '700x' }} 700w,
                          {{ section.settings.left_image | img_url: '800x' }} 800w,
                          {{ section.settings.left_image | img_url: '900x' }} 900w,
                          {{ section.settings.left_image | img_url: '1200x' }} 1200w,
                          {{ section.settings.left_image | img_url: '1600x' }} 1600w"
             />
        {% else %}
        {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
        {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
        {% endif %}
    </div>
  </div>
  <div class="featured-link--half">
    <div class="info text-align--left">
      <div class="text">{{ section.settings.text }}</div>
      <div class="sub-title">{{ section.settings.sub_title }}</div>
      
      {% if section.blocks.size > 0 %}
      <ul>
        {% for block in section.blocks %}
        	{% if block.type == 'text' %}
        		<li>{{block.settings.title}}</li>
        	{% endif %}
        {% endfor %}
      </ul>
      
      <div class="cooking-images">
        {% for block in section.blocks %}
        	{% if block.type == 'image' %}
        		<img src="{{block.settings.image | img_url: 'master' }}">
        	{% endif %}
        {% endfor %}
      </div>
      {% endif %}
      
    </div>
  </div>
</section>
{% schema %}

{
  "name": "Prepdeck Cooking",
  "class": "cooking-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "text",
      "settings": [
        {
           "type": "text",
           "id": "title",
           "label": "Title"
        }
      ]
    },
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}

{% endschema %}
