{% comment %}
** Testimonial - Prepdek Product **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign default = '1400x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '2000x' %}

{% if section.blocks.size > 0 %}
<div class="container">
<section class="testimonials">
  <h2>{{ section.settings.title }}</h2>
  <div class="sub-title">{{ section.settings.sub_title }}</div>
  <a href="#looxReviews">
    <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
    <div class="loox-rating-info">{{ product.metafields.loox.avg_rating }} </div>
  </a>
  <div  id="testimonial-{{section.id}}"
       class="testimonial-slideshow js-testimonial {% if section.settings.testimonial_text_animation != '' %}text-animation--true{% endif %} {% if settings.slideshow_button_style != true %}light-button{% endif %}"
       data-slider-id="testimonial-{{section.id}}"
       data-slideshow-speed="{{section.settings.testimonial_speed}}"
       data-slideshow-text-animation="{{section.settings.testimonial_text_animation}}"
       
       >
    {% for block in section.blocks %}
    <div class="testimonial-block gallery-cell slide-{{ forloop.index }}" {{ block.shopify_attributes }} data-block-id="{{block.id}}">
      
      <div class="testimonial-thumbnail">
      {% if block.settings.image != nil %}
      <img  src="{{ block.settings.image | img_url: '100x', format: 'pjpg' }}"
           alt="{{ block.settings.image.alt | escape }}"
           class="testimonial-image lazyload js-image-loaded {{ settings.image_loading_style }}"
           sizes="100vw"
           data-src="{{ block.settings.image | img_url: default, format: 'pjpg' }}"
           srcset="
                   {{ block.settings.image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
                   {{ block.settings.image | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}"
           />

      {% else %}
        {% capture i %}{% cycle "1", "2" %}{% endcapture %}
        {{ 'lifestyle-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--slideshow testimonial-image' }}
      {% endif %}
      
        {% if block.settings.video_url != blank %}
        	<a data-videourl="{{block.settings.video_url}}" class="video-button" href="#"><img src="{{ 'video_button.png' | asset_url }}"></a>
        {% endif %}
      </div>
      
      
      <div class="testimonial-info text-center">
        <div class="testimonial-content">
          {{ block.settings.testimonial }}
        </div>
        <div class="testimonial-name">
          {{ block.settings.title }}
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  
  {% comment %}
  <a class="btn-watch" href="#"><img src="{{'video_button.png' | asset_url}}"> Watch In Action</a>
  {% endcomment %}
</section>
</div>
{% endif %}

{% schema %}

{
  "name": "Prepdeck Testimonials",
  "class": "testimonial-section",
  "settings": [
	{
       "type": "text",
       "id": "title",
       "label": "Title"
    },
	{
       "type": "text",
       "id": "sub_title",
       "label": "Sub Title"
    },
    {
      "type": "select",
      "id": "testimonial_text_animation",
      "label": "Text animation",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade Up"
        },
        {
          "value": "fadeInDown",
          "label": "Fade Down"
        }
      ],
      "default": "fadeInDown"
    },
    {
      "type": "range",
      "id": "testimonial_speed",
      "label": "Change testimonials every",
      "min": 4,
      "max": 12,
      "step": 1,
      "default": 6,
      "unit": "sec"        
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "video_url",
          "type": "text",
          "label": "Video URL",
          "default": "https://player.vimeo.com/video/397535138"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam enim, fringilla ut purus ut, pretium ullamcorper sem. In sit amet vestibulum tellus. Aenean gravida dolor eget mi bibendum semper. </p>"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Customer name"
        }
      ]
    }
  ]
}

{% endschema %}
