<section class="product-head">

  <a name="pagecontent" id="pagecontent"></a>

  <div class="container main content">

    <div class="product clearfix">
      <div class="row">

        <div class="product-{{ product.id }}"
             data-free-text="{{ settings.free_price_text }}">
          <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">

            <div class="col-md-7 {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
              {% include 'product-images' %}
              {% comment %}{% include 'product-image.original' %}{% endcomment %}
            </div>

            <div style="margin-top:0;" class="col-md-5 {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
              <div class="the-content">

                {% assign collection_handles = product.collections | map: 'handle' %}
                {% assign variant = product.selected_or_first_available_variant %}

                <div class="product-info-header">
                  <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
                  <a href="#looxReviews">
                    <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
                    <div class="loox-rating-info">{{ product.metafields.loox.avg_rating }} </div> <label>({{ product.metafields.loox.num_reviews }})</label>
                  </a>
                </div>
                {% if section.settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                {% endif %}


                {% if section.settings.product_description_position == "top" %}
                {% if product.description != blank %}
                <div class="description" itemprop="description">
                  {% comment %}
                  {{ product.description | split: '<!-- split -->' | first }}
                  {% endcomment %}
                  <p>Say goodbye to a disorganized, messy, stressful cooking process. Prepdeck brings chef-approved mise en place techniques to the home cook so you can prep ahead, stay organized and enjoy a stress-free cooking environment.</p>
                </div>
                {% endif %}
                {% endif %}

                <a class="video-button" data-videourl="https://player.vimeo.com/video/{{product.metafields.global.video_url}}" data-remodal-target="prepdeck-video-popup" href="#prepdeck-video-popup"><img src="{{'video_button.png' | asset_url}}"> Watch How It Works</a>

                {% unless collection_handles contains 'coming-soon' %}
                {% include 'product-form-prepdeck' with 'product' %}
                {% endunless %}


                <div class="additional-info">
                  <ul>
                    <li><img src="{{'addinfo1.png' | asset_url}}"> Free Shipping in USA</li>
                    <li><img src="{{'addinfo2.png' | asset_url}}"> 30-Day Money-Back Guarantee</li>
                    <li><img src="{{'addinfo3.png' | asset_url}}"> Blazing-Fast Customer Service</li>
                  </ul>
                  
                  <div class="secure-info">
                    <img src="{{'shopify_secure.png' | asset_url}}">
                    <img src="{{'mcafee_secure.png' | asset_url}}">
                  </div>
                </div>
                {% if section.settings.trust_badge != blank %}
                <div class="trust-badge">
                  <img src="{{ section.settings.trust_badge | img_url: '300x' }}">
                </div>
                {% endif %}



                {% if settings.enable_shopify_review_comments and section.settings.enable_reviews_in_description %}
                {% include 'include-reviews', type: 'block' %}
                {% endif %}

                <div class="meta">
                  {% if section.settings.display_social_buttons %}
                  {% include "social-buttons" with "product" %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>



<style>
  .container.main {
    width: 100%;
    max-width: 100%;
    padding: 0px;
  }
  .product-details__blocks.clearfix {
    margin-right: -15px;
    margin-left: -15px;
  }
  .section.product_section.clearfix.js-product_section {
    padding: 20px 30px;
  }

</style>

{% schema %}

{
"name": "Product",
"class": "product-template product-prepdeck-section",
"settings": [
{
"type": "header",
"content": "Image"
},
{
"type": "checkbox",
"id": "gallery_arrows",
"label": "Show arrows on product gallery"
},
{
"type": "checkbox",
"id": "activate_zoom",
"label": "Magnify product images on hover"
},
{
"type": "checkbox",
"id": "enable_product_lightbox",
"label": "Enable product gallery popup",
"default": true
},
{
"type": "checkbox",
"id": "activate_autoplay",
"label": "Enable product gallery slideshow"
},
{
"type": "select",
"id": "slideshow_animation",
"label": "Gallery transition",
"options": [
{
"value": "slide",
"label": "Slide"
},
{
"value": "fade",
"label": "Fade"
}
],
"default": "slide"
},
{
"type": "radio",
"id": "product_images_position",
"label": "Gallery position",
"options": [
{
"value": "left",
"label": "Left"
},
{
"value": "right",
"label": "Right"
}
]
},
{
"type": "checkbox",
"id": "product_thumbs",
"label": "Show product gallery thumbnails"
},
{
"type": "select",
"id": "thumbnail_position",
"label": "Thumbnail position",
"default": "bottom-thumbnails",
"options": [
{
"value": "left-thumbnails",
"label": "Left"
},
{
"value": "bottom-thumbnails",
"label": "Bottom"
},
{
"value": "right-thumbnails",
"label": "Right"
}
]
},
{
"type": "header",
"content": "Description"
},
{
"type": "checkbox",
"id": "product_breadcrumb",
"label": "Show breadcrumb links"
},
{
"type": "checkbox",
"id": "display_vendor",
"label": "Show vendor"
},
{
"type": "checkbox",
"id": "display_sku",
"label": "Show SKU"
},
{
"type": "checkbox",
"id": "display_savings",
"label": "Show price savings",
"default": true
},
{
"type": "checkbox",
"id": "show_payment_button",
"label": "Show dynamic checkout button",
"default": false,
"info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
},
{
"type": "checkbox",
"id": "display_collections",
"label": "Show collections"
},
{
"type": "checkbox",
"id": "display_type",
"label": "Show type"
},
{
"type": "checkbox",
"id": "display_tags",
"label": "Show tags"
},
{
"type": "checkbox",
"id": "display_social_buttons",
"label": "Show social media share icons",
"default": true
},
{
"type": "radio",
"id": "product_description_position",
"label": "Description position",
"options": [
{
"value": "top",
"label": "Above product form"
},
{
"value": "bottom",
"label": "Below product form"
}
]
}
],
"default": {
"settings": {
}
}
}

{% endschema %}
