{% comment %}
** faq - Prepdek Product **
- Uses blocks
{% endcomment %}

<h2 class="headline">{{ section.settings.title }}</h2>

{% if section.blocks.size > 0 %}
  <dl class="faqAccordion">
    {% for block in section.blocks %}
      {% if block.settings.title != blank %}
        <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
        <dd id="panel-01" aria-hidden="false">
          {{ block.settings.subtitle }}
        </dd>
      {% endif %}
    {% endfor %}
  </dl>
{% endif %}

{% schema %}

{
  "name": "Prepdeck FAQ",
  "class": "faq-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Frequently Asked Question",
      "type": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Answer",
          "default": "<p>Suspendisse feugiat. Fusce commodo aliquam arcu. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>"
        }
      ]
    }
  ]
}

{% endschema %}