{% comment %}
** Logos - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

  {% assign title = section.settings.title %}
  {% assign sub_title = section.settings.sub_title %}
  {% assign title1 = section.settings.title1 %}
  {% assign content1 = section.settings.content1 %}
  {% assign date1 = section.settings.date1 %}
  {% assign title2 = section.settings.title2 %}
  {% assign content2 = section.settings.content2 %}
  {% assign date2 = section.settings.date2 %}
<!-- Start customer reviews -->
<section class="customer_reviews">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h2>{{ title }}</h2>
				<p class="p_lead">{{ sub_title }}</p>
				<div class="row">
					<div class="col-md-6">
						<div class="review_grid"> 
							<div class="review_head clearfix">
								<h3 class="pull-left">{{ title1 }}</h3>
								<ul class="list-inline pull-right star-rating">
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<p>{{ content1 }}</p>
                          <div class="date_reviews"><em>{{ date1 }}</em></div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="review_grid"> 
							<div class="review_head clearfix">
								<h3 class="pull-left">{{ title2 }}</h3>
								<ul class="list-inline pull-right star-rating">
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<p>{{ content2 }}</p>
							<div class="date_reviews"><em>{{ date2 }}</em></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End customer reviews -->



{% schema %}
  {
    "name": "Review Section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub-Heading" 
      },
       {
        "type": "text",
        "id": "title1",
        "label": "Title 1"
      },
      {
        "type": "html",
        "id": "content1",
        "label": "Content 1" 
      },
      {
        "type": "text",
        "id": "date1",
        "label": "Date1"
      },
       {
        "type": "text",
        "id": "title2",
        "label": "Title 2"
      },
      {
        "type": "html",
        "id": "content2",
        "label": "Content 2" 
      },
      {
        "type": "text",
        "id": "date2",
        "label": "Date2"
      }
    ]

  }
{% endschema %}
