<section class="style pdm dark">
	<div class="container">
		<div class="the-content">
			<h2>Style to Suit You</h2>
			<p>With the detachable cutting board you can easily change the aesthetic of your Prepdeck at any time.</p>
			<p>System Color</p>
			<ul class="colors">
				<li class="selected"><a href="javascript:;" data-color="dark">Dark</a></li>
				<li><a href="javascript:;" data-color="light">Light</a></li>
			</ul>
		</div>
	</div>
	<div class="thumbs">
		<div class="light">
			<img class="active lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/marvel.jpg?12622448496240595678" alt="">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/green.jpg?12622448496240595678" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/pinneaple.jpg?12622448496240595678" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/pink.jpg?12622448496240595678" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/stone.jpg?12622448496240595678" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/darkwood.jpg?12622448496240595678" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/wood1.jpg?12622448496240595678" alt="">
		</div>
		<div class="dark">
			<img class="active lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/black-unit.png?13454400766768848706" alt="">
			<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/black-open.png?13454400766768848706" alt="">
		</div>
	</div>
</section>

<section class="quality pdm">

	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Quality and Details From The Ground Up</h2>
				<p>Made of high-quality BPA free materials - everything is dishwasher safe which means you can spend less time cleaning and more time enjoying delicious meals.</p>
				<p>Materials that make up Prepdeck</p>
				<ul>
					<li>Tritan</li>
					<li>Stainless Steel</li>
					<li>ABS</li>
					<li>PP</li>
				</ul>
			</div>
		</div>
		<div class="dright">
			<div class="thumb">
				<img class="lazyload" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/quality.jpg?3285106896319293559x100" 	data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/quality.jpg?3285106896319293559x800"
			  	alt="">
			</div>
		</div>
	</div>
	
</section>


<!--<section class="promise pdm">
	<div class="video-wrap">
		<div class="overlays">
			<div class="play">
				<a href="javascript:;" class="button watch">Watch Video</a>
			</div>
			<div class="offer">
				<a href="javascript:;" class="button ">Buy Now</a>
			</div>
		</div>
		<video id="video-pd" playsinline="" autoplay muted="" loop="loop" preload="auto" poster="https:////cdn.shopify.com/s/files/1/0062/8467/3135/files/Screen_Shot_2019-01-21_at_8.35.52_AM_e9220fc3-cc9a-4b02-820a-3ef45389d6e1_1500x.png?v=1548088706 id=">
			<source src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Prepdeck.mp4?914882059710308272" type="video/mp4">
				<p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video.</p>
			</video>
		</div>
	</section> -->


