
  {% assign left_title = section.settings.left_title %}
  {% assign left_image = section.settings.left_image %}
  {% assign right_title = section.settings.right_title %}
  {% assign right_image = section.settings.right_image %}
<!-- Start solution_problem grid -->
<section class="solution_problem_grid">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 p-0 col-sm-6">
				<div class="solution_inn">
                  <div class="solu_sec" style="
		            background-color: #25b1a1;
                    background-image: url('{{ left_image.src | img_url: 'master' }}');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                "></div>
<!-- 					<img src="{{ left_image.src | img_url: 'master' }}"> -->
					<h3>{{ left_title }} <img src="{{ 'solution-arrow.png' | asset_url  }}"></h3>
				</div>
			</div>
			<div class="col-md-6 p-0 col-sm-6">
				<div class="problem_inn">
                  <div class="prob_sec" style="
                    background-image: url('{{ right_image.src | img_url: 'master' }}');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                "></div>
<!-- 					<img src="{{ right_image.src | img_url: 'master' }}"> -->
					<h3><img src="{{ 'problem-arrow.png' | asset_url  }}"> {{ right_title }}</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End solution_problem grid -->
{% schema %}
  {
    "name": "Solution And Problem",
    "settings": [
         {
        "type": "text",
        "id": "left_title",
        "label": "Left Heading"
      },
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Left Image" },
      {
        "type": "text",
        "id": "right_title",
        "label": "Right Heading"
      },
      {
        "type": "image_picker",
        "id": "right_image",
        "label": "Right Image"
      }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
