  {% assign image = section.settings.image %}
  {% assign title_1 = section.settings.title_1 %}
  {% assign subtitle_1 = section.settings.subtitle_1 %}
  {% assign title_2 = section.settings.title_2 %}
  {% assign subtitle_2 = section.settings.subtitle_2 %}
  {% assign title_3 = section.settings.title_3 %}
  {% assign subtitle_3 = section.settings.subtitle_3 %}
  {% assign tooltip1 = section.settings.tooltip1 %}
  {% assign tooltip2 = section.settings.tooltip2 %}
  {% assign tooltip3 = section.settings.tooltip3 %}
  {% assign tooltip4 = section.settings.tooltip4 %}


<!-- Start vegitable section -->
<section class="vegitable">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="vegible_img">
					<img src="{{ image.src | img_url: 'master' }}">
				
                       <div class="tool_tip">
                          <div class="tooltip"  style="position: relative;top: 175px;left: 50px;">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="tooltiptext">{{ tooltip1 }}</span>
                          </div>
                         <div class="tooltip" style="position: relative;top: 105px;left: 420px;">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="tooltiptext">{{ tooltip2 }}</span>
                          </div>
                         <div class="tooltip" style="position: relative;top: 67px;left: 684px;">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="tooltiptext">{{ tooltip3 }}</span>
                          </div>
                         <div class="tooltip" style="position: relative;top: 335px;left: 610px;">
                            <i class="fa fa-circle" aria-hidden="true"></i>
                            <span class="tooltiptext">{{ tooltip4 }}</span>
                          </div>
                       </div>
                </div>
              
              
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="veg_grid border_bottom_veg">
							<h3>{{ title_1 }}</h3>
							<p>{{ subtitle_1 }}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="veg_grid border_bottom_veg">
						    <h3>{{ title_2 }}</h3>
							<p>{{ subtitle_2 }}</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="veg_grid border_bottom_veg">
							<h3>{{ title_3 }}</h3>
							<p>{{ subtitle_3 }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End vegitable section -->

{% schema %}
  {
    "name": "Veg Section",
    "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    },
    {
        "type": "text",
        "id": "title_1",
        "label": "Heading 1",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "subtitle_1",
        "label": "Sub Heading 1",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "title_2",
        "label": "Heading 2",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "subtitle_2",
        "label": "Sub Heading 2",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "title_3",
        "label": "Heading 3",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "subtitle_3",
        "label": "Sub Heading 3",
        "default": "Talk about your brand"
     },
     {
        "type": "text",
        "id": "tooltip1",
        "label": "Tooltip Text 1",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip2",
        "label": "Tooltip Text 2",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip3",
        "label": "Tooltip Text 3",
        "default": "Tooltip Text"
     },
     {
        "type": "text",
        "id": "tooltip4",
        "label": "Tooltip Text 4",
        "default": "Tooltip Text"
     }
   ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
