<section class="video-background pdm">
	<div class="video-wrap">
		<div class="overlays">
			<div class="play">
				<a href="javascript:;" class="button watch">Watch Video</a>
			</div>
			<div class="offer">
				<a href="javascript:;" class="button ">Buy Now</a>
			</div>
		</div>
		<video id="video-pd" playsinline="" autoplay muted="" loop="loop" preload="auto" poster="https:////cdn.shopify.com/s/files/1/0062/8467/3135/files/Screen_Shot_2019-01-21_at_8.35.52_AM_e9220fc3-cc9a-4b02-820a-3ef45389d6e1_1500x.png?v=1548088706 id=">
			<source data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Prepdeck.mp4?914882059710308272" class="lazyload" type="video/mp4">
			<p>To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video.</p>
		</video>
	</div>
</section>