{%- for block in section.blocks -%}

	{%- assign fProduct = block.settings.product -%}
	{% if fProduct == product.handle  %}
	<section class="quality highlights pdm">
			
		<h2>{{ block.settings.heading }}</h2>

		<div class="items">
			<div class="track">
				{% if block.settings.title1 != blank %}
					{% assign title = block.settings.title1 %}
					{% assign desc = block.settings.desc1 %}
					{% assign image = block.settings.image1 %}
					{% assign bg = block.settings.bg1 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
				{% if block.settings.title2 != blank %}
					{% assign title = block.settings.title2 %}
					{% assign desc = block.settings.desc2 %}
					{% assign image = block.settings.image2 %}
					{% assign bg = block.settings.bg2 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
				{% if block.settings.title3 != blank %}
					{% assign title = block.settings.title3 %}
					{% assign desc = block.settings.desc3 %}
					{% assign image = block.settings.image3 %}
					{% assign bg = block.settings.bg3 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
				{% if block.settings.title4 != blank %}
					{% assign title = block.settings.title4 %}
					{% assign desc = block.settings.desc4 %}
					{% assign image = block.settings.image4 %}
					{% assign bg = block.settings.bg4 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
				{% if block.settings.title5 != blank %}
					{% assign title = block.settings.title5 %}
					{% assign desc = block.settings.desc5 %}
					{% assign image = block.settings.image5 %}
					{% assign bg = block.settings.bg5 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
				{% if block.settings.title6 != blank %}
					{% assign title = block.settings.title6 %}
					{% assign desc = block.settings.desc6 %}
					{% assign image = block.settings.image6 %}
					{% assign bg = block.settings.bg6 %}
					{% include 'little-included-feature', bg: bg, image: image, title: title, desc:desc %}
				{% endif %}
			</div>
		</div>
		
		<nav class="items">
			<ul>
				{% if block.settings.title1 != blank %}
					<li><a class="active" href="javascript:;" data-slide="{{ block.settings.title1 }}">{{ block.settings.title1 }}</a></li>
				{% endif %}
				{% if block.settings.title2 != blank %}
					<li><a href="javascript:;" data-slide="{{ block.settings.title2 }}">{{ block.settings.title2 }}</a></li>
				{% endif %}
				{% if block.settings.title3 != blank %}
					<li><a href="javascript:;" data-slide="{{ block.settings.title3 }}">{{ block.settings.title3 }}</a></li>
				{% endif %}
				{% if block.settings.title14 != blank %}
					<li><a href="javascript:;" data-slide="{{ block.settings.title4 }}">{{ block.settings.title4 }}</a></li>
				{% endif %}
				{% if block.settings.title4 != blank %}
					<li><a href="javascript:;" data-slide="{{ block.settings.title4 }}">{{ block.settings.title4 }}</a></li>
				{% endif %}
				{% if block.settings.title6 != blank %}
					<li><a href="javascript:;" data-slide="{{ block.settings.title6 }}">{{ block.settings.title6 }}</a></li>
				{% endif %}
			</ul>
		</nav>

</section>
	{% endif %}
{% endfor %}

{% schema %}
{
    "name": "Included Highlights",
    "blocks": [
      {
        "name": "Features",
        "type": "products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "What Product Is This For?"
          },
          {
			"type": "text",
			"id": "heading",
			"label": "Heading"
		  },
          {
            "type": "text",
            "id": "title1",
            "label": "Title 1"
          },
          {
            "type": "textarea",
            "id": "desc1",
            "label": "Description 1"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          },
          {
            "type": "checkbox",
            "id": "bg1",
            "label": "Use as Background Image"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Title 2"
          },
          {
            "type": "textarea",
            "id": "desc2",
            "label": "Description 2"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          },
          {
            "type": "checkbox",
            "id": "bg2",
            "label": "Use as Background Image"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "Title 3"
          },
          {
            "type": "textarea",
            "id": "desc3",
            "label": "Description 3"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          },
          {
            "type": "checkbox",
            "id": "bg3",
            "label": "Use as Background Image"
          },
          {
            "type": "text",
            "id": "title4",
            "label": "Title 4"
          },
          {
            "type": "textarea",
            "id": "desc4",
            "label": "Description 4"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
          },
          {
            "type": "checkbox",
            "id": "bg4",
            "label": "Use as Background Image"
          },
          {
            "type": "text",
            "id": "title5",
            "label": "Title 5"
          },
          {
            "type": "textarea",
            "id": "desc5",
            "label": "Description 5"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Image 5"
          },
          {
            "type": "checkbox",
            "id": "bg5",
            "label": "Use as Background Image"
          },
          {
            "type": "text",
            "id": "title6",
            "label": "Title 6"
          },
          {
            "type": "textarea",
            "id": "desc6",
            "label": "Description 6"
          },
          {
            "type": "image_picker",
            "id": "image6",
            "label": "Image 6"
          },
          {
            "type": "checkbox",
            "id": "bg6",
            "label": "Use as Background Image"
          }
        ]
      }
    ]
}
{% endschema %}