{%- for block in section.blocks -%}

	{%- assign fProduct = block.settings.product -%}
	{% if fProduct == product.handle  %}
		<section class="included pdm">
			<h2>{{ block.settings.heading }}</h2>
			<div class="container {% if block.settings.special %}special{% endif %}">
				{% if block.settings.special %}
					{% assign image = block.settings.sImage %}
					{% assign title = block.settings.sTitle %}
					{% assign desc = block.settings.sDesc %}
					<div class="dleft">
						{% include 'little-feature', image: image, title: title, desc:desc %}
					</div>
          <div class="plus-char"><span></span><span></span></div>
				{% endif %}
        {% assign count = 0 %}
        {% if block.settings.title1 != blank %}
        {% assign count = count | plus: 1 %}
        {% endif %}
        {% if block.settings.title2 != blank %}
        {% assign count = count | plus: 1 %}
        {% endif %}
        {% if block.settings.title3 != blank %}
        {% assign count = count | plus: 1 %}
        {% endif %}
        {% if block.settings.title4 != blank %}
        {% assign count = count | plus: 1 %}
        {% endif %}
        {% if block.settings.title5 != blank %}
        {% assign count = count | plus: 1 %}
        {% endif %}
					<div class="dright" data-items={{ count }}>
						{% if block.settings.title1 != blank %}
							{% assign image = block.settings.image1 %}
							{% assign title = block.settings.title1 %}
							{% assign desc = block.settings.desc1 %}
							{% include 'little-feature', image: image, title: title, desc:desc %}
						{% endif %}
						{% if block.settings.title2 != blank %}
							{% assign image = block.settings.image2 %}
							{% assign title = block.settings.title2 %}
							{% assign desc = block.settings.desc2 %}
							{% include 'little-feature', image: image, title: title, desc:desc %}
						{% endif %}
						{% if block.settings.title3 != blank %}
							{% assign image = block.settings.image3 %}
							{% assign title = block.settings.title3 %}
							{% assign desc = block.settings.desc3 %}
							{% include 'little-feature', image: image, title: title, desc:desc %}
						{% endif %}
						{% if block.settings.title4 != blank %}
							{% assign image = block.settings.image4 %}
							{% assign title = block.settings.title4 %}
							{% assign desc = block.settings.desc4 %}
							{% include 'little-feature', image: image, title: title, desc:desc %}
						{% endif %}
						{% if block.settings.title5 != blank %}
							{% assign image = block.settings.image5 %}
							{% assign title = block.settings.title5 %}
							{% assign desc = block.settings.desc5 %}
							{% include 'little-feature', image: image, title: title, desc:desc %}
						{% endif %}
					</div>
			</div>
		</section>
	{% endif %}
{% endfor %}

{% schema %}
{
    "name": "What's Included",
    "blocks": [
      {
        "name": "Features",
        "type": "products",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "What Product Is This For?"
          },
          {
			"type": "text",
			"id": "heading",
			"label": "Heading"
		  },
		  {
			"type": "checkbox",
			"id": "special",
			"label": "Special Feature?"
		  },
		  {
			"type": "text",
			"id": "sTitle",
			"label": "Title"
		  },
		  {
			"type": "text",
			"id": "sDesc",
			"label": "Description"
		  },
		  {
			"type": "image_picker",
			"id": "sImage",
			"label": "Image"
		  },
          {
            "type": "text",
            "id": "title1",
            "label": "Title 1"
          },
          {
            "type": "text",
            "id": "desc1",
            "label": "Description 1"
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image 1"
          },
          {
            "type": "text",
            "id": "title2",
            "label": "Title 2"
          },
          {
            "type": "text",
            "id": "desc2",
            "label": "Description 2"
          },
          {
            "type": "image_picker",
            "id": "image2",
            "label": "Image 2"
          },
          {
            "type": "text",
            "id": "title3",
            "label": "Title 3"
          },
          {
            "type": "text",
            "id": "desc3",
            "label": "Description 3"
          },
          {
            "type": "image_picker",
            "id": "image3",
            "label": "Image 3"
          },
          {
            "type": "text",
            "id": "title4",
            "label": "Title 4"
          },
          {
            "type": "text",
            "id": "desc4",
            "label": "Description 4"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image 4"
          },
          {
            "type": "text",
            "id": "title5",
            "label": "Title 5"
          },
          {
            "type": "text",
            "id": "desc5",
            "label": "Description 5"
          },
          {
            "type": "image_picker",
            "id": "image5",
            "label": "Image 5"
          }
        ]
      }
    ]
}
{% endschema %}