/********************** Media Query *********************************/
@media (max-width:1199px) {
.nav>li>a {
    padding: 25px 15px;
}
.section_head h2 {
    font-size: 30px;
    line-height: 50px;
}
.cooking_txt_inner h3 {
    font-size: 18px;
    margin-bottom: 30px;
}
.veg_grid h3 {
    font-size: 16px;
    line-height: 24px;
}
ul.s_uline li {
    padding: 0px 8px;
}
.service_grid h2 {
    font-size: 20px;
    margin-bottom: 30px;
}


}
@media only screen and (max-width: 479px) {
	#banner-1544684531382 img {
	padding-left: 75px;
	}
}
@media only screen and (max-width: 479px) {
	.page-discover section.pdm-hero .thumb .tips {
	display: none;
	}
}
@media only screen and (max-width: 479px) {
	.pdm-style nav[data-slider], section.pdm nav[data-slider] {
	padding-left: 30px;
	}
}
@media (max-width: 991px) {
ul.s_uline li {
    width: 33.33%;
    margin: 20px 0px;
}
ul.s_uline li:nth-child(3) {
    border-right: none;
}
.solution_inn h3 {
    right: 20px;
    font-size: 44px;
}
.problem_inn h3{
    left: 20px;
    font-size: 44px;
}
.footer-logo {
    margin-bottom: 35px;
}
.featured_widget {
    margin: 40px 0px;
}
.nav>li>a {
    padding: 25px 10px;
}
.navbar-inverse li.cart_icon a {
    padding-right: 10px;
}
li.search_icon a {
    margin-left: 8px;
}
}


@media (max-width: 767px) {
.cooking_prep h2 {
    font-size: 40px;
    line-height: 50px;
}
.copyright {
    text-align: center;
}
ul.list-inline.footer_bottom_menu {
    text-align: center;
}
.customer_reviews h2 {
    font-size: 40px;
    line-height: 40px;
}
.veg_grid.border_bottom_veg:before{
    content: none;
}
.navbar-toggle {
    margin-top: 12px;
}
.navbar-inverse .navbar-toggle {
    display: inline-block;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ff824a;
}  
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}  
li.search_icon a {
    margin-left: 0;
}
.navbar-nav {
    margin: 0px -15px;
}
.cooking_back_txt {
    margin-top: -125px;
    padding-top: 125px;
}

}

@media (max-width: 580px){


}

@media (max-width: 520px){
.section_head h2 {
    font-size: 26px;
    line-height: 24px;
}
.cooking_txt_inner {
    width: 100%;
    display: block;
}
.cooking_txt_inner:first-child {
    border-right: none;
    margin-bottom: 40px;
}
.buy_btn {
    min-width: 250px;
}
.cooking_prep h2 {
    font-size: 26px;
    line-height: 36px;
}
ul.s_uline li {
    width: 100%;
  padding: 10px !important;
}
ul.s_uline li:nth-child(3) {
    border-right: 1px solid #ddd;
}
ul.s_uline li:nth-child(2), ul.s_uline li:nth-child(4) {
    border-right: none;
}
.customer_reviews h2 {
    font-size: 28px;
    line-height: 26px;
}
.customer_reviews .p_lead {
    font-size: 18px;
    line-height: 22px;
}
ul.star-rating {
    float: none !important;
}
.review_head h3 {
    float: none !important;
    margin-bottom: 20px;
}
.review_grid {
    padding: 35px 15px;
}
.solution_inn h3 {
    right: 20px;
    font-size: 30px;
}
.problem_inn h3 {
    left: 20px;
    font-size: 30px;
}
.solution_inn h3 img, .problem_inn h3 img {
    max-width: 50px;
}

}

@media (max-width: 360px){

}