

body, html{
    width: 100%;
    height: 100%;
    letter-spacing: 0.5px;
    line-height: 22px;
    outline: none;
    font-family: 'hk_groteskregular';
}
body*{
    outline: none;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    letter-spacing: 1px;
    line-height: 40px;
}
.p-0{
    padding: 0px;
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
.navbar-inverse {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
    min-height: 1px;
}

header#header {
    position: relative;
/*     display:block; */
}
.main_logo {
    position: absolute;
    left: 75px;
    right: 0;
    top: 5px;
    padding: 0px !important;
}
ul.nav.navbar-nav.navbar-right li {
    margin-bottom: 0px !important;
}
.navbar-inverse li.cart_icon a {
    background: #fd8251;
    color: #fff !important;
    padding-right: 60px;
}
li.search_icon a {
    background: #efefef;
    margin-left: 40px;
}
.nav>li>a {
    padding: 10px 25px;
}
.hero_banner img {
    width: 100%;
}
.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
    text-transform: uppercase;
    font-family: 'hk_groteskmedium';
    letter-spacing: 1.4px;
}
.navbar-inverse li.cart_icon img, .navbar-inverse li.search_icon img {
    max-width: 20px;
}
.navbar-brand {
    height: auto;
}
.navbar-brand>img {
    max-width: 210px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fd8251;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #fd8251;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li.cart_icon>a:focus, .navbar-inverse .navbar-nav>li.cart_icon>a:hover {
    color: #fff;
    background-color: #fd8251;
}
.navbar-inverse .navbar-nav>li.search_icon>a:focus, .navbar-inverse .navbar-nav>li.search_icon>a:hover {
    color: #fd8251;
    background-color: #efefef;
}
footer#footer {
    background: #fd8251;
    padding: 50px 0px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-logo{
    margin-bottom: 80px;
}
ul.social_media li i {
    height: 30px;
    width: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #fd8251;
}
ul.social_media li {
    margin-right: 10px;
}
.featured_widget li a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: 'hk_groteskbold';
    letter-spacing: 1.4px;
}
.news_btn img {
    max-width: 20px;
}
.featured_widget li {
    margin-bottom: 15px;
}
.footer_bottom .container .row {
    border-top: 1px solid rgba(255, 255, 255, 0.32);
    padding-top: 25px;
    margin-top: 40px;
}
.copyright p {
    margin-bottom: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 14px;
}
.footer_bottom_menu li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.footer_bottom_menu li {
    position: relative;
    padding: 0px 10px;
}
.footer_bottom_menu li:first-child::before {
    content: "";
    height: 4px;
    width: 4px;
    background: rgba(255, 255, 255, 0.68);
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}
.top_scroll_icon i {
    color: #fff;
    font-size: 22px;
    height: 35px;
    width: 35px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.newsletter {
    margin-top: 30px;
}
.newsletter h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.4px;
}
.newsletter input.form-control {
    background: transparent;
    border: none;
    box-shadow: none;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 0px;
    position: relative;
    padding: 5px 30px 5px 0px;
    font-size: 12px;
    letter-spacing: 1px;
}
button.btn.news_btn {
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 0;
}
.newsletter_form{
    position: relative;
}
.newsletter input::-webkit-input-placeholder { 
  color: #000;
}
.newsletter input::-moz-placeholder { 
  color: #000;
}
.newsletter input:-ms-input-placeholder { 
  color: #000;
}
.newsletter input:-moz-placeholder { 
  color: #000;
}
.cooking_back {
    position: relative;
}
.section_head h2 {
    font-size: 66px;
    line-height: 70px;
    font-family: 'hk_groteskbold';
    margin-bottom: 40px;
    color: #000;
    text-transform: capitalize;
}
.section_head h2 span{
    color: #25b1a1;
}
.section_head p {
    color: #676767;
    font-size: 16px;
    font-family: 'hk_groteskmedium';
    line-height: 28px;
}
.section_head {
    margin-bottom: 50px;
}
.cooking_txt_inner {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 0px 22px;
}
.cooking_txt_main {
    display: table;
}
.cooking_back_txt {
    background: #fd8251;
    margin-top: -270px;
    padding-top: 270px;
    padding-bottom: 60px;
}
.cooking_back_img {
    padding: 60px 0px;
}
.cooking_txt_inner h3 {
    color: #fff;
    font-size: 24px;
    font-family: 'hk_groteskbold';
    margin-bottom: 35px;
}
.cooking_txt_inner p {
    color: #fff;
    line-height: 25px;
    font-size: 14px;
    font-family: 'hk_groteskmedium';
}
.cooking_txt_inner:first-child {
    border-right: 1px solid #fff;
}
.buy_btn{
    box-shadow: 0 20px 30px rgba(6, 26, 21, 0.14);
    border-radius: 43px;
    color: #ffffff !important;
    font-size: 20px;   
    padding: 20px 50px;
    background-color: #25b1a1;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-top: 45px;
    min-width: 300px;
    text-align: center;
}
.buy_btn:hover, .buy_btn:focus {
    text-decoration: none;
    color: #fd8251 !important;
}
.cooking_prep {
    position: relative;
    background: url('../images/cooking_Prepdeck.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 170px 0px;
}
.cooking_prep h2 {
    font-size: 62px;
    line-height: 70px;
    font-family: 'hk_groteskbold';
    color: #000;
    text-transform: capitalize;
}
.cooking_prep:before {
    content: "";
    background-image: linear-gradient(115deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
ul.s_uline li {
    width: 16.66%;
    float: left;
    text-align: center;
    border-right: 1px solid #ddd;
}
ul.s_uline li:last-child{
    border-right: none;
}
.featured_services {
    position: relative;
    padding: 80px 0px;
}
ul.s_uline li img {
    max-height: 62px;
    margin-bottom: 20px;
}
ul.s_uline li p {
    color: #676767;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}
ul.s_uline.clearfix {
    margin-bottom: 65px;
}
.service_grid h2 span {
    color: #25b1a1;
}
.service_grid h2 {
    font-size: 25px;
    font-family: 'hk_groteskbold';
    margin-bottom: 35px;
}
.service_grid p {
    color: #676767;
    font-size: 15px;
    font-family: 'hk_groteskmedium';
    line-height: 24px;
}
.solution_inn, .problem_inn {
    position: relative;
}
.solution_inn h3 {
    position: absolute;
    top: 50%;
    right: 40px;
    color: #fff;
    font-size: 70px;
    font-family: 'hk_groteskbold';
    margin-bottom: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.problem_inn h3 {
    position: absolute;
    top: 50%;
    left: 40px;
    color: #fff;
    font-size: 70px;
    font-family: 'hk_groteskbold';
    margin-bottom: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.solution_inn h3 img {
    margin-left: 20px;
}
.problem_inn h3 img {
    margin-right: 20px;
}
.customer_reviews {
    position: relative;
    padding: 80px 0px;
}
.review_grid {
    background: #25b1a1;
    padding: 35px;
    position: relative;
    margin-top: 40px;
}
.review_head h3 {
    color: #fff;
    font-family: 'hk_groteskbold';
    margin-bottom: 0;
    font-size: 28px;
}
ul.star-rating li {
    padding: 0px;
    font-size: 16px;
    color: #fff;
}
ul.star-rating li a {
    color: #fff;
}
.review_grid p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}
.date_reviews {
    margin-top: 35px;
    color: #fff;
    font-size: 20px;
    font-family: 'hk_groteskmedium';
}
.review_head.clearfix {
    margin-bottom: 30px;
}
.customer_reviews h2 {
    font-size: 56px;
    line-height: 50px;
    font-family: 'hk_groteskbold';
    margin-bottom: 30px;
    color: #000;
}
.customer_reviews h2 span {
    color: #25b1a1;
}
.customer_reviews .p_lead{
    color: #676767;
    font-size: 24px;
    font-family: 'hk_groteskmedium';
    line-height: 22px;
}
.vegitable {
    position: relative;
    padding: 30px 0px 100px;
}
.veg_grid {
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.veg_grid h3 {
    font-size: 32px;
    line-height: 30px;
    font-family: 'hk_groteskbold';
    color: #000;
}
.veg_grid h3 {
    font-size: 20px;
    line-height: 26px;
    font-family: 'hk_groteskbold';
    color: #000;
}
.veg_grid p {
    color: #676767;
    font-size: 15px;
    font-family: 'hk_groteskmedium';
    line-height: 24px;
}
.veg_grid.border_bottom_veg:before {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 3px;
    background: #25b1a1;
    width: 80%;
    left: 10%;
    right: 0;
    text-align: center;
}
.hero_banner {
    position: relative;
}
span.cart_count {
    color: #FFF;
    padding: 5px;
    line-height: 10px;
/*     position: absolute; */
}
ul.menu.center {
    float: right!important;
    margin-right: 0px;
    padding-top: 10px;
}
ul.menu li a {
    text-transform: uppercase !important;
    font-family: 'hk_groteskmedium' !important;
    letter-spacing: 1.4px !important;
    padding: 10px 15px;
    font-size: 14px !important;
}
iframe.gpay-iframe {
    display: none;
}
.footer .footer-menu-wrap h6, .newsletter_section h6{
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    font-family: 'hk_groteskbold';
    letter-spacing: 1.4px;
}
.toggle_content ul li a {
    font-size: 14px;
    color: #FFF;
}
.newsletter_section p {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.4px;
    color: #333;
}
/* a.icon-bag.mini_cart.dropdown_link {
    padding-top: 25px;
    padding-bottom: 44px;
    margin-left: 0px !important;
    font-size: 20px;
} */
.cart_container {
    float: left;
}
.nav a.mini_cart {
    font-size: 20px !important;
    width: 100%;
    line-height: 71px;
}
.product-details .title {
    font-family: 'hk_groteskbold' !important;
    font-size: 20px !important;
    letter-spacing: 2px !important;
    text-transform: capitalize !important;
    line-height: 40px;
    text-decoration: none;
}
a.product-info__caption {
    text-decoration: none !important;
}
span.quick_shop.ss-icon.js-quick-shop-link {
    border: 1px solid #2eafa0;
}
.quick_shop:hover, .view_all:hover {
    color: #f5f7f8;
    background-color: #2eafa0;
}

.cook_prep {
    position: absolute;
    bottom: 100%;
	color: #FFF;
	margin-bottom: 90px;
}
.cook_prep h2 {
    font-size: 45px;
    line-height: 56px;
    font-family: 'hk_groteskbold';
	margin-bottom: 20px;
}
.hub_btn {
    margin-top: 20px !important;
	min-width: 250px;
}
.hero_banner_mob
{
	display:none;
}

.solu_sec:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(66, 183, 169, 0.84);
    height: 100%;
    opacity: 0.8;
}
.prob_sec:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(253, 130, 76, 0.84);
    height: 100%;
    opacity: 0.8;
}
.solu_sec,.prob_sec {
    height: 670px;
    position: relative;
}
.solu_sec:hover:after,.prob_sec:hover:after {
    background-color: transparent;
    content: "";
    z-index: 99999;
}
/* tooltip css----------- */
.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
}
.tooltip i.fa.fa-circle {
    color: #fd8251;
    font-size: 14px;
    cursor: pointer;

}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2eafa0d9;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2eafa0d9 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tool_tip {
    position: absolute;
    top: 0;
}

/* .account-header-logout {
    width: 100%;
    float: right;
    margin-top: -90px;
} */


/* End tooltip css----------- */
.footer a:hover, .footer a:active {
    color: #FFF !important;
}
h1, h2, h3, h4, h5, h6, span, div {
    font-family: 'hk_groteskregular' !important;
}
a ,p{
    font-family: 'hk_groteskregular' !important;
}

@media screen and (max-width: 1366px), screen and (max-height: 657px){
ul.menu li a {
   padding: 15px 1px;
}
    li.search_icon a {
    margin-left: 15px;
}
}



/* ********************************************ipad pro Portrait and Landscape **************************************** */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
.main_navigation {
    display: block !important;
}
  ul.menu li a {
   padding: 15px 1px;
}
    li.search_icon a {
    margin-left: 15px;
}
.hero_banner {
    display: block !important;
}
  section.hero_banner_mob {
    display: none;
}
}

/* ************************************************iPads (landscape) ************************************************ */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
.cook_prep h2 {
    font-size: 32px;
    line-height: 38px;

}
ul.menu li a {
   padding: 15px 1px;
}
.tool_tip {
    display: none;
}
li.search_icon a {
    margin-left: 15px;
}
  a.mobile_logo.logo {
    width: 30%;
    text-align: center;
    margin: 0 auto;
}
.three.columns {
    width: 17% !important;
}
  .one-third.column.thumbnail.even, .one-third.column.thumbnail.odd {
    width: 31% !important;
    margin-left : 5px !important;
}
  header.banner {
    margin-top: 0px !important;
} 
  .one-third.column.thumbnail.gallery-image-wrapper {
    width: 30%;
}
}
/* ************************************************ iPads (portrait) ************************************************ */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
.hero_banner_mob
{
	display:block;
	position: relative;
}
.hero_banner
{
	display:none;
}
.hero_banner_mob .cook_prep {
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 15px;
	text-align: center;
	transform: translate(0%,100%);
    margin-bottom: 0px !important;
}
.hero_banner_mob .cook_prep h2 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
}
.hero_banner_mob .cook_prep p {
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-top: 34px;
    margin-bottom: 20px;
}
.hero_banner_mob .hub_btn {
    padding: 15px 30px;
    min-width: auto;
}
.main_navigation {
    display: none;
}
.hero_banner_mob .container {
    padding: 0px !important;
}
.hero_banner_mob .row {
    margin-bottom: 0px !important;
}
  .tool_tip {
    display: none;
}
  header#header1 {
    display: none;
}
  header#header {
    display: block !important;
}
  .three.columns {
    width: 100% !important;
}
 .newsletter {
    text-align: center;
    display: block !important;
}
  .sixteen.columns {
    width: 100% !important;
}
  .product-quantity-box .product-plus, .product-quantity-box .product-minus {
    width: 15%;
  }
    .one-third.column.thumbnail.even, .one-third.column.thumbnail.odd {
    width: 47% !important;
    margin-left : 10px !important;
}
  header.banner {
    margin-top: 0px !important;
}
  .product_section .nine.columns {
    width: 320px !important;
}
/*   .offset-by-three.ten.columns.section_form {
    width: 100% !important;
} */
  .one-third.column.thumbnail.gallery-image-wrapper {
    width: 30%;
    margin-left: 12px;
}
  div.content, .container {
    padding: 0px !important;
}
  .five.columns {
    width: 47% !important;
    padding: 10px;
}
/*   .ten.offset-by-three.columns {
    width: 100% !important;
} */
  div#login_form {
    padding-left: 155px;
}
  a#pagecontent {
    padding-bottom: 0px !important;
}
  .one-third.column.article {
    width: 47%;
    margin-left: 12px;
    margin-bottom: 25px;
  }
    .twelve.columns.offset-by-two {
    width: 97%;
    padding-left: 15px;
    padding-right: 15px;
}
}
/* *********************************************************************************************************************/
@media screen and (min-width: 767px) and (max-width: 1024px) {
 header#header1 {
    display: none;
} 
   header#header {
    display: block;
}
}

/* ************************************************ mobile (landscape) ************************************************ */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.hero_banner_mob
{
	display:block;
	position: relative;
}
.hero_banner
{
	display:none;
}
.hero_banner_mob .cook_prep {
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 15px;
	text-align: center;
	transform: translate(0%,100%);
    margin-bottom: 0px !important;
}
.hero_banner_mob .cook_prep h2 {
    font-size: 40px;
    line-height: 46px;
    text-align: center;
}
.hero_banner_mob .cook_prep p {
    text-align: center;
}
.hero_banner_mob .hub_btn {
    padding: 15px 30px;
    min-width: auto;
}
.hero_banner_mob .container {
    padding: 0px !important;
}
.hero_banner_mob .row {
    margin-bottom: 0px !important;
}
  .tool_tip {
    display: none;
}
  header#header1 {
    display: none;
}
header.banner {
    margin-top: 0px !important;
}
 .one-third.column.thumbnail.even,.one-third.column.thumbnail.odd {
    width: 100% !important;
    margin-left: 0px !important;
}
  .featured-link--half .info {
    width: 100%;
  }
  a#pagecontent {
    padding-bottom: 0px !important;
}
  .one-third.column.article {
    margin-bottom: 40px;
}
}
/* ************************************************ mobile (portrait) ************************************************ */
@media only screen and (max-width: 479px) {
.hero_banner_mob
{
	display:block;
	position: relative;
}
.hero_banner
{
	display:none;
}
.hero_banner_mob .cook_prep {
    top: 0;
    left: 0;
    right: 0;
    padding: 15px 15px;
	text-align: center;
    margin-bottom: 0px !important;
}
.hero_banner_mob .cook_prep h2 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.hero_banner_mob .cook_prep p {
    text-align: center;
}
.hero_banner_mob .hub_btn {
    padding: 10px 30px;
    font-size: 18px;
    min-width: auto;
    margin-top: 15px !important;
}
.hero_banner_mob .container {
    padding: 0px !important;
}
.hero_banner_mob .row {
    margin-bottom: 0px !important;
}
  .tool_tip {
    display: none;
}
header#header1 {
    display: none;
}
header.banner {
    margin-top: 0px !important;
}
 .one-third.column.thumbnail.even,.one-third.column.thumbnail.odd {
    width: 100% !important;
    margin-left: 0px !important;
}
  .featured-link--half .info {
    width: 100%;
  }
  .one-third.column.article {
    margin-bottom: 40px;
}
}
  @media only screen and (max-width: 320px) {
.hero_banner_mob .cook_prep h2 {
    font-size: 24px;
    line-height: 30px;
}
.hero_banner_mob .hub_btn {
    padding: 6px 24px;
    min-width: auto;
    font-size: 12px;
}
.hero_banner_mob .cook_prep {
    padding: 15px 15px;
}
.hub_btn {
    margin-top: 5px !important;
}
.hero_banner_mob .container {
    padding: 0px !important;
}
.hero_banner_mob .row {
    margin-bottom: 0px !important;
}
 .top_bar .top_bar--right .icon-search {
    padding-right: 5px;
}
}
