<section class="hero">
	<div class="container">
		<div class="the-content">
			<h1 data-aos="fade-right">{{ article.title }}</h1>
			<p data-aos="fade-right" data-aos-delay="50" class="">{{ article.excerpt }}</p>
			<p data-aos="fade-right" data-aos-delay="100" class="meta">{{ article.created_at | date: "%d %b %Y" }}</p>
		</div>
		
	</div>
	{%- if article.image -%}
		<div class="thumb">
			<div class="positioner" data-aos="reveal" style="background-image:url('{{ article.image.src | img_url: '1200x' }}');">
				<img src="{{ article.image.src | img_url: '1200x' }}" alt="">
			</div>
		</div>
	{%- endif -%}
</section>

<!--
<nav class="share">
	<div class="positioner">
		<ul>
			<li>{% include 'share.svg' %}</li>
			<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=">Facebook</a></li>
			<li><a target="_blank" href="https://twitter.com/home?status=">Twitter</a></li>
		</ul>
	</div>
</nav>
-->

<section class="content-block">
	<article>
		{{ article.content }}
	</article>
</section>