{%- comment -%}
This is the blogg
{%- endcomment -%}

<section class="hero">
	<div class="container">
		<div class="the-content">
			<h1 data-aos="fade-right">Our <span>Blog</span></h1>
			<p data-aos="fade-right" data-aos-delay="50">Things we've been thinking about...</p>
			<a data-aos="fade-right" data-aos-delay="100" href="" class="btn pre-order-menu button white">Pre-Order Now</a>
		</div>
	</div>
</section>

<section class="the-posts">
    <div class="container cf">
        <div class="header" data-aos="fade-up">
        	<p class="preheading">Latest Posts</p>
<!--        	<h2>The latest buzz...</h2>-->
        </div>
        {% for article in blog.articles %}
            <article class="post cf" data-aos="fade-up">
                <div class="container">
                    {% if article.image %}
                        <div class="the-image" style="background-image:url({{ article.image | img_url: '700x' }});">
                            <a href="{{ article.url }}"><img src="{{ article.image | img_url: '700x' }}" alt="" /></a> 
                        </div>
                    {% endif %}
                    <div class="the-content">
<!--
                        <div class="top">
                            <p class="meta"><span class="date">{{ article.created_at | date: "%b %d, %y" }}</span>{% for tag in article.tags limit:3 %} / {{tag}}{% endfor %}</p>
                        </div>
-->
                        <div class="bottom">
                            <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                            {% if article.image %}
                            <div class="excerpt">{{ article.excerpt_or_content | truncatewords:40 }}
                            </div>
                            {% else %}
                            <div class="excerpt">{{ article.excerpt_or_content | truncatewords:60 }}
                            </div>
                            {% endif %}
                            <a class="more" href="{{ article.url }}">Read More</a>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</section>