<section class="the-collection pdm">
	
	<h1>{{ collection.title }}</h1>

	<div class="the-products">
		{% for product in products limit: 20 %}
			{% assign prepdeck = product.metafields.c_f %}

			<article class="product list-view">
				<div class="thumb">
					<a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: 'x500' }}" alt=""></a>
				</div>
				<div class="the-content">
					<div class="top">
						<h2><a href="{{ product.url }}">{{ product.title }}</a></h2>
						<p class="price">{{ product.price | money }} <span class="reg">{{ product.compare_at_price | money }}</span></p>
					</div>
					<p>{{ prepdeck.minidesc }}</p>
				</div>
			</article>

		{% endfor %}
	</div>

</section>