<div class="container main">


{{ content_for_index }}
</div>

{% comment %}
	<a name="pagecontent" id="pagecontent"></a>
	<div class="index-sections">
	  {{ content_for_index }}
	</div>
	{% section 'home_section' %}
	{% section 'vegitable_section' %}
	{% section 'cooking_section' %}
	{% section 'logo-bar1' %}
	{% section 'solution_problem_section' %}
	{{ content_for_index }}
	{% section 'Review_Section' %}
{% endcomment %}

<style>
.container.main {
    width: 100%;
/*     max-width: 1320px; */
    max-width:100%;
    padding: 0px;
}

  #homepage_slider-1550015711031 .gallery-cell .col-md-12{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background:#f2f2f2;
  }
	
@media (orientation: landscape) {
	.promo_banner-show #homepage_slider-1550015711031 .gallery-cell .col-md-12{
		min-height:calc( 100vh - 101px );
	}
  #homepage_slider-1550015711031 .gallery-cell .col-md-12{
    min-height:calc( 100vh - 71px );
  }
}
  
  #homepage_slider-1550015711031 .gallery-cell .col-md-12 .cook_prep{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #homepage_slider-1550015711031 .gallery-cell .col-md-12 .cook_prep .button{
  	margin-bottom:0;
    margin-top:1em;
  }
  #homepage_slider-1550015711031 .flickity-prev-next-button{
    display:none;
  }
  #homepage_slider-1550015711031 ol.flickity-page-dots{
    display:block;
  }
  #shopify-section-1544685456207{
    padding-top:2em;
  }
  #shopify-section-1544685341136 .testimonial-block .subtitle p:last-of-type{
    color: #fd8251!important;
    font-family: 'Conv_HarrietDisplay-Regular';
    margin-bottom:0;
  }
  #shopify-section-1545935302600{
    padding:0 4em;
  }
  @media only screen and (min-width:800px){
    #shopify-section-1545935302600{
      padding:0 3.5em;
    }
  }
  
</style>