{% comment %}
  The contents of the page.details-2.liquid template can be found in /sections/page-details-2-template.liquid
{% endcomment %}
<style>
.page-nyt div.content {padding-top:0px;}
.page-nyt .block__1579733577085 .banner {padding:0;}
.page-nyt .block__1579733577085 .banner {padding:0;}
  .page-nyt .block__1579734529436 a.button,.page-nyt .block__1579794041529 a.button {font-weight:bold !important;letter-spacing:0px !important;font-size:20px;padding:2rem 5rem;font-family:'Montserrat' !important;}
  .page-nyt .block__1579734529436 h2 {color: #040404;font-size: 5rem;line-height: 6rem;}
  .page-nyt .block__1579735813476 h2 {color: #040404;font-size: 5.5rem;line-height: 6.5rem;margin-top:1em;}
  .page-nyt .block__1579735813476 h3,.page-nyt .block__1579793316377 h3, .page-nyt .block__1579794041529 h3 {font-family:'Montserrat';font-size:4.5rem;line-height:5.5rem;color:#040404;margin-top:1em;}
  .page-nyt .block__1579735813476 h3:after,.page-nyt .block__1579793316377 h3:after,.page-nyt .block__1579794041529 h3:after {height: 1px;width: 65px;background-color: #fd8251;display: block;content: '';margin: .5em 0 .75em;margin-top:.9em;}
  .page-nyt .block__1579735813476 div.text-right h3:after,.page-nyt .block__1579793316377 div.text-right h3:after{margin-left:auto;}
  .page-nyt .block__1579735813476 .container-fluid {background-color:#E2E2E4;padding:25px;}
  .page-nyt .block__1579735813476 p,.page-nyt .block__1579793316377 p,.page-nyt .block__1579794041529 p {font-family: "Lato", sans-serif;font-weight:400;font-style:normal;font-size:2.2rem;line-height:3.2rem;color:#414141;}
  .page-nyt .block__1579793316377 .container-fluid {margin-top:3em;}
  .page-nyt .block__1579794041529 .container-fluid {margin-top:4em;}
  .page-nyt .block__1580145537397 .container-fluid {margin-top:5em;}
  .page-nyt .block__1579794041529 .row .row {background-color:#f7f7f7;padding-top:2em;padding-bottom:2em;}
  .page-nyt .block__1580145537397 p {line-height:1em !important;}
  .page-nyt .block__1579794041529 div.text-center h3:after {margin-left:auto;margin-right:auto;}
  .page-nyt .block__1579794041529 div.text-center h4 {margin-top:1em;}
  .page-nyt .block__1579794041529 div.text-center h4 a {font-size: 43px;line-height:43px;color:#505151;}
  .page-nyt .block__1579794041529 div.text-center h5 a {color:#F3683D;font-size:35px;}
  .page-nyt .block__1579794041529 div.text-center p a {font-family:'Montserrat';color:#4E4F4F;font-size:18px;margin-top:2em;}
  .page-nyt .block__1579794041529 div.text-center p a.button {font-size:20px !important;}
  .page-nyt .block__1579794041529 p small {color:#4E4F4F;font-size:10.11px;line-height:10.11px;font-family:Lato;}
@media only screen and (max-width: 768px) {
  .page-nyt .block__1579734529436 p {margin-left:-15px;margin-right:-15px;}
  .page-nyt .block__1579734529436 h2  {font-size: 4rem;line-height: 5rem;}
  .page-nyt .block__1579735813476 h2 {font-size: 3.5rem;line-height: 4.5rem;}
  .page-nyt .block__1579735813476 h2 {margin-top:0em;}
  .page-nyt .block__1579734529436 .text-right,.page-nyt .block__1579734529436 .col-sm-12 {text-align:center;padding-top:1em;}
  .page-nyt .block__1579735813476 .text-right,.page-nyt .block__1579735813476 .text-left,.page-nyt .block__1579793316377 h3,.page-nyt .block__1579793316377 p,.page-nyt .block__1579794041529 h3  {text-align:center;}
  .page-nyt .block__1579735813476 h3,.page-nyt .block__1579793316377 h3,.page-nyt .block__1579794041529 h3 {margin-top:1em;font-size:2.5em;line-height:3.5rem;}
  .page-nyt .block__1579735813476 h3:after,.page-nyt .block__1579793316377 h3:after,.page-nyt .block__1579794041529 h3:after {margin-left:auto;margin-right:auto;}
  .page-nyt .block__1579793316377 .container-fluid {margin-top:0em;}
  .mobile_nav-fixed--true #pagecontent, .mobile_nav-fixed--false #pagecontent {padding-bottom:0 !important;}
}
</style>
{% section 'page-details-nyt-template' %}