<div class="welcome-msg">
	<h1 class="headline">Welcome To Your Complete Meal Preparation Solution</h1>
	<p>Thank you for choosing Prepdeck and inviting into your home.</p>
	<p>It's our hope that Prepdeck will keep you tidy, organized and stress-free in the kitchen as you prepare delicious meals, for years to come.</p>
	<br />
	<p>Please read our <a target="_blank" href="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/User_Guide_-_V3_A5.pdf?864">User Guide</a> before getting started!</p>
	<p>For further help &amp; support please reach us at <a href="/pages/contact-us/">Contact Us</a></p>
	<br />
	<p>Thank you and happy cooking!</p>
  	<a href="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/User_Guide_-_V3_A5.pdf?864" class="button" style="margin-top: 15px;">User Guide</a>
</div>