
<section class="pdm-hero pdm">
	<h1>Freedom in the form of a<br> kitchen accessory</h1>
	<div class="thumb">
		<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/discover-image_229843d5-c7ae-4b6b-8f38-eb1cbee52a8d.jpg?8724054034127187458">
		<div class="tips">
			<ul>
				<li><span>Hidden accessory draw stacked with prepping tools like a grater, slicer, juicer and more!</span></li>
				<li><span>Mini containers for small amounts of veggies, herbs or smaller liquids</span></li>
				<li><span>15 containers in 4 versatile sizes</span></li>
				<li style="display:none;"><span>Storage for knives and utensils</span></li>
				<li><span>Trash compartment for collecting offcuts and waste</span></li>
				<li><span>Customizable, magnetic, fold out cutting board</span></li>
			</ul>
		</div>
	</div>
</section>

<section class="adaptable pdm">
	<div class="container">
		<div class="the-content">
			<h2>Adaptable to your menu</h2>
			<p> Good things come in small packages. Prepdeck adjusts to hold all of the ingredients you need - no matter the recipe.</p>
			<a href="https://prepdeck-2018.myshopify.com/products/prepdeck" class="button" style="margin-top: 15px;">Order Now</a>
		</div>
		<div class="thumb">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Top-down_-_discover.jpg?8724054034127187458">
		</div>
	</div>
</section>

<section class="no-mom pdm">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Not your mother’s cutting board</h2>
				<p>With a built-in cutting board attached you can spend more time cooking and less time prepping.</p>
				<p>Folding out for quick convenience, the cutting board is magnetically attached to your Prepdeck making it easy to remove and clean. </p>
			          <p>Doubling as the exterior, you can match your Prepdeck to your kitchen’s style with ease. Plus, it has three additional carve-outs to make it even easier to keep prepped materials organized. Times have changed, so has our cutting board.</p>
				<a href="https://prepdeck-2018.myshopify.com/products/prepdeck" class="button" style="margin-top: 15px;">Shop Colors</a>
			</div>
		</div>
		<div class="thumb">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/XL_Container_-_mint_board-FORSURE.jpg?11895008255091945434">
		</div>
	</div>
</section>

<section class="store pdm">
	<div class="container">
		<div class="the-content">
			<h2>Store anything, anytime</h2>
			<p>Prep your ingredients and conveniently store them in handy containers for later use. Cooking has never been easier.</p>
			<p>With over 15 containers in four versatile sizes, we make it easy to store ingredients as you move through every recipe. Plus, you can ditch your measuring spoons and cups as each container has measurements markings in ounces, cups, and milliliters.</p> 
          	<p>Did we mention the larger containers come with lids and are stackable? Prep everything in advance or easily tuck leftovers away in the fridge. Seem too good to be true? They’re also designed to be easily stored inside the Prepdeck to keep things as neat and compact as possible.</p>
			<a href="https://prepdeck-2018.myshopify.com/products/prepdeck" class="button" style="margin-top: 15px;">Order Now</a>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/piece-2.png?2437231605525008952">
				<img data-slide="2" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/slide-img-02.png?5023513949683700756">
				<img data-slide="3" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/piece-1.png?2437231605525008952">
				<img data-slide="4" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/slide-img-01.png?5023513949683700756">
			</div>
		</div>
		<nav class="items dirty">
			<ul>
				<li><a class="active" data-slide="1" href="javascript:;">Slide 1</a></li>
				<li><a data-slide="2" href="javascript:;">Slide 2</a></li>
				<li><a data-slide="3" href="javascript:;">Slide 3</a></li>
				<li><a data-slide="4" href="javascript:;">Slide 4</a></li>
			</ul>
		</nav>
	</div>
</section>

<section class="food_container"> 
  {% section 'logo-bar' %}
</section>

<section class="no-mom v2 pdm accessorize">
	<div class="container">
		<div class="dleft">
			<div class="the-content">
				<h2>Know how to accessorize</h2>
				<p>We’ve thought of everything. 45+ different features and accessories ensure you are well equipped to handle any recipe.</p>
			          	<p>Stacked neatly inside your hidden accessory drawer are a juicer, zester, grater, slicer, and a 4-in-1 peeler. All made of the highest quality materials with efficiency and quality in mind. </p>
			          	<p>With all of these conveniently stored in your Prepdeck gone are the days of ransacking your kitchen to find your ever-elusive zester. Staying organized just got a whole lot easier!</p>
				<a href="https://prepdeck-2018.myshopify.com/products/14-piece-container-set" class="button" style="margin-top: 15px;">Order Accessories</a>
			</div>
		</div>
		<div class="thumbs">
			<div class="track">
				<img data-slide="1" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/img-01.jpg?6894163958480377361">
				<img data-slide="2" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/img-03.jpg?6894163958480377361">
				<img data-slide="3" src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/img-02.jpg?6894163958480377361">
			</div>
		</div>
		<nav class="items dirty">
			<ul>
				<li><a class="active" data-slide="1" href="javascript:;">Slide 1</a></li>
				<li><a data-slide="2" href="javascript:;">Slide 2</a></li>
				<li><a data-slide="3" href="javascript:;">Slide 3</a></li>
			</ul>
		</nav>
	</div>
</section>



{% comment %}

	{% section 'discover_template' %}


		{% section 'discover_break_section' %}


      <section class="food_container"> 
          {% section 'logo-bar' %}
      </section>

		{% section 'accessorize_trash_sec' %}
{% endcomment %}

<section class="stand pdm" style="background-image:url('https://cdn.shopify.com/s/files/1/0062/8467/3135/files/tablet.jpg?8652344227694889048');">
	<div class="dleft">
		<div class="the-content">
			<h2>Tablet Stand</h2>
			<p>It's never been easier to follow your favorite recipes while you cook when you combine this Tablet / Phone Stand with Prepdeck!</p>
		</div>
	</div>
	<div class="thumb">
		<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/tablet.jpg?8652344227694889048" alt="">
	</div>
</section>

<section class="erthing pdm">
	<h2>Everything You Need, <br/> Right At Your Fingertips</h2>
	<div class="sliderr">
      	<div class="slide">
			<div class="the-content">
				<h3>Utensil Storage</h3>
				<p style="width: 500px;">Never again feel the frustration of not finding your most commonly used cooking utensils. Thanks to Prepdeck’s built in storage compartment, you can now house your cooking sidekicks in a hidden and convenient location, ready and waiting for you when you need them.</p>
              	<a href="https://www.prepdeck.com/products/prepdeck-plus" class="button" style="margin-top: 15px;">Shop Prepdeck+</a>
			</div>
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/bottom-image-02.jpg?10952469389295133482" alt="">
			</div>
		</div>
		<div class="slide">
			<div class="the-content">
				<h3>Knife Block</h3>
				<p style="width: 500px;">The Prepdeck Knife Block is as functional as it is beautiful. Made from hand-finished sustainable Bamboo, the Knife Block fits seamlessly inside the Prepdeck Storage Drawer, keeping your counter clear and your knives ready for you when you need them.</p>
              	<a href="https://www.prepdeck.com/collections/accessories/products/new-bamboo-knife-block" class="button" style="margin-top: 15px;">Shop Knife Block</a>
			</div>
			<div class="thumb">
				<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/bottom-img-01.jpg?2772519441738932249" alt="">
			</div>
		</div>
	</div>
</section>

 <section class="prepdeck-menu">
		<div class="container">
			<div class="part">
				<a href="/products/prepdeck"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Webp.net-resizeimage_3_1.jpg?1349" class="lazyload" alt="">Prepdeck <span>Fully Loaded! Only $119</span></a>
			</div>
			<div class="part">
				<a href="/products/prepdeck-plus" data-after="Our Most Popular Option"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/prepdeck-menu-nyt-v3-min.png?v=1581367525" class="lazyload" alt="">Prepdeck+ Bundle<span>With NYT Cooking. Only $159</span></a>
			</div>
			<div class="part">
				<a href="/collections/accessories"><img data-src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/Webp.net-resizeimage_6_1.jpg?1354" class="lazyload" alt="">Accessories <span>Everything you need!</span></a>
			</div>
		</div>
	  </section>

<!--
<section class="fifty-50 pdm">
	<div class="container">
		<div class="part" style="background-image:url('https://cdn.shopify.com/s/files/1/0062/8467/3135/files/everything.jpg?956230074755488107');">
			<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/everything.jpg?956230074755488107" alt="">
		</div>
		<div class="part">
			<div class="the-content">
				<h2>Everything you need, <br/>right at your fingertips</h2>
				<p>With ample storage, you can quickly eliminate countertop clutter by storing your favorite tools, such as knives and whisks, directly in your Prepdeck.</p>
				<p>Tuck them into the handy storage compartment and be ready to tackle even the most complex of recipes.</p>
				<a class="button" href="/products/prepdeck">Order Now</a>
			</div>
		</div>
	</div>
</section>
<section class="fifty-50 pdm">
	<div class="container">
		<div class="part" style="background-image:url('//cdn.shopify.com/s/files/1/0062/8467/3135/files/img10.png?v=1545302771');">
			<img src="//cdn.shopify.com/s/files/1/0062/8467/3135/files/img10.png?v=1545302771" alt="">
		</div>
		<div class="part">
			<div class="the-content">
				<h2>Don’t forget to take out the trash</h2>
				<p>Eliminate the usual mess of clean up as you store cutting board remains inside the Prepdeck trash compartment. </p>
				<p>Directly connected to the cutting board, our trash container makes it easier than ever to manage all your scraps and dispose of waste. Prep all your ingredients at once and handle trash with ease. </p>
				<a class="button" href="/products/prepdeck">Order Now</a>
			</div>
		</div>
	</div>
</section>
-->