<header class="banner center page_banner">
	<img  src="//cdn.shopify.com/s/files/1/0062/8467/3135/files/second-slide-prepdeck_f675564a-d146-4de7-89a1-c5d35dbf2f5b_copy_1400x.progressive.jpg?v=1548117723" />
</header>


<a name="pagecontent" id="pagecontent"></a>

<div class="container main content">
	<h1>{{ page.title }}</h1>
	<pre>{{ shop.terms_of_service}}</pre>
</div>
