{% section 'product-head' %}

{% if product.handle == 'new-bamboo-knife-block' %}
	{% include 'knife-details' %}
{% endif %}

{% if product.handle == 'cutting-boards' %}
	{% include 'cutting-details' %}
{% endif %}

{% if product.handle == '14-piece-container-set' %}
	{% include 'containerSet-details' %}
{% endif %}

{% if product.handle == 'large-container-set' %}
	{% include 'containerSet2-details' %}
{% endif %}

{% if product.handle == 'prepdeckgo-travel-bag' %}
	{% include 'bag-details' %}
{% endif %}

{% if product.handle == 'tablet-phone-stand' %}
	{% include 'stand-details' %}
{% endif %}

{% if product.handle == 'xl-container-set' %}
	{% include 'xl-details' %}
{% endif %}

<section class="promise pdm">
	<div class="the-content">
		<h2>The Prepdeck Promise</h2>
		<p>We're dedicated to our craft, and to you.</p>
		<div class="icons">
			<div class="part">
				<div class="thumb">
					<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/1_2_4x.png?3678944069199253012" alt="">
				</div>
				<h3>Money Back Guarantee</h3>
			</div>
			<div class="part">
				<div class="thumb">
					<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/2_2_4x.png?3678944069199253012" alt="">
				</div>
				<h3>Thoughtful Design</h3>
			</div>
			<div class="part">
				<div class="thumb">
					<img src="https://cdn.shopify.com/s/files/1/0062/8467/3135/files/3_2_4x.png?3678944069199253012" alt="">
				</div>
				<h3>Top Tier Customer Service</h3>
			</div>
		</div>
	</div>
</section>

{% section 'testimonial' %}

{% section 'add-ons' %}

	<div id="looxReviews" data-product-id="{{product.id}}" class="">{{ product.metafields.loox.reviews }}</div>
