{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% section 'product-details-template' %}
{% endcomment %}

<style>

.test-addcart, .test-addcart:hover  {

	background: linear-gradient(to bottom, #1ea019 0%, #3da51a 44%, #27a023 51%, #71bc51 100%) !important;
	border:0px !important;
}

.test-addcart.test-two {
	display:none;
}

.product_section #add-tocart-one-one {
	display:none;
}
@media screen and (max-width:960px) {
  .test-addcart.test-two {
	display:flex;
}


}


</style>

<div class="product-{{ product.id }}">

	{% section 'product-head' %}
  
    {% section 'product-video' %}
	
	{% section 'whats-included' %}
	
	{% section 'whats-included-features' %}
	
	{% section 'shared-details' %}
	
	{% section 'testimonial' %}
	
	{% section 'add-ons' %}

  	<div id="looxReviews" data-product-id="{{product.id}}" class="">{{ product.metafields.loox.reviews }}</div>
</div>

