{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% section 'product-details-template' %}
{% endcomment %}

{% if product.handle == 'prepdeck' %}
  <div class="product-{{ product.id }} product-prepdeck-container">

    {% section 'product-prepdeck' %}

    {% section 'product-prepdeck-logolist' %}
    {% section 'product-prepdeck-testimonial' %}
    {% section 'product-prepdeck-discover' %}
    {% section 'product-prepdeck-boxelement' %}
    {% section 'product-prepdeck-carousel' %}
    {% section 'product-prepdeck-quality' %}
    {% section 'product-prepdeck-social' %}
    {% section 'product-prepdeck-cooking' %}
    {% section 'product-prepdeck-dimension' %}
    {% section 'product-prepdeck-faq' %}
    

    <div class="container">
      <div class="review-header">
        <div>Overall Rating</div>
        <div class="loox-rating-info">{{ product.metafields.loox.avg_rating }} <span>/5</span></div>
      </div>
      <div id="looxReviews" data-product-id="{{product.id}}" class="">{{ product.metafields.loox.reviews }}</div>
    </div>
    
  </div>
	
	{% include 'prepdeck-upsell-popup' %}
	{% include 'prepdeck-video-popup' %}
	{% include 'prepdeck-sticky-header' %}

{% else %}
  <div class="product-{{ product.id }}">
    {% section 'product-head' %}

    {% if product.id == 2104967659631 %}

    {% section 'product-nyt' %}

    {% endif; %}

    {% section 'product-video' %}

    {% section 'whats-included' %}

    {% section 'whats-included-features' %}

    {% section 'shared-details' %}

    {% section 'testimonial' %}

    {% section 'add-ons' %}

    <div id="looxReviews" data-product-id="{{product.id}}" class="">{{ product.metafields.loox.reviews }}</div>
  </div>
{% endif %}